
/* ==============================
            GENERAL RULES
   ============================== */

html, body {
    height: 100%;
    background: $back_color;
    font-family: $font;
    font-weight: $font_w;
    font-size: $font_sz;
    color: $font_color;
    min-width: 1280px;
}

.body_minwidth {
    min-width: 1280px;
}

body.popup_show {
    overflow-y: hidden;
    
    .pop_scroll_lock {
        overflow-y: scroll;
    }
}

a {
    color: $primary_color;
    outline: none;
    text-decoration: none;
    @include trs;

    &.grey_link {
        color: $font_color_elems;
    }

    &:hover {
        color: $primary_color_hover;
    }
}

button,input,textarea {
    font-family: $font;
}

input {
    outline: none;

    &::-webkit-input-placeholder {
        color:$layout_color_dark;
    }
    &::-moz-placeholder {
        color:$layout_color_dark;
    }
    &::-ms-input-placeholder {
       color:$layout_color_dark;
    }
    &::input-placeholder {
       color:$layout_color_dark;
    }

    &:-webkit-autofill { 
        box-shadow: 0 0 0px 1000px white inset;
    }
}







/* ---------------- TEXT STYLES ----------------*/
 h1, .primary_title {
    font-family: $font_head;
    font-size: 22px;
    font-weight: normal;
    margin: 0 0 30px;
    color: $font_color_dark;

    .separator {
        display: inline-block;
        width: 4px;
        height: 4px;
        background: $layout_color_dark;
        border-radius: 50%;
        vertical-align: middle;
        margin: 0 12px;
    }
}
h2,h3,h4,h5,h6 {
    font-weight: normal;
    margin: 0 0 20px;
}

h2 { 
    font-family: $font_head; 
    font-size: 18px; 
    color: $font_color_dark;
}
h3 { 
    font-family: $font; 
    font-size: 18px; 
    color: $font_color;
}
h4 { 
    font-family: $font; 
    font-size: 14px; 
    color: $font_color;
    margin-bottom: 30px;
}
h5 { 
    font-family: $font_head; 
    font-size: 14px; 
    color: $font_color_elems;
}
h6 { 
    font-family: $font; 
    font-size: 12px; 
    color: $font_color_elems;
}



p {
    line-height: 22px;
    font-size: 14px;
    color: $font_color;
    margin: 20px 0;
}

ul.txt_list {
    margin: 20px 0;
    padding: 0;
    list-style-type: none;

    li {
        margin-bottom: 14px;
        position: relative;
        padding-left: 20px;

        &:before {
            content: "";
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: $font_color;
            position: absolute;
            top: 5px;
            left: 0;
        }
    }

    ul {
        list-style-type: none;
        margin: 12px 0;
        padding: 0;
    }
}


.ol_reset {
  padding-left: 15px;
}

.wauto {
  width: auto !important;
}

/* ---------------- BUTTONS ----------------*/
.theme_btn {
    display: inline-block;
    color: #fff;
    background: $primary_color;
    border: none;
    padding: 0 20px;
    border-radius: $radius;
    cursor: pointer;
    height: $primary_height;
    line-height: $primary_height;
    font-size: $font_sz;
    font-family: $font_head;
    @include trs;
    vertical-align: top;

    &:hover {
        background: $primary_color_hover;
        color: #fff;
    }
    &:focus {
        background: $primary_color_hover;
        color: $primary_color;

        .icon {
            fill: $primary_color;
        }
    }

    span.title {
        margin-left: 10px;
    }

    
    &.disabled {
        color: $layout_color_dark;
        background: $layout_color_light;
        cursor: default;

        .icon {
            fill:  $layout_color_dark !important;
        }
    }

    .icon {
        fill: #fff;
        margin-right: 10px;
        @include trs;
        vertical-align: middle;
        display: inline-block;
        margin-top: -2px;
    }

    &.icon_btn {
        width: 30px;
        padding: 0;
        text-align: center;

        .icon {
            margin: 0;
            display: inline-block;
            line-height: normal;
            vertical-align: middle;
            margin-bottom: 2px;
        }
    }
}


.theme_btn_light {
    @extend .theme_btn;
    color: $primary_color;
    background: $back_color_light;

    .icon {
        fill: $primary_color;
    }

    &:hover {
        .icon {
            fill: #fff;
        }
    }

    &:focus {
        .icon {
            fill: $primary_color;
        }
    }
}




//btns block
.btns_wrap {
    .theme_btn_light,
    .theme_btn,
    .nav_link   {
        vertical-align: middle;
    }
    .theme_btn_light + .theme_btn_light,
    .theme_btn + .theme_btn,
    .nav_link,
    .ico_link + .theme_btn_light,
    .ico_link + .theme_btn,
    .ico_link + .ico_link {
        margin-left: 20px;
    }

    &--multi {
        display: flex;
        width: 600px;
        height: 80px;
        flex-wrap: wrap;
        float: right;
        justify-content: space-around;
        align-content: space-between;

        .theme_btn_light {
            margin-left: 0 !important;
        }
    }
}

//only icon link
.ico_link {
    display: inline-block;
    vertical-align: middle;

    .icon {
        fill: $layout_color_dark;
        @include trs;

        &:hover {
            fill: $primary_color_hover;
        }
    }
}


/* ==============================
     icon sizes
   ============================== */
svg.icon {
    transform: translateZ(0); //убирает размытие иконок в FF
    @include trs;
}


.icon_copy, 
.icon_edit, 
.icon_calendar,
.icon_trash {
    width: 16px;
    height: 18px;
}




.icon_info,
.icon_closed_list,
.icon_open_list {
    width: 17px;
    height: 17px;
}

.icon_view {
    width: 19px;
    height: 13px;
}

.icon_download {
    width: 12px;
    height: 17px;
}

.icon_delete, 
.icon_plus {
    width: 10px;
    height: 10px;
}

.icon_delete_big {
    width: 14px;
    height: 14px;
}

.icon_group {
    width: 16px;
    height: 10px;
}

.icon_quote {
    width: 13px;
    height: 8px;
}

.icon_edit_message {
    width: 11px;
    height: 11px;
}

.icon_clip {
    width: 21px;
    height: 20px;
}

.icon_select {
    width: 8px;
    height: 11px;
}

.icon_excel {
    width: 20px;
    height: 20px;
}

.icon_excel_small {
    width: 17px;
    height: 17px;
}

.icon_pdf {
    width: 17px;
    height: 17px;
}

.icon_bufer {
    width: 21px;
    height: 21px;
}

.icon_type_big {
    width: 40px;
    height: 46px;
}

.icon_remove_field,
.icon_add_field {
    width: 17px;
    height: 17px;
}

.icon_source {
    width: 22px;
    height: 20px;
}


.icon_car {
    width: 31px;
    height: 16px;
}
.icon_graph {
    width: 20px;
    height: 20px;
}
.icon_apply {
    width: 16px;
    height: 20px;
}
.icon_pos {
    width: 20px;
    height: 20px;
}
.icon_btl {
    width: 20px;
    height: 20px;
}
.icon_msg {
    width: 20px;
    height: 16px;
}

.icon_profile {
    width: 19px;
    height: 20px;
}

.icon_help,
.icon_search {
    width: 20px;
    height: 20px;
}

.icon_arrow_up {
    width: 16px;
    height: 20px;
}

.icon_check {
    width: 10px;
    height: 8px;
}

.icon_PR {
    width: 20px;
    height: 20px;
}

.icon_literature {
  width: 24px;
  height: 20px;
}

.icon {
    &.favorites,
    &.alert,
    &.action,
    &.calendar_big {
        width: 20px;
        height: 20px;
    }   
    &.arrow_down,
    &.arrow_up {
        width: 16px;
        height: 20px;
    }  
    &.arrow_left,
    &.arrow_right {
        height: 16px;
        width: 20px;
    }  
    &.hide {
        width: 22px;
        height: 18px;
    }

    &.group1 {
        width: 29px;
        height: 26px;
    }
    &.group2 {
        width: 29px;
        height: 27px;
    }
    &.group3 {
        width: 29px;
        height: 27px;
    }

    &.icon_type {
        width: 20px;
        height: 20px;
    }

}



/* ==============================
            FORMS
   ============================== */

._inp_style {
    width: 100%;
    height: $primary_height;
    box-sizing: border-box;
    background: $back_color_light;
    border: 1px solid $back_color_light;
    padding: 5px 8px;
    border-radius: $radius;
    color: $font_color;
    font-size: $font_sz;
    line-height: $font_sz + 2;
    @include trs;

    &:hover {
        border-color: $primary_color_hover;
    }
    &:focus {
        border-color: $primary_color_hover;
        outline: none;
    }
    &:disabled,
    &.disabled,
    &.readonly {
        cursor: default;
        background: $back_color;
        border-color: $layout_color_medium;
        color: $layout_color_dark;

        &.dark_txt {
            color: $font_color;
        }
    }
}


.inp_txt {
    @extend ._inp_style;
}

.error {
    .inp_txt, 
    .inp_textarea, 
    .chosen-container-active .chosen-single,
    .chosen-container-single .chosen-default,
    .chosen-container-single .chosen-single {
        border: 1px solid $alarm_color;
    }
    .error_txt {
        display: block;
    }
}

.error_txt {
    display: none;
    font-size: $font_sz;
    line-height: 15px;
    color: $alarm_color;
    margin: 7px 0 0;
    white-space: normal !important;
}

.inp_textarea {
    @extend .inp_txt;
    height: 90px;
    vertical-align: top;
    resize: none;

    &.large {
        height: 110px;
    }
    
    &.width_medium {
        min-width: 400px;
    }    
}



/*----------checkbox styles----------*/
.inp_checkbox {
    cursor: pointer;
    display: inline-block;
    color: $font_color_dark;
    position: relative;
    min-height: 16px;
    min-width: 16px;
    @include trs;

    input {
        position: absolute;
        left: -99999px;

        &:checked ~ .check_icon {
            .icon {
                opacity: 1;
            }
        }

        &:disabled ~ .check_icon {
            background: $back_color;
            border-color: $layout_color_medium;
            .icon {
                fill: $layout_color_dark;
            }
        }

    }

    .check_icon {
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        vertical-align: top;
        height: 14px;
        width: 14px;
        border: 1px solid $layout_color_medium;
        background: $back_color_light;
        border-radius: $radius;
        color: $primary_color;
        @include trs;

        .icon {
            position: absolute;
            top: 3px;
            left: 2px;
            width: 10px;
            height: 8px;
            fill: $primary_color;
            opacity: 0;
            transition: opacity .3s;
        }

    }

    &:hover {
        .check_icon {
            border-color: $primary_color_hover;
        }
    }

    
    .title {
        display: inline-block;
        color: $font_color;
        font-size: $font_sz;
        font-family: $font;
        line-height: 22px;
        padding-left: 24px;
        margin-top: -3px;
    }

}


.inp_radio {
    @extend .inp_checkbox;

    .check_icon {
        border-radius: 50%;
        text-align: center;
        @include trs;

        &:before {
            opacity: 0;
            transition: opacity .3s;
            content: "";
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -3px;
            margin-left: -3px;
            background: $primary_color;
        }
    }

    input {
        position: absolute;
        left: -99999px;

        &:checked ~ .check_icon {
            &:before {
                opacity: 1;
            }
        }

        &:disabled ~ .check_icon {
            &:before {
                background: $layout_color_dark;
            }
        }

    }
    
}





.tab_content_wrapper {
    border: 1px solid $layout_color_medium;
    border-radius: $radius;
    //padding: 10px 0;
    padding: 10px 0 0;

    .tab_content_block {
        border-top: 1px solid $layout_color_medium;
        padding: 25px 20px 5px; 
        position: relative;
        margin: 0;

        &:first-child {
            border-top: none;
        }

        &.has_border_top {
            border-top: 1px solid $layout_color_medium;
        }

        .field_title {
            width: 280px;
        }

        .field_elem {
            width: 704px;
        }

        .field_group_add_btn {
            .inp_txt {
                width: 554px;
            }
        }
    } 
}

//=========================================



/*----------form structure----------*/
.form_wrapper {

    .form_field {
        &.pull_left {
            margin-left: 310px;
        }
    }

    .field_title {
        width: 310px;
    }

    .field_elem {
        width: 724px;
        
        .field_title {
            width: auto;
        }
    }
    
    .field_comment {
        color: $font_color_elems;
        margin-left: 10px;
        margin-right: 10px;
    }

    .form_block_title {
        margin: 0 0 20px;
        font-weight: normal;
        &.special_checkbox {
          display: inline-block;
          vertical-align: top;
          margin-bottom: 0 !important;
          & + .form_field {
              display: inline-block;
              vertical-align: top;
              margin: -3px 0 0 35px;
            }
        }
    }

    .field_group_add_btn {
        .inp_txt {
            width: 574px;
        }
        .theme_btn_light {
            width: 92px;
            white-space: nowrap;
            text-align: center;
        }
    }
}


.field_super_small {
    width: 150px!important;
}
.field_small {
    width: 240px!important;
}
.field_medium {
    width: 360px!important;
}


.form_block {
    border-top: 1px solid $layout_color_medium;
    padding: 25px 0 5px; 
    position: relative;

    &:first-child {
        border-top: none;
    }

}
 
.form_field {
    margin-bottom: 20px;
    @extend .clearfix;

    .field_item_wrap {
        display: inline-block;
        vertical-align: top;
    }

    .inp_checkbox, .inp_radio {
        margin-top: 7px;
        margin-right: 16px;
        margin-bottom: 7px;
    }


}

.field_title {
    color: $font_color_elems;
    font-family: $font_head;
    font-size: $font_sz;
    line-height: $font_sz + 2;
    float: left;
    padding-top: 7px;
    padding-right: 10px;
    box-sizing: border-box;

    .require {
        color: $primary_color_hover;
    }
}

.field_elem {
    float: left;

    &.txt_field {
        padding-top: 7px;
    }
}


.select_wrap {
    position: relative;

    .icon {
        fill: $font_color_dark;
        width: 8px;
        height: 11px;
        position: absolute;
        z-index: 1;
        right: 10px;
        top: 10px;
    }
}


.datepicker_wrap {
    width: 120px!important;
    position: relative;

    input {
        padding-right: 30px;

        &:disabled + .icon,
        &.readonly + .icon {
            cursor: default;
            &:hover {
                fill: $layout_color_dark;
            }
        }
    }

    .icon {
        fill: $layout_color_dark;
        position: absolute;
        top: 50%;
        margin-top: -9px;
        right: 10px;
        cursor: pointer;
        @include trs;

        &:hover {
            fill: $primary_color_hover;
        }
    }

}


.phone_field {
    position: relative;

    .inp_txt {
        padding-left: 34px;
    }
    .phone_prefix {
        color: $layout_color_dark;
        position: absolute;
        left: 10px;
        top: 7px;
    }
}





/* ==============================
     TABS
   ============================== */
.tabs_wrap {
    @extend .clearfix;

    .tabs_item {
        float: left;
        padding: 0 20px;
        border-radius: $radius $radius 0 0;
        border: 1px solid transparent;
        border-bottom: none;
        margin-bottom: -1px;
        @include trs;

        .title {
            display: block;
            vertical-align: middle;
            box-sizing: border-box;
            border-bottom: 2px solid transparent;
            color: $font_color_elems;
            font-size: 15px;
            font-family: $font_head;
            height: 48px;
            line-height: 48px;
            @include trs;

           
        }
        
        &:hover {
            .title {
                color: $primary_color_hover;
            }
        }
       

        &.active {
            background: $layout_color_light;
        
            .title {
                border-color: $primary_color;
                color: $font_color_dark;
                font-weight: bold;
            }
        }
    }

    &.light_tabs {

        .tabs_item {
            &.active {
                background: $back_color;
                border-color: $layout_color_medium;
                position: relative;
            }
        }

    }
}


.switch_content {
    display: none;

    &.active {
        display: block;
    }
}








/* ==============================
             Tables
   ============================== */

.primary_table {
    background: $back_color_light;
    border-radius: $radius;
    color: $font_color_dark;
    font-size: 13px;
    width: 100%;

  
    table {
        width: 100%;
    }

    td, th {
        padding: 10px 5px;
        border-top: 1px solid $layout_color_light;
        vertical-align: middle;
        text-align: left;
        @include trs; 

        &:first-child {
            padding-left: 20px;
        }
        &:last-child {
            padding-right: 20px;
        }

        &.no_pr20 {
            padding-right: 5px!important;
        }
        &.no_pl20 {
            padding-left: 5px!important;
        }
    }

    td {
        height: 30px; //высота должна быть указана, чтобы отцентровать иконки по высоте в ячейке надо задать высоту
    }

    th {
        font-family: $font_head;
        background: $layout_color_light;
        line-height: 15px;
        padding-top: 23px;
        padding-bottom: 23px;
        font-weight: normal;
    }

    tr {

        &:hover td {
            background: #f4f6f7;
        }

        &.no_hover:hover td {
            background: none!important;
        }

        &.no_border td {
            border-top: 0!important;
        }
    }



}


.tab_inside_table {
    font-size: $font_sz;
    line-height: 20px;
    color: $font_color;

    table {
        width: 100%;
    }

    td, th {
        border-top: 1px solid #b8c6c9;
        text-align: left;
        vertical-align: top;
        padding: 12px 10px;

    }

    th {
        border-top: none;
        padding-top: 23px;
        padding-bottom: 23px;
        font-weight: normal;
    }
}

/* ==============================
     SORT ARROW (up / down )
   ============================== */
a.sort {
    color: $font_color_dark;
    display: inline-block;
    padding-left: 13px;
    position: relative;

    &:after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border: 4px solid transparent;
        position: absolute;
        top: 50%;
        left: 0;
        @include trs;
    }

    &.active {
        &.up:after {
            border-bottom-color: $font_color_dark;
        }
        &.down:after {
            border-top-color: $font_color_dark;
        }
    }

    &.down{
        &:after {
            margin-top: -2px;
            border-top-color: $layout_color_dark;
        }
        &:hover {
            &:after {
                border-top-color: $primary_color_hover;
            }
        }
    }

    &.up {
        &:after {
            margin-top: -5px;
            border-bottom-color: $layout_color_dark;
        }
        &:hover {
            &:after {
                border-bottom-color: $primary_color_hover;
            }
        }
    }

    &:hover {
        color: $primary_color_hover;
    }
}




/* ==============================
     table row hover icons
   ============================== */
.hover_icons_wrapper {
    width: 0;
    height: 100%;
    position: relative;
    z-index: 100;
    display: inline-block;
    vertical-align: middle;
}
.table_hover_icons {
    white-space: nowrap;
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    right: 0;
    transition: all .3s;
    transform: translate(0,-50%);
    

    .icon_item {
        display: inline-block;
        vertical-align: top;
        width: 32px;
        height: 32px;
        margin-left: 16px;
        border-radius: 50%;
        background: $primary_color;
        box-shadow: 0 0 8px 4px #f4f6f7;
        cursor: pointer;
        position: relative;
        transition: all .3s;
   
   
        &:hover {
            background: $primary_color_hover;
        }

        &.alarm {
            background: $alarm_color;
            &:hover {
                background: $alarm_color_hover;
            }
        }

        .icon {
            fill: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}

.primary_table tr:hover .table_hover_icons {
    opacity: 1;
    visibility: visible;
}


.table_title {
    font-family: $font; 
    font-size: 18px; 
    color: $font_color;
    cursor: pointer;
    background: #f4f6f7;
    @include trs;

    .icon {
        display: inline-block;
        vertical-align: middle;
        fill: $primary_color;
        transition: all .3s;
        margin-right: 16px;
        margin-top: -2px;

        &.icon_open_list {
            display: none;
            fill: $layout_color_dark;
        }
    }

    &:hover {
        color: $primary_color_hover;
        .icon {
            fill: $primary_color_hover;
        }
    }

    &.opened {
        .icon {
            &.icon_open_list {
                display: inline-block;
            }
            &.icon_closed_list {
                display: none;
            } 
        }
    }
}

.row_hidden {
    display: none;
}

/* ==============================
     TOOLTIPS
   ============================== */
.tooltip {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    position: absolute;
    bottom: 100%;
    margin-bottom: 10px;
    left: 50%;
    border-radius: $radius;
    background-color: rgba(31,44,55,.8);
    z-index: 9;
    padding: 7px 10px 7px 10px;
    line-height: 15px;
    font-size: 12px;
    color: #fff;
    font-family: $font_head;
    white-space: nowrap;

    &:after {
        display: block;
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: -6px;
        left: 50%;
        margin-left: -6px;
        color: rgba(31,44,55,.8);
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid rgba(31,44,55,.8);
    }
}

 

.has_tooltip {
    position: relative;
    cursor: pointer;

    &:hover .tooltip, &:hover .tooltip_right {
        opacity: 1;
        visibility: visible;
    }
}





//info icon tooltip
.info_tooltip {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    position: relative;
    width: 17px;
    height: 17px;
    cursor: pointer;

    .icon {
        fill: $layout_color_medium;
        width: 17px;
        height: 17px;
        position: relative;
        z-index: 30;
        @include trs;
    }

    .info_tooltip_item {
        position: absolute;
        z-index: 20;
        top: -10px;
        left: -10px;
        background: $back_color_light;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        width: 190px;
        box-sizing: border-box;
        padding: 10px 10px 10px 37px;
        font-size: 12px;
        color: $font_color_elems;
        font-family: $font;
        line-height: normal;
        font-weight: normal;
        border-radius: $radius;
        visibility: hidden;
        opacity: 0;
        transition: all .3s;
    }

    &:hover {
        .icon {
            fill: $primary_color_hover;
        }

        .info_tooltip_item {
            opacity: 1;
            visibility: visible;
        }
    }
}



//system message
.message_block {
    min-height: 40px;
    background: $primary_color;
    color: #fff;
    font-size: $font_sz;
    font-family: $font_head;

    .message_content {
        position: relative;
    }


    a {
        color: #fff;
        transition: opacity .3s;

        &:hover {
            opacity: 0.5;
        }
    }

    &.alarm {
        background: $alarm_color;
    }

    &.notice {
        background: #ffcc00;
    }

    .icon_info {
        fill: #fff;
        position: absolute;
        left: 0;
        top: 12px;

        & + .message_text {
            padding-left: 30px;
        }
    }

    .close {
        fill: #fff;
        position: absolute;
        right: 0;
        top: 12px;
        cursor: pointer;
        transition: opacity .3s;

        &:hover {
            opacity: 0.5;
        }
    }

    .message_text {
        padding: 12px 30px 12px 0;
        line-height: 16px;

        p {
            line-height: inherit;
            color: inherit;
            margin: 0 0 15px;
        }
    }

    &--inline {
        position: relative;

        .icon_info {
            left: 12px;
            
            & + .message_text {
                padding-left: 42px;
            }            
        }
    }
}

&.message_holder {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    .message_block {
        display: none;
    }
}




