$primary_color:  #2274ac;
$primary_color_hover:  #00b1eb;


$approve_color: #00ac35;
$approve_color_light: #94cd7e;
$alarm_color: #da3651;
$alarm_color_hover: lighten($alarm_color,10%);
$notice_color: #fff5b4;


$back_color: #eaeeed;
$back_color_light: #fff;
$back_color_dark: #33434c;
$back_color_dark_hover: #283339;
$back_color_elems: #dfe5e6;


$layout_color_light: #dae1e4;
$layout_color_medium: #b8c6c9;
$layout_color_dark: #8994a0;


$font_color: #333333;
$font_color_dark: #111111;
$font_color_elems: #6f7b7e;

$font: 'vw_text', sans-serif;
$font_head: 'vw_head', sans-serif;
$font_w: normal;
$font_sz: 14px;

$primary_height: 30px;

$radius: 2px;



@mixin trs {
    transition: color .3s, border-color .3s, background .3s, fill .3s;
}



/* ==============================
          HELPERS
   ============================== */
.ul_simple {
  padding:0;
  margin: 0;
  list-style: none;
  list-style-image:none;
  li {
    margin: 0;
    padding: 0;
    &:before {
      display: none;
    }
  }
}

.clearfix:after {
    content:"";
    display:table;
    clear:both;
}

.fl_right {float: right!important;}
.fl_left {float: left!important;}
.fl_none { float: none !important;}

.txt_center {text-align: center!important;}

.txt_right {text-align: right!important;}

.middle_valing {vertical-align: middle!important;}

.top_valing {
  vertical-align: top!important;

  td {
    vertical-align: top!important;
  }
}

.mt10 {margin-top: 10px!important}
.mt20 {margin-top: 20px!important}
.mt30 {margin-top: 30px!important}
.mt40 {margin-top: 40px!important}

.mb10 {margin-bottom: 10px!important}
.mb20 {margin-bottom: 20px!important}
.mb30 {margin-bottom: 30px!important}
.mb40 {margin-bottom: 40px!important}

.mr10 {margin-right: 10px!important}
.mr20 {margin-right: 20px!important}
.mr30 {margin-right: 30px!important}
.mr40 {margin-right: 40px!important}

.ml10 {margin-left: 10px!important}
.ml20 {margin-left: 20px!important}
.ml30 {margin-left: 30px!important}
.ml40 {margin-left: 40px!important}

.f_bold {font-weight: bold!important}
.f_italic {font-style: italic!important;}
.nowrap {white-space: nowrap!important}

.light_txt {color: $font_color_elems!important;}

.justify_content {
    display: flex; 
    justify-content: space-between;
    flex-direction: row;
    &:after {
        display: none;
    }
}

.hidden {display: none!important;}
.vis_hidden {visibility: hidden;}




.block {display: block !important;}
.in_block {display: inline-block !important;}

// ==============================















