.ui-datepicker {
    background: $back_color_light;
    margin-top: 2px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    font-family: $font;
    font-size: $font_sz;
    color: $font_color;
    width: 168px;
    padding: 0 10px 3px;

    .ui-state-highlight {
        background: $layout_color_medium;
        color: white;
    }

    .ui-datepicker-header {
        border-bottom: 1px solid $back_color;
        margin: 0 -10px;
    }

    .ui-datepicker-prev,
    .ui-datepicker-prev-hover {
        left: 10px;
        top: 2px;
    }

    .ui-datepicker-next,
    .ui-datepicker-next-hover {
        right: 10px; 
        top: 2px;
    }


    .ui-datepicker-prev span, 
    .ui-datepicker-next span {
        text-indent: -99999px;
        font-size: 0;
        overflow: hidden;
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        left: auto;
        right: auto;
        top: auto;
        cursor: pointer;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            margin-top: -5px;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            @include trs;
        }
    }

    .ui-datepicker-prev {
        span {
            &:before {
                left: 0;
                border-right-color: $font_color_elems;
            }
            &:hover{
                &:before {
                    border-right-color: $primary_color_hover;
                }
            }
        }
        &.ui-state-disabled {
            span {
                cursor: default;
                &:before {
                    border-right-color: $layout_color_medium;
                }
            }
        }
    }

    .ui-datepicker-next {
        span {
            &:before {
                right: 0;
                border-left-color: $font_color_elems;
            }
            &:hover{
                &:before {
                    border-left-color: $primary_color_hover;
                }
            }
        }
        &.ui-state-disabled {
            span {
                cursor: default;
                &:before {
                    border-left-color: $layout_color_medium;
                }
            }
        }
    }


    th {
        padding: 3px 0 7px;
        width: 24px;
        line-height: 24px;
        vertical-align: middle;
        text-align: center;
        font-size: 12px;
        color: $font_color;
        font-weight: normal;
    }

    td {
        padding: 0;
    }

    td span, 
    td a {
        width: 24px;
        height: 24px;
        line-height: 24px;
        vertical-align: middle;
        text-align: center;
        padding: 0;
        color: $font_color;
        font-size: 12px;
        border-radius: $radius;
        margin: 0;
        @include trs;

        &:hover {
            background: $primary_color_hover;
            color: #fff;
        }
        &.ui-state-active {
            background: $font_color_elems;
            color: #fff;
        }
    }

    td.ui-state-disabled {
        span, 
        a {
            background: none;
            color: $layout_color_medium;
        }
    }
}




