


@font-face {
    font-family: 'vw_head';
    src: url('../fonts/vwheadoffice-bold-webfont.eot');
    src: url('../fonts/vwheadoffice-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vwheadoffice-bold-webfont.woff2') format('woff2'),
         url('../fonts/vwheadoffice-bold-webfont.woff') format('woff'),
         url('../fonts/vwheadoffice-bold-webfont.ttf') format('truetype'),
         url('../fonts/vwheadoffice-bold-webfont.svg#vw_head_officebold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'vw_head';
    src: url('../fonts/vwheadoffice-regular-webfont.eot');
    src: url('../fonts/vwheadoffice-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vwheadoffice-regular-webfont.woff2') format('woff2'),
         url('../fonts/vwheadoffice-regular-webfont.woff') format('woff'),
         url('../fonts/vwheadoffice-regular-webfont.ttf') format('truetype'),
         url('../fonts/vwheadoffice-regular-webfont.svg#vw_head_officeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}





@font-face {
    font-family: 'vw_text';
    src: url('../fonts/vwtextoffice-bold-webfont.eot');
    src: url('../fonts/vwtextoffice-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vwtextoffice-bold-webfont.woff2') format('woff2'),
         url('../fonts/vwtextoffice-bold-webfont.woff') format('woff'),
         url('../fonts/vwtextoffice-bold-webfont.ttf') format('truetype'),
         url('../fonts/vwtextoffice-bold-webfont.svg#vw_text_officebold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'vw_text';
    src: url('../fonts/vwtextoffice-regular-webfont.eot');
    src: url('../fonts/vwtextoffice-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vwtextoffice-regular-webfont.woff2') format('woff2'),
         url('../fonts/vwtextoffice-regular-webfont.woff') format('woff'),
         url('../fonts/vwtextoffice-regular-webfont.ttf') format('truetype'),
         url('../fonts/vwtextoffice-regular-webfont.svg#vw_text_officeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}