/* ==============================
               SIDEBAR
   ============================== */
.sidebar_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2000;
    width: 95px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    background: $back_color_light;

    .logo {
        display: block;
        height: 110px;
        line-height: 110px;
        text-align: center;

        .logo_icon {
            background: url(../img/Logo_x2.png) no-repeat;
            background-size: 100%;
            width: 65px;
            display: inline-block;
            line-height: normal;
            vertical-align: middle;
            height: 65px;
        }
    }
}


.sidebar_menu {
    list-style: none;
    margin: 0;
    padding: 0;

    .menu_list_item {
        border-top: 1px solid $layout_color_light;
        height: 93px;
        @include trs;

        &:last-child {
            border-bottom: 1px solid $layout_color_light;
            height: 93px;
        }

        &:hover {
            background: $back_color;
            border-color: $back_color;

            & + .menu_list_item {
               border-top-color: $back_color; 
            }
        }
    }

    .menu_item {
        position: relative;
        display: block;
        height: 93px;
        line-height: 93px;
        text-align: center;
        padding: 0 10px;
       

        .amount_stick {
            display: block;
            position: absolute;
            top: 15px;
            right: 15px;
            height: 16px;
            line-height: 16px;
            vertical-align: middle;
            padding: 0 5px;
            min-width: 6px;
            border-radius: 15px;
            background: $layout_color_dark;
            color: #fff;
            font-size: 11px;
        }

        .content_wrap {
            display: inline-block;
            line-height: normal;
            vertical-align: middle;
        }

        .title {
            display: block;
            font-size: 11px;
            color: $back_color_dark;
            text-transform: uppercase;
            font-family: $font_head;
            font-weight: bold;
        }

        .icon {
            display: inline-block;
            vertical-align: top;
            fill: $layout_color_light;
            margin-bottom: 7px;
            @include trs;
        }

        &:hover {
    
            .icon {
                fill: $primary_color_hover;
            }
        }

        &:before, &:after {
            opacity: 0;
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            margin-top: -7px;
            left: 100%;
            width: 0;
            height: 0;
            border: 7px solid transparent;
            border-left-color: $layout_color_light;
            transition: all .3s;
        }

        &:after {
            border-left-color: $back_color_light;
            margin-left: -1px;
        }
        

        &.active {

            background: $back_color_light;

            .icon {
                fill: $primary_color_hover;
            }
            
            &:before, &:after {
                opacity: 1;
            }

        }
        
    }
}


//sidebar_pop
.sidebar_pop {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 900;
    overflow: auto;
    padding-bottom: 40px;

    .table_fix_head {
        z-index: 950;

        .inside_wrapper {
            position: relative;
        }
        
        .close {
            cursor: pointer;
            position: absolute;
            top: 50%;
            margin-top: -8px;
            right: 10px;

            .icon {
                fill: $font_color_elems;
                @include trs;
            }

            &:hover {
                .icon {
                    fill: $primary_color_hover;
                }
            }
        }
    }

    .tooltip {
        z-index: 1000;
    }

    .icon_type:hover {
        z-index: 1000;
    }

    .primary_table {
        border: 1px solid $layout_color_light;
        border-top: none;

        th {
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }

    
}

/* ==============================
               HEADER
   ============================== */

.top_header_wrap {
    background: $back_color_dark;
    height: 40px;
    vertical-align: middle;
    color: $layout_color_dark;
    font-family: $font_head;

    .cols_wrap {
        display: table;
        width: 100%;
        height: 100%;

        .col_item {
            display: table-cell;
            width: 1px;
            vertical-align: middle;
            white-space: nowrap;

            &.auto_w {
                width: auto;
            }
        }
    }
}

.head_portal_link {
    color: $layout_color_dark;
    font-size: $font_sz;
    margin-right: 20px;
}  

.head_search {
    width: 100%;
    position: relative;

    &:hover {
        .search_inp {
            background: $back_color_dark_hover;
            border-color: $back_color_dark_hover;
        }
    }

    .search_inp {
        height: 100%;
        line-height: 16px;
        font-size: $font_sz;
        padding: 12px 60px 12px 22px;
        height: 40px;
        box-sizing: border-box;
        border: none;
        border-left: 1px solid #485a65;
        border-right: 1px solid #485a65;
        background: none;
        color: #fff;
        width: 100%;
        font-family: $font_head;
        @include trs;

        &:focus {
            background: $back_color_dark_hover;
            border-color: $back_color_dark_hover;
        }
    }

    .search_btn {
        position: absolute;
        top: 50%;
        right: 20px;
        margin-top: -10px;
        display: inline-block;
        width: 20px;
        height: 20px;
        cursor: pointer;

        .submit_inp {
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            z-index: 2;
        }

        .icon {
            fill: $layout_color_dark;
            width: 100%;
            height: 100%;
            @include trs;
        }

        &:hover {
            .icon {
                fill: $primary_color_hover;
            }
        }
    }
}

.head_user_drop {
    position: relative;
    color: $layout_color_dark;
    font-family: $font_head;

    .user_info {
        position: relative;
        display: inline-block;
        vertical-align: top;
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        padding: 0 40px 0 20px;
        cursor: pointer;
        @include trs;

        &:hover {
            background: $back_color_dark_hover;
        }

        &.opened {
            background: $back_color_dark_hover;
            &:after {
                border-top-color: $primary_color_hover;
            }
        }

        .icon {
            width: 19px;
            height: 20px;
            fill: $layout_color_dark;
            margin-right: 10px;
            display: inline-block;
            line-height: normal;
            vertical-align: middle;
            margin-top: -2px;
            @include trs;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 15px;
            margin-top: -2px;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-top-color: $layout_color_dark;
            @include trs;
        }
    }

    .user_menu {
        display: none;
        position: absolute;
        z-index: 10;
        top: 100%;
        left: 0;
        width: 100%;
        background: $back_color_dark_hover;
        list-style: none;
        margin: 0;
        padding: 10px 0 15px;

        li {
            padding: 0 20px;

            a {
                display: block;
                padding: 5px 0;
                color: $layout_color_dark;

                &:hover {
                    color: $primary_color_hover;
                }
            }
        }
    }

}


.head_faq {
    padding-left: 10px;
    .icon {
        fill: $layout_color_dark;
        width: 20px;
        height: 20px;
        line-height: normal;
        vertical-align: middle;
        @include trs;
    }
    &:hover {
        .icon {
            fill: $primary_color_hover;
        } 
    }
}



.login_header_wrap {
    height: 110px;
    background: $back_color_light;

    .logo {
        display: inline-block;
        vertical-align: top;
        margin: 0 20px;
        height: 110px;
        line-height: 110px;

        .logo_icon {
            background: url(../img/Logo_x2.png) no-repeat;
            background-size: 100%;
            width: 65px;
            height: 65px;
            display: inline-block;
            line-height: normal;
            vertical-align: middle;
        }
    }   
}


/* ==============================
             header menu
   ============================== */

.menu_header_wrap {
    background: $back_color_light;
    height: 70px;
    vertical-align: middle;
}

.main_menu_list {
    list-style: none;
    margin: 15px 0 0 -20px;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    @extend .clearfix;

    .list_item {
        float: left;
        margin-right: 10px;

       .menu_item {
            display: block;
            padding: 0 20px;
            border-radius: $radius $radius 0 0;
            font-size: 15px;
            color: $font_color_elems;
            font-family: $font_head;
            height: 34px;
            padding-top: 10px;
            box-sizing: border-box;
            vertical-align: middle;
            position: relative;
            background: $back_color_light;
          
            &.active {
              color: $font_color_dark;
              font-weight: bold;
            }
            &:hover {
              color: $primary_color_hover;
            }
        }

        &.dropdown_wrap {
            position: relative;

            .menu_item {
                position: relative;
                padding-right: 35px;

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 18px;
                    right: 20px;
                    width: 0;
                    height: 0;
                    border: 4px solid transparent;
                    border-top-color: $layout_color_dark;
                    @include trs;
                }

                &:hover {
                    &:after {
                        border-top-color: $primary_color_hover;
                    }
                }

                &:before {
                    content: "";
                    display: block;
                    background: $back_color_light;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 110%;
                    height: 12px;
                    opacity: 0;
                }

                &.opened {
                    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
                    z-index: 200;
                    color: $primary_color_hover;

                    &:before {
                        opacity: 1;
                    }
                    &:after {
                        border-top-color: $primary_color_hover;
                    }
                }
            }

            ul {
                display: none;
                list-style: none;
                line-height: normal;
                padding: 10px 0 13px;
                margin: 0;
                

                &.dropdown_list {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background: $back_color_light;
                    z-index: 100;
                    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
                    border-radius: $radius;
                    border-top-left-radius: 0;
                    width: 250px; 
                }

                &.submenu_list {
                    padding-bottom: 0;
                    padding-top: 20px;
                }

                li {
                    padding: 0 20px;

                    a {
                        display: block;
                        padding: 7px 0;
                        color: $back_color_dark;
                        font-family: $font_head;
                        font-size: 14px;

                        &:hover {
                            color: $primary_color_hover;
                        }

                        &.has_submenu {
                            position: relative;
                            padding-right: 15px;

                            &:before {
                                content: "";
                                width: 100%;
                                display: block;
                                height: 1px;
                                background: $primary_color_hover;
                                transition: opacity .3s;
                                position: absolute;
                                bottom: 0;
                                margin-bottom: -10px;
                                opacity: 0;
                            }

                            &:after {
                                content: "";
                                display: block;
                                position: absolute;
                                top: 14px;
                                right: 0;
                                width: 0;
                                height: 0;
                                border: 4px solid transparent;
                                border-top-color: $layout_color_dark;
                            }

                            &:hover {
                                &:after {
                                    border-top-color: $primary_color_hover;
                                }
                            }

                            &.opened {
                                color: $primary_color_hover;

                                &:after {
                                    top: 10px;
                                    border-bottom-color: $primary_color_hover;
                                    border-top-color: transparent;
                                }

                                &:before {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }   
            }
        }

        
    }  
}




/* ==============================
             FOOTER
   ============================== */

.main_footer {
    margin-top: -110px;
    height: 110px;
    line-height: 110px;
    background: $back_color_elems;
    vertical-align: middle;
    position: relative;
    color: $font_color_elems;
    font-size: 15px;

    .version {
        float: right;
    }
}





/* ==============================
           MAIN CONTENT
   ============================== */
.main_wrapper {
    width: 100%;
    min-height: 100%;
    position: relative;
}

.main_content {
    padding: 0 0 150px 0;
}


.inside_wrapper {
    width: 1036px;
    padding: 0 10px;
    margin: 0 auto;
}

.content_block {
    padding-top: 25px;
}





/* ==============================
           CONTENT ITEMS
   ============================== */



.switcher_block {
    display: inline-block;
    vertical-align: top;
    padding: 4px;
    border-radius: $radius;
    background: $layout_color_medium;

    .switch_item {
        display: inline-block;
        vertical-align: top;
        height: 22px;
        line-height: 22px;
        vertical-align: middle;
        padding: 0 10px;
        color: #fff;
        border-radius: $radius;
        font-size: 13px;
        @include trs;

        &:hover {
            color: $primary_color_hover;
        }

        &.active {
            background: $back_color_light;
            color: $font_color_dark;
        }
    }
}






.filter_wrapper {
    background: $layout_color_light;
    padding: 20px 0 1px;

    .big_select {
        width: 347px;
    }
    .medium_select {
        width: 280px;
    }
    .small_select {
        width: 140px;
    }

    .field_title  {
        color: $font_color;
    }

    .type_check {
        margin: 5px 10px 0;

        &:before {
            display: none;
        }

        .icon_type {
            fill: $layout_color_dark;
            @include trs;
        }
        &:hover .icon_type {
            fill: $primary_color_hover;
        }

        input:checked~.icon_type {
            fill: $primary_color_hover;
        }
    }

}


.filter_clear {
    line-height: $primary_height;
    vertical-align: middle;
    margin-right: 20px;
    

    .filter_clear_link {
        color: $layout_color_dark;
        font-family: $font_head;

        &:hover {
            color: $primary_color_hover;
        }
    }
}











//apply table sytles
.primary_table {
    
    .type_source {
        display: inline-block;
        vertical-align: middle;
        padding-left: 35px;
        position: relative;

        .icon_type {
            fill: $layout_color_light;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0,-50%);
        }
        .icon_type>.icon_type {
            position: static;
            transform: none;
        }

    }

    .draft_item {
        td {
            color: $layout_color_dark;
        }
        .detail_link {
            color: $layout_color_dark;

            &:hover {
                color: $primary_color_hover;
            }
        }
    }

    .detail_link {
        display: inline-block;
        padding: 2px 5px;
        border-radius: $radius;
        color: $font_color_dark;

        &.notice {
            background: $notice_color;
            color: $font_color_dark;
        }
        &.alarm {
            background: $alarm_color;
            color: #fff;
        }
        &.approve {
            background: $approve_color_light;
            color: #fff;
        }

        &:hover {
            color: $primary_color_hover;
        }
    }

    .loading {
        color: $layout_color_medium;
    }

    
}

.spinner_wrap {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
    width: 15px;
    padding-left: 15px;
    height: 30px;

    .spinner {
        position: relative;
        height: 30px;
    }
}



.table_dropdown_wrap {
    position: relative;
    height: 16px;
    width: 16px;
    margin-right: 10px;

    .btn_wrap {
        position: absolute;
        top: -15px;
        left: -20px;
        width: 30px;
        height: 16px;
        line-height: 16px;
        padding: 15px 15px 0 20px;
        border-radius: $radius $radius 0 0;
        cursor: pointer;

        &:after {
            content: '';
            display: inline-block;
            line-height: normal;
            vertical-align: middle;
            width: 0;
            height: 0;
            border: 4px solid transparent;
            border-top-color: $layout_color_dark;
            opacity: 0;
            transition: all .3s;
            position: absolute;
            right: 15px;
            bottom: 2px;
        }

        &:hover {
            &:after {
                opacity: 1;
            }
        }

        &:before {
            content: "";
            display: block;
            background: $back_color_light;
            position: absolute;
            top: 100%;
            left: 0;
            width: 110%;
            height: 12px;
            opacity: 0;
        }

        &.opened {
            background: $back_color_light;
            box-shadow: 0 0 10px rgba(0,0,0,0.4);
            z-index: 20;

            &:before {
                opacity: 1;
            }
            &:after {
                opacity: 1;
            }
        }
    }

    .dropdown_list {
        display: none;
        position: absolute;
        z-index: 10;
        top: 100%;
        left: -20px;
        background: #fff;
        padding: 5px 0;
        margin: 0;
        list-style: none;
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
        border-radius: $radius;
        border-top-left-radius: 0;

        li {
            padding: 0 20px;
            white-space: nowrap;

            a {
                display: block;
                padding: 9px 0;
                color: $back_color_dark;
                font-family: $font_head;
                font-size: 13px;

                &:hover {
                    color: $primary_color_hover;
                }
            }
        }
    }
}




.table_fix_head {
    display: none;
    background: $layout_color_light;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;

    .primary_table {
        th {
            padding-top: 17px;
            padding-bottom: 17px;
        }
    }
}


.primary_table_total {
    color: $font_color_dark;
    font-size: 13px;
    background: $layout_color_light;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    margin-top: 20px;

    &.fixed {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 400;
    }
}


.arrow_scroll_top {
    display: none;
    position: fixed;
    bottom: 90px;
    width: 40px;
    height: 40px;
    border: 1px solid $layout_color_light;
    cursor: pointer;
    z-index: 600;
    border-radius: $radius;
    background: $back_color;
    @include trs;

    .icon {
        fill: $layout_color_medium;
        width: 16px;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -10px;
        margin-left: -8px;
        @include trs;
    }

    &:hover {
        background: $back_color_light;

        .icon {
            fill: $primary_color_hover;
        }
    }
}



//preloader
.pace .pace-progress {
    background: $primary_color_hover;
    height: 5px;
}





.field_total_comment {
    color: $font_color_elems;

    .field_elem {
        position: relative;
        height: 22px;
    }

    .total_title {
        position: absolute;
        right: 0;
        top: 0;
        white-space: nowrap;
    }
}




.days_check_links {
    padding-top: 7px;

    a {
        display: inline-block;
        vertical-align: top;
        line-height: 20px;
        margin-top: -2px;
        font-family: $font_head;
        border-bottom: 2px solid transparent;
        transition: border .3s;

        & + a {
            margin-left: 11px;
        }

        &.active {
            border-color: $primary_color;
        }
    }
}





.file_list_wrapper {
    margin: 0 -10px;
    @extend .clearfix;
}

.file_item {
    margin: 0 10px 20px;
    width: 156px;
    float: left;

    .file_title {
        display: block;
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 14px;
    }

    .item_img {
        width: 100%;
        height: 100px;
        box-sizing: border-box;
        background: $back_color_light;
        border: 1px solid $layout_color_light;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &.no_img {
            background: none;
        }

        .icon_preview {
            fill: $layout_color_dark;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            vertical-align: middle;
        }

        &:hover {
            .img_btns_wrapper {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .item_title {
        color: $font_color_elems;
        font-size: 12px;
        line-height: 14px;
        word-wrap: break-word;
        padding: 0 0 8px;
        border-bottom: 1px solid $layout_color_medium;
        margin-bottom: 10px;
    }


    &.loading {
        .item_img {
            width: 100%;
            height: 100%;
            background: #f1f5f6;
            color: #00b1eb;
            font-size: 12px;
            line-height: 98px;
            vertical-align: middle;
        }

        .item_title {
            color: $layout_color_medium;
        }
    }
    

    .item_delete {
        display: block;
        float: right;

        .icon {
            fill: $layout_color_dark;
            @include trs;

            &:hover {
                fill: $primary_color_hover;
            }
        }
    }

    .item_type {
        font-size: 12px;
        color: #000;
        vertical-align: middle;
        font-weight: bold;
        font-family: $font_head;

        .icon {
            fill: #000;
            width: 22px;
            height: 20px;
            vertical-align: middle;
        }

        .title {
            margin-left: 5px;
            vertical-align: middle;
            text-transform: uppercase;
        }
    }


    .theme_btn_light {
        width: 100%;
        height: 100px;
        line-height: 100px;
        padding: 0;
        text-align: center;
        vertical-align: middle;
        margin-top: 24px;
    }
    
}



.img_btns_wrapper {
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.9);
    display: flex;
    align-items: center;
    justify-content: center;

    .icon_btn {
        display: inline-block;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background: $primary_color;
        margin: 0 7px;
        @include trs;

        &:hover {
            background: $primary_color_hover;
        }

        &.alarm {
            background: $alarm_color;
            &:hover {
                background: $alarm_color_hover;
            }
        }

        .icon {
            fill: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

        }
    }
}



.upload_btn {
    overflow: hidden;

    input {
        position: absolute;
        left: -99999px;
    }

}

.loading_msg {
    padding-left: 35px;
    color: $primary_color;
    font-size: 12px;
    font-family: $font_head;
    position: relative;

    .spinner {
        margin-left: 12px;
        z-index: 100!important;
    }   
}









.message_item {
    color: $font_color_dark;

    .message_head {
        @extend .clearfix;
        margin-bottom: 5px;

        .head_item {
            display: inline-block;
            vertical-align: baseline;

            &.date {
                margin-left: 33px;
                position: relative;

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: -20px;
                    top: 50%;
                    margin-top: -1px;
                    background: $layout_color_dark;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                }

                &.notice {
                    background: $notice_color;
                    padding: 2px 8px 4px;
                    border-radius: $radius;
                }
            }

            &.private {
                background: $layout_color_dark;
                padding: 2px 8px 4px;
                border-radius: $radius;
                color: $back_color;
                margin-left: 20px;
            }
        }
    }

    .message_txt {
        font-size: $font_sz;
        line-height: 22px;
        margin-bottom: 20px;
        margin-top: 15px;
    }

    .message_quote {
        position: relative;
        background: $back_color_elems;
        padding: 18px 20px 20px;
        margin-bottom: 15px;
        color: $font_color_elems;
        font-size: $font_sz;
        line-height: 22px;
        border-radius: $radius;

        &:before {
            content: "";
            display: block;
            height: 0;
            border-style: solid;
            border-color: transparent;
            border-width: 12px 20px 12px 20px;
            border-right-color: $back_color_elems;
            position: absolute;
            right: 20px;
            bottom: -12px;
        }

        .quote_title {
            margin-bottom: 10px;
        }
    }

    .msg_file {
        margin-bottom: 20px;
        padding-top: 10px;
    }

    .file_link {
        color: $font_color_elems;
        padding-left: 35px;
        position: relative;
        display: inline-block;
        vertical-align: top;

        .icon {
            fill: $layout_color_medium;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0,-50%);
            @include trs;
        }

        &:hover {
            color: $primary_color_hover;

            .icon {
                fill: $primary_color_hover;
            }
        }
    }
}

.icon_btn_wrap {
    .theme_btn_light + .theme_btn_light {
        margin-left: 7px;
    }
}

.file_name {
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    max-width: 520px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


//accordion styles
.history_wrapper {
    padding-top: 20px;
    padding-bottom: 30px;
}

.accor_list_head {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    background: $back_color_elems;
    padding: 0 20px;
    border-top: 1px solid $layout_color_medium;
    border-bottom: 1px solid $layout_color_medium;

    .head_item {
        font-size: 15px;
        color: $font_color_dark;
        margin-right: 40px;
    }
}

.accor_list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;

    &.first_lvl {
        display: block;
        padding: 0 10px;
        
        & > .list_item:first-of-type {
            border-top: none;
        }

        &:last-child {
            & > .list_item:last-child {
                border-bottom: 1px solid $layout_color_medium;
            }
        }

    }

    .list_item {
        border-top: 1px solid $layout_color_medium;
    }

    .accor_title {
        position: relative;
        height: 50px;
        line-height: 50px;
        vertical-align: middle;
        padding-left: 44px;
        @include trs;
        color: $font_color_dark;
        cursor: pointer;

        .icon {
            position: absolute;
            top: 50%;
            margin-top: -8px;
            margin-left: -31px;
            fill: $primary_color;
            transition: all .3s;

            &.icon_open_list {
                opacity: 0;
                visibility: hidden;
                fill: $layout_color_dark;
            }
        }

        &:hover {
            color: $primary_color_hover;
            .icon {
                fill: $primary_color_hover;
            }
        }

        &.opened {
            .icon {
                &.icon_open_list {
                    opacity: 1;
                    visibility: visible;
                }
                &.icon_closed_list {
                    opacity: 0;
                    visibility: hidden;
                } 
            }
        }
    }

   

    .accor_info_content {
        display: none;
        border-top: 1px solid $layout_color_medium;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 44px;
        padding-right: 10px;

        .info_item {
            td {
                padding: 6px 40px 6px 0;
            }
        }
    }


    &.second_lvl {
        .accor_title,
        .accor_info_content {
            padding-left: 77px;
        }
    }

    &.third_lvl {
        .accor_title,
        .accor_info_content {
            padding-left: 108px;
        }
    }

}



//apply status block
.status_wrapper {
    padding: 0 7px 25px;
}




/* Auth page */
.login_form {
    .field_title {
        width: 57px;
    }
    .form_field {
        &.pull_left {
            margin-left: 57px;
        }
    }

    .inp_checkbox .title {
        color: $font_color_elems;
    }
}

.reg_form {
    width: 600px;

    .field_title {
        width: 122px;
    }

    .field_elem {
        width: 240px;
    }

    .form_field {
        &.pull_left {
            margin-left: 132px;
        }
    }
    
    .form_block {
        width: 362px;

        &:first-child {
            padding-top: 0;
        }
    }
}

.accept_form { 
    
    .field_title {
        width: 267px;
    }
    
    .form_field {
        &.pull_left {
            margin-left: 277px;
        }
    }
}

.reject_form { 
    
    .form_field {
        &.pull_left {
            margin-left: 10px;
        }
    }
    
}




.system_pop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    z-index: 20000;
    justify-content: center;
    align-items: center;

    &.show {
        display: flex!important;
    }

    .pop_content {
        background: $back_color;
        padding: 30px;
        max-width: 400px;
        // position: absolute; 
        // top: 50%;
        // left: 50%;
        //transform: translate(-50%,-50%); //размывает контент!!!
        border-radius: $radius;
    }

    .pop_btns {
        text-align: right;
        margin-top: 20px;

        a {
            margin-left: 20px;
        }
    }
}


.popup {
    @extend .system_pop;

    .pop_content {
        width: 720px;
        max-width: 720px;

        &.small_popup {
            width: 200px;
        }
    }

    .popup_header {
        @extend .clearfix;
        min-height: 40px;
    }

    .close {
        float: right;
        margin-left: 30px;
        margin-bottom: 20px;

        .icon {
            fill: $font_color_elems;

            &:hover {
                fill: $primary_color_hover;
            }
        }
    }


    .form_field {
        &.pull_left {
            margin-left: 210px;
        }
    }

    .field_title {
        width: 210px;
    }

    .field_elem {
        width: 510px;
    }

    .mCustomScrollbar {
        .field_elem {
            width: 480px;
        }

        &.mCS_no_scrollbar {
            .field_elem {
                width: 510px;
            }
        }
    }
    
}




// extended filter
.extended_filter_wrapper {
    
}

.extended_filter_fields {
    margin-right: -10px;
}

.extended_filter_field {
    border: 1px solid $layout_color_medium;
    padding: 6px 25px 6px 10px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    border-radius: $radius;
    position: relative;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 512px;

    .field_elem {
        width: auto;
        margin-right: 10px;
        float: right;
    }

    .field_title {
        width: auto;
    }

    .field_super_small {
        width: 120px!important;
    }

    .field_small {
        width: 220px!important;
    }

    .field_medium {
        width: 320px!important;
    }

    .field_delete {
        position: absolute;
        top: 50%;
        right: 15px;
        cursor: pointer;
        transform: translate(0,-50%);

        .icon {
            fill: $layout_color_dark;
        }

        &:hover {
            .icon {
                fill: $primary_color_hover;
            }
        }
    }
}



.sys_content_header {
    @extend .clearfix;
    padding-top: 15px;
    border-top: 1px solid $layout_color_medium;
    margin-bottom: 20px;
}


.primary_item_info {
    float: left;
    font-size: $font_sz;
    font-family: $font_head;
    margin-bottom: 5px;
    max-width: 500px;
    display: table;

    .item {
        display: table-row;

        .status,
        .title,
        .info {
            display: table-cell;
            padding: 20px 20px 0 0;    
            vertical-align: middle;     
        }

        &:first-child {
            .status,
            .title,
            .info {
                padding-top: 0;         
            }
        }

        .title {
            color: $font_color_elems;


        }

        .status {
            color: $font_color;
            font-weight: bold;
            font-family: $font_head;
        }
    }
}

.status_edit_wrapper {
    float: right;

    .status_edit_item {
        & + .status_edit_item {
            margin-top: 20px;
        }
    }
}


.status_drop {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-left: 20px;

    .status_btn {
        margin-right: 5px;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .status_btn_drop {
        margin-left: 0 !important;
        float: right;
        &:focus {
            background: $back_color_light;
            .icon {
                fill: $primary_color;
            }
        }
    }

    .status_dropdown {
        width: 300px;
        left: auto;
        right: 0;
    }
}


.dropdown_item {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    box-sizing: border-box;
    background: $back_color_light;
    border-radius: $radius;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border: none;
    margin-top: 2px;
    padding: 5px 10px;
    z-index: 1000;

    li {
        padding: 4px 0;
        font-size: $font_sz;
        color: $font_color;
        line-height: $font_sz + 2;
        font-family: $font;
        @include trs;
    }
}


.status_dropdown {
    padding: 7px 20px 10px;   

    li {
        padding: 6px 0;
        color: $layout_color_medium;

        &.current {
            font-weight: bold;
            color: $font_color;
        }

        a {
            display: block;
        }

    }

    .status_group {
        & + .status_group {
            margin-top: 10px;
            border-top: 1px solid $layout_color_light;
            padding-top: 7px;
        }
    }

    .back {
        .back_title {
            color: $font_color_elems;
            padding-bottom: 6px;
        }

        ul {
            padding-left: 25px;
        }
    }

}



.checks_drop {
    position: relative;

    .drop_inp {
       @extend ._inp_style;
       cursor: pointer;
       position: relative;
       display: block;
       white-space: nowrap;
       text-overflow: ellipsis;
       overflow: hidden;
       padding-right: 25px;

       .icon {
            fill: #111111;
            width: 8px;
            height: 11px;
            position: absolute;
            z-index: 20;
            right: 10px;
            top: 50%;
            margin-top: -5px;
       }

       &.disabled {
            .icon {
                fill: $layout_color_dark;
            }
       }

       &.focused {
            border-color: $primary_color_hover;
       }
    }

    .inp_checkbox {
        margin-top: 0;
        margin-bottom: 0;
    }
    
}



.img_popup_view {
    img {
        max-width: 100%;
    }
}



.table_inside_form_wrapper {
    margin: 0 -20px;
    margin-bottom: -6px;
}


.primary_table.table_inside_form {
    background: $back_color;

    table {
        border-bottom: 1px solid $layout_color_medium;
    }
    
    td, th {
        padding-left: 5px;
        padding-right: 5px;
        border-top: 1px solid $layout_color_medium;

        &:first-child {
            padding-left: 20px;
        }
        &:last-child {
            padding-right: 20px;
        }


    }

    &.more_cell_padding {
        td,th {
            padding-left: 15px;
            padding-right: 10px;

            &:first-child {
                padding-left: 20px;
            }
            &:last-child {
                padding-right: 20px;
            }
        }
    }

    tr {

        &:hover td {
            background: #e2e7e8;
        }
    }

    .field_small {
        width: 115px!important;
    }
    .field_super_small {
        width: 74px!important;
    }
    .field_medium {
        width: 160px!important;
    }
    .field_large {
        width: 220px;
    }
    .field_super_large {
        width: 290px;
    }

    .field_comment {
        color: $layout_color_dark;
        margin: 0 0 0 5px;
    }

    .table_dropdown_wrap {
        margin-right: 10px;
    }

    td {
        .table_dropdown_wrap {
            margin-top: 7px;
        }
    }

    .row_trigger {
        background: $layout_color_light;

        &:hover {
            td {
                background: $layout_color_light;
            }
        }
    }


    .toggler_icon_wrap {
        @extend .table_title;
        background: none;
        display: inline-block;
        vertical-align: middle;
        padding: 15px;
        margin-left: -15px;
        margin-top: 17px;

        .icon {
            margin: 0;
        }
    }

    .field_title,
    .field_elem {
        width: auto;
        margin-bottom: 8px;
        
        & > .field_elem,
        & > .field_title {
            margin-bottom: 0;
        }
        
    }

    .top_title {
        float: none;
    }

    .field_item_wrap {
        display: inline-block;
        vertical-align: baseline;
        margin-right: 16px;
    }

    
    .icon_type {
        fill: $font_color_elems;
    }

    .no_border {
        td,
        th {
            border: none;
        }
        & + tr {
            td,
            th {
                border-top: none;
            }
        }
    }

    .has_bt {
        border-top: 1px solid $layout_color_medium !important;
    }
    .has_bl {
        border-left: 1px solid $layout_color_medium !important;
    }
    .has_br {
        border-right: 1px solid $layout_color_medium !important;
    }
    .has_bb {
        border-bottom: 1px solid $layout_color_medium !important;
    }
    .small_padding {
        padding: 10px 10px!important;
    }
    
}

.row_trigger {
    .hover_icons_wrapper {
        width: auto;
        margin-top: 30px;
        display: inline-block;
        vertical-align: top;
        height: auto;

        .table_hover_icons {
            opacity: 1;
            visibility: visible;
            margin-left: 0;
            position: static;
            transform: translate(0,0);
        }

        .icon_item {
            box-shadow: none;
            &:first-child {
                margin-left: 0;
            }
        }
    }   
}

.visible_actions {
    .hover_icons_wrapper {
        width: auto;
        display: inline-block;
        vertical-align: top;
        height: auto;

        .table_hover_icons {
            opacity: 1;
            visibility: visible;
            margin-left: 0;
            position: static;
            transform: translate(0,0);
        }

        .icon_item {
            box-shadow: none;
            &:first-child {
                margin-left: 0;
            }
        }
    }    
}

.tab_content_wrapper {
    .statistics_block {
        margin: 0 0 -1px;
        margin-right: 0;
        padding: 20px 20px;
        border-bottom: 1px solid $layout_color_medium;
        background: $layout_color_light;
        color: $font_color_elems;
        font-family: $font_head;

        .item {
            margin-right: 16px;
        }

        .accent {
            color: $font_color_dark;
        }
    }

    &.no_padding {
        padding: 0;
    }

    .tab_padding_block {
        padding: 20px 20px 10px;


    }

    .primary_table + .tab_padding_block {
        margin-top: 10px;
    }
}



.tab_block_comment {
    .field_title {
        width: 130px;
    }
    .field_elem {
        width: 860px;
    }
}


.primary_table {
    .statistic_col {
        width: 12px;
        max-width: 12px;
        min-width: 12px;
        padding: 0!important;
        padding: 0!important;
        vertical-align: middle;

        &.border_block {
            border-left: 1px solid $layout_color_medium;
        }

        .report_model {
            margin: 0;
            width: 100%;
            height: 10px;
        }

        &.one_cell_col {
            width: 100%;
        }
    }
}

//statistics colors
.stat_color {
    &.radio {background: #d48c00}
    &.tv {background: #8159b3}
    &.internet {background: #e084cb}
    &.outdoor {background: #ffa37a}
    &.press {background: #5d92cc}
    &.crm {background: #47bcaa}
    &.indoor {background: #00ac35}
    &.pos {background: #86764b}
    &.other {background: #818181}
    &.pr {background: #fff997}
    &.literature {background: #e23417}
    &.event {background: #9cc27e}
}


.media_type {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}


.field_icon {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;

    .icon {
        @include trs;
    }
    .icon_remove_field {
        fill: $alarm_color;
    } 
    .icon_add_field {
        fill: $primary_color;
    } 
    &:hover {
        .icon_remove_field {
            fill: $alarm_color_hover;
        }
        .icon_add_field {
            fill: $primary_color_hover;
        } 
    }
}


.field_with_icon {
    white-space: nowrap;

    & + & {
        margin-top: 10px;
    }
    .field_elem {
        margin: 0!important;
        display: inline-block;
        float: none;
        vertical-align: middle;
    }

    .datepicker_wrap {
      display: inline-block;
    }
}




.table_total_item {
    width: 100%;

    td {
        padding: 0 5px;
        text-align: left;

        &:first-child {
            padding-left: 20px;
        }
        &:last-child {
            padding-right: 20px;
        }
    }
}



.field_elem_special {
  display: block !important;
  float: none !important;
  margin: 0 0 8px;
}


.new_mark {
    display: inline-block;
    background: $primary_color;
    border-radius: 15px;
    min-width: 6px;
    padding: 0 5px;
    height: 16px;
    line-height: 16px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 11px;
    margin-left: 5px;
    margin-top: -18px;
    font-weight: normal;
    font-family: $font;
}



//quearterly report
.table_percent_wrap {
    display: inline-block;
    text-align: left;

    .scale {
        width: 100px;
        height: 4px;
        background: $layout_color_light;
        margin-top: 10px;
        position: relative;

        .scale_summ {
            height: 100%;
            background: #9cc27e;
            max-width: 100%;
        }

        &.summ_over {
            padding-right: 30px;

            .scale_summ {
                width: 100%!important;
            }

            &:after {
                content: "";
                display: block;
                height: 100%;
                width: 30px;
                position: absolute;
                right: 0;
                top: 0;
                background: #506441;
            }
        }
    }

    .scale_comment {
        color: $font_color_elems;
        font-size: 12px;
        margin-top: 5px;
    }
}


.primary_table {
    .category {
        font-weight: bold;
    }
    .subcategory {
        padding-left: 35px!important;
    }

    .media_name_width {
        min-width: 115px;
    }
    .group_row {
        td {
            background: #f4f6f7;
        }
    }
}

//404 page
.txt404 {
    font-size: 222px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 40px;

    .img {
        display: inline-block;
        width: 154px;
        height: 154px;
        margin-left: 15px;
        margin-right: 15px;
        background: url(../img/vw_logo.png) no-repeat;
        background-size: 100%;
    }
}

.limited-table-x {
    overflow: auto;

    .mCSB_inside > .mCSB_container {
        margin-right: 0;
    }
}

.detached-header {
    border: 0 !important;
}

.pencil-that-oleg-made {
    .btn_wrap {
        &:hover,
        &.opened {
            svg {
                fill: $primary_color_hover;
            }
        }

        &:before {
            left: auto;
            right: 0;
        }
    }

    .dropdown_list {
        left: auto;
        right: -29px;
    }

    .icon {
        transform: translateY(-3px);
    }
}

.no-result-msg {
    padding: 40px 20px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: $layout_color_light;

    h1 {
        width: 100%;
        margin-top: 25px;
        text-align: center;
    }

    svg {
        $size: 100px;
        width: $size;
        height: $size;
    }
}

.compensation-tab-block {
    &:not(.active) {
        display: none;
    }
}
