.mCSB_scrollTools {
    opacity: 1;
    width: 3px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
// .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
// .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    width: 3px;
    background: $layout_color_medium;
    border-radius: 3px; 
}

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background: $primary_color_hover;
}

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
    background: $primary_color;
}

.mCSB_scrollTools .mCSB_draggerRail {
    width: 3px;
    border-radius: 3px;
    background: $back_color;
}


.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    width: 100%;
    height: 3px;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    margin: 7px auto;
    width: 100%;
    height: 3px;
}
    

.primary_table {
    .mCSB_scrollTools.mCSB_scrollTools_horizontal {
        height: 3px;
    }
    .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail,
    .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
        margin: 0;
    }
    .mCSB_horizontal.mCSB_inside > .mCSB_container {
        margin-bottom: 2px;
    }
    .mCSB_horizontal.mCSB_inside > .mCSB_container.mCS_no_scrollbar_x.mCS_x_hidden {
        margin-bottom: 0px;
    }    
    .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
        background: #fff;
    }

    &.table_inside_form {
        .mCSB_scrollTools.mCSB_scrollTools_horizontal {
            border-bottom: 1px solid $layout_color_medium;
        }
    }
}