    </div><!--/main_wrapper-->

    <footer class="main_footer">
        <div class="inside_wrapper">
            <div class="version">Версия 1.0.0</div>
            <div class="copyright">2016 Copyright  © Volkswagen</div>
        </div>
    </footer>


    <!-- SCRIPTS -->
    <script src="resources/js/libs.js"></script>
    <script src="resources/js/main.js"></script>
    <script src="temp/layout.js"></script><!-- js only for verstka, not for production-->



