        <!-- HEADER BLOCK -->
        <header class="header_wrapper">

            <div class="top_header_wrap">
                <div class="inside_wrapper">
                    <div class="cols_wrap">
                        <div class="col_item">
                            <a href="#" class="head_portal_link">Перейти в Маркетинговый портал</a>
                        </div>

                        <div class="col_item auto_w">
                            <div class="head_search">
                                <form>
                                    <input type="text" class="search_inp" placeholder="Введите номер заявки для поиска">
                                    <div class="search_btn">
                                        <input type="submit" value="" class="submit_inp">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Search">
                                        </svg>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col_item">
                            <div class="head_user_drop">
                                <div class="user_info js_dropdown_trigger">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Profile">
                                    </svg>
                                    <span class="title">Андреев С.В. / Атлант-М</span>
                                </div>
                                <ul class="user_menu js_dropdown_item">
                                    <li class="list_item"><a href="#" class="menu_link">Настройка учетной записи</a></li>
                                    <li class="list_item"><a href="#" class="menu_link">Мои документы</a></li>
                                    <li class="list_item"><a href="#" class="menu_link">Выход</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col_item">
                            <a href="#" class="head_faq">
                                <svg class="icon">
                                    <use xlink:href="resources/img/sprite.svg#Help">
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- /top_header_wrap -->


            <div class="menu_header_wrap">
                <div class="inside_wrapper">
                    <nav class="main_menu">
                        <ul class="main_menu_list">
                            <li class="list_item dropdown_wrap">
                                <a href="#" class="menu_item js_dropdown_trigger">Планирование</a>
                                <ul class="dropdown_list js_dropdown_item">
                                    <li><a href="#">Годовое планирование</a></li>
                                    <li><a href="#">Квартальное планирование</a></li>
                                </ul>
                            </li>
                            <li class="list_item dropdown_wrap">
                                <a href="#" class="menu_item active js_dropdown_trigger">Размещения</a>
                                <ul class="dropdown_list js_dropdown_item">
                                    <li><a href="#">POSm</a></li>
                                    <li><a href="#">BTL</a></li>
                                </ul>
                            </li>
                            <li class="list_item"><a href="#" class="menu_item">Квартальная отчетность</a></li>
                            <li class="list_item"><a href="#" class="menu_item">Продажи</a></li>
                            <li class="list_item dropdown_wrap">
                                <a href="#" class="menu_item js_dropdown_trigger">Отчеты</a>
                                <ul class="dropdown_list js_dropdown_item">
                                    <li><a href="#">Отчет по размещениям</a></li>
                                    <li><a href="#">Фотоотчет</a></li>
                                    <li><a href="#">Отчет по доп. бюджету ATL</a></li>
                                    <li>
                                        <a href="#" class="has_submenu js_submenu_trigger">BTL</a>
                                        <ul class="submenu_list js_submenu_item">
                                            <li><a href="#">Сводный отчет по мероприятиям</a></li>
                                            <li><a href="#">Отчет по статистике мероприятий</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div><!-- /inside_wrapper -->
            </div><!-- /menu_header_wrap -->

        </header><!-- /header_wrapper -->

