        <!-- SIDEBAR BLOCK -->
        <aside class="sidebar_wrapper">
            <a href="#" class="logo"><i class="logo_icon"></i></a>
            <ul class="sidebar_menu">
                <li class="menu_list_item">
                    <a href="#" class="menu_item js_sidebar_pop">
                        <span class="content_wrap">
                            <svg class="icon icon_car">
                                <use xlink:href="resources/img/sprite.svg#Plan_year">
                            </svg>
                            <span class="title">план годовой</span>
                        </span>
                        <span class="amount_stick">2</span>
                    </a>
                </li>
                <li class="menu_list_item">
                    <a href="#" class="menu_item js_sidebar_pop">
                        <span class="content_wrap">
                            <svg class="icon icon_graph">
                                <use xlink:href="resources/img/sprite.svg#Plan_quarter">
                            </svg>
                            <span class="title">план квартал</span>
                        </span>
                        <span class="amount_stick">9</span>
                    </a>
                </li>
                <li class="menu_list_item">
                    <a href="#" class="menu_item js_sidebar_pop">
                        <span class="content_wrap">
                            <svg class="icon icon_apply">
                                <use xlink:href="resources/img/sprite.svg#Claim">
                            </svg>
                            <span class="title">заявки</span>
                        </span>
                        <span class="amount_stick">79</span>
                    </a>
                </li>
                <li class="menu_list_item">
                    <a href="#" class="menu_item js_sidebar_pop">
                        <span class="content_wrap">
                            <svg class="icon icon_pos">
                                <use xlink:href="resources/img/sprite.svg#POS">
                            </svg>
                            <span class="title">POS</span>
                        </span>
                        <span class="amount_stick">27</span>
                    </a>
                </li>
                <li class="menu_list_item">
                    <a href="#" class="menu_item js_sidebar_pop">
                        <span class="content_wrap">
                            <svg class="icon icon_btl">
                                <use xlink:href="resources/img/sprite.svg#BTL">
                            </svg>
                            <span class="title">BTL</span>
                        </span>
                        <span class="amount_stick">7</span>
                    </a>
                </li>
                <li class="menu_list_item">
                    <a href="#" class="menu_item js_sidebar_pop">
                        <span class="content_wrap">
                            <svg class="icon icon_msg">
                                <use xlink:href="resources/img/sprite.svg#Messages">
                            </svg>
                            <span class="title">сообщения</span>
                        </span>
                        <span class="amount_stick">127</span>
                    </a>
                </li>
            </ul><!-- /sidebar_menu -->
            
        </aside><!-- /sidebar_wrapper -->


        <div class="sidebar_pop body_minwidth js_gorizont_scroll">
            <div class="table_fix_head body_minwidth js_gorizont_scroll js_popup_show_margin">
                <div class="inside_wrapper">
                    <div class="primary_table">
                        <table>
                            <!-- table header-->
                            <tr class="header_row js_fixed_table_header_sidebar"></tr>
                        </table>
                    </div>
                    <span href="#" class="close js_sidebar_close">
                        <svg class="icon icon_delete">
                            <use xlink:href="resources/img/sprite.svg#Delete">
                        </svg>
                    </span>
                </div>
            </div>
            <div class="inside_wrapper">
                @@include('sidebar_table.html')
            </div><!--/inside_wrapper -->
        </div><!-- /sidebar_pop -->