<!-- sidebar table -->
<div class="primary_table">
    <table>
        <!-- table header-->
        <tr class="header_row js_table_header_sidebar">
            <th><a href="#" class="sort down">№</a></th>
            <th><a href="#" class="sort down">Дата</a></th>
            <th><a href="#" class="sort down active">Статус</a></th>
            <th><a href="#" class="sort up">Дилер</a></th>
            <th><a href="#" class="sort down">Носитель, СМИ/Адрес</a></th>
        </tr>

        <!-- table body-->
        
        <tr>
            <td>
                <a href="#" class="detail_link notice has_tooltip">262082
                    <span class="tooltip">есть обновление</span>
                </a>
            </td>
            <td class="nowrap">13.11 17:52</td>
            <td>Подгрузить фотоотчеты и статистику</td>
            <td>Аксель-Сити</td>
            <td>
                <div class="type_source">
                    <div class="icon_type has_tooltip">
                        <svg class="icon icon_type">
                            <use xlink:href="resources/img/sprite.svg#Outdoor">
                        </svg> 
                        <span class="tooltip">Наружная реклама</span>
                    </div>
                    <span>ул.Космонавтов - ул. Пешестрелецкая</span>
                </div>
            </td>
        </tr>

        <tr>
            <td><a href="#" class="detail_link">262082</a></td>
            <td class="nowrap">13.11 17:52</td>
            <td>Утверждение Агентством 1 (баер)</td>
            <td>Фердинанд Моторс</td>
            <td>
                <div class="type_source">
                    <div class="icon_type has_tooltip">
                        <svg class="icon icon_type">
                            <use xlink:href="resources/img/sprite.svg#Press">
                        </svg> 
                        <span class="tooltip">Пресса</span>
                    </div>
                    <span>Вести Региона</span>
                </div>
            </td>
        </tr>

        <tr>
            <td><a href="#" class="detail_link">262080</a></td>
            <td class="nowrap">13.11 16:42</td>
            <td>Подгрузить фотоотчеты и статистику</td>
            <td>Genser Реутов</td>
            <td>
                <div class="type_source">
                    <div class="icon_type has_tooltip">
                        <svg class="icon icon_type">
                            <use xlink:href="resources/img/sprite.svg#Internet">
                        </svg> 
                        <span class="tooltip">Интернет</span>
                    </div>
                    <span>www.vongomedia.ru</span>
                </div>
            </td>
        </tr>

        <tr class="draft_item">
            <td><a href="#" class="detail_link">262078</a></td>
            <td class="nowrap">13.11 16:12</td>
            <td>Черновик</td>
            <td>Гедон-Моторс</td>
            <td>
                <div class="type_source">
                    <div class="icon_type has_tooltip">
                        <svg class="icon icon_type">
                            <use xlink:href="resources/img/sprite.svg#Outdoor">
                        </svg> 
                        <span class="tooltip">Наружная реклама</span>
                    </div>
                    <span>с. Наджеда, въезд в г. Ставрополь, пост ГАИ</span>
                </div>
            </td>
        </tr>

        <tr>
            <td><a href="#" class="detail_link">262076</a></td>
            <td class="nowrap">13.11 16:12</td>
            <td>Утверждение Агентством 3 (аккаунт)</td>
            <td>Крым-Автохолдинг</td>
            <td>
                <div class="type_source">
                    <div class="icon_type has_tooltip">
                        <svg class="icon icon_type">
                            <use xlink:href="resources/img/sprite.svg#Internet">
                        </svg> 
                        <span class="tooltip">Интернет</span>
                    </div>
                    <span>www.odnoklassniki.ru</span>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <a href="#" class="detail_link alarm has_tooltip">262080
                    <span class="tooltip">отклонена</span>
                </a>
            </td>
            <td class="nowrap">13.11 17:52</td>
            <td>Подгрузить фотоотчеты и статистику</td>
            <td>Аксель-Сити</td>
            <td>
                <div class="type_source">
                    <div class="icon_type has_tooltip">
                        <svg class="icon icon_type">
                            <use xlink:href="resources/img/sprite.svg#Outdoor">
                        </svg> 
                        <span class="tooltip">Наружная реклама</span>
                    </div> 
                    <span>ул.Космонавтов - ул. Пешестрелецкая</span>
                </div>
            </td>
        </tr>

        <tr>
            <td><a href="#" class="detail_link">262082</a></td>
            <td class="nowrap">13.11 17:52</td>
            <td>Утверждение Агентством 1 (баер)</td>
            <td>Фердинанд Моторс</td>
            <td>
                <div class="type_source">
                    <div class="icon_type has_tooltip">
                        <svg class="icon icon_type">
                            <use xlink:href="resources/img/sprite.svg#Press">
                        </svg> 
                        <span class="tooltip">Пресса</span>
                    </div> 
                    <span>Вести Региона</span>
                </div>
            </td>
        </tr>

        <tr>
            <td><a href="#" class="detail_link">262080</a></td>
            <td class="nowrap">13.11 16:42</td>
            <td>Подгрузить фотоотчеты и статистику</td>
            <td>Genser Реутов</td>
            <td>
                <div class="type_source">
                    <div class="icon_type has_tooltip">
                        <svg class="icon icon_type">
                            <use xlink:href="resources/img/sprite.svg#Internet">
                        </svg> 
                        <span class="tooltip">Интернет</span>
                    </div> 
                    <span>www.vongomedia.ru</span>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <a href="#" class="detail_link approve has_tooltip">262081
                    <span class="tooltip">завершена</span>
                </a>
            </td>
            <td class="nowrap">13.11 16:12</td>
            <td>Черновик</td>
            <td>Гедон-Моторс</td>
            <td>
                <div class="type_source">
                    <div class="icon_type has_tooltip">
                        <svg class="icon icon_type">
                            <use xlink:href="resources/img/sprite.svg#Outdoor">
                        </svg> 
                        <span class="tooltip">Наружная реклама</span>
                    </div>
                    <span>с. Наджеда, въезд в г. Ставрополь, пост ГАИ</span>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <a href="#" class="detail_link notice has_tooltip">262082
                    <span class="tooltip">есть обновление</span>
                </a>
            </td>
            <td class="nowrap">13.11 17:52</td>
            <td>Подгрузить фотоотчеты и статистику</td>
            <td>Аксель-Сити</td>
            <td>
                <div class="type_source">
                    <div class="icon_type has_tooltip">
                        <svg class="icon icon_type">
                            <use xlink:href="resources/img/sprite.svg#Outdoor">
                        </svg> 
                        <span class="tooltip">Наружная реклама</span>
                    </div>
                    <span>ул.Космонавтов - ул. Пешестрелецкая</span>
                </div>
            </td>
        </tr>

        <tr>
            <td><a href="#" class="detail_link">262082</a></td>
            <td class="nowrap">13.11 17:52</td>
            <td>Утверждение Агентством 1 (баер)</td>
            <td>Фердинанд Моторс</td>
            <td>
                <div class="type_source">
                    <div class="icon_type has_tooltip">
                        <svg class="icon icon_type">
                            <use xlink:href="resources/img/sprite.svg#Press">
                        </svg> 
                        <span class="tooltip">Пресса</span>
                    </div>
                    <span>Вести Региона</span>
                </div>
            </td>
        </tr>

        <tr>
            <td><a href="#" class="detail_link">262080</a></td>
            <td class="nowrap">13.11 16:42</td>
            <td>Подгрузить фотоотчеты и статистику</td>
            <td>Genser Реутов</td>
            <td>
                <div class="type_source">
                    <div class="icon_type has_tooltip">
                        <svg class="icon icon_type">
                            <use xlink:href="resources/img/sprite.svg#Internet">
                        </svg> 
                        <span class="tooltip">Интернет</span>
                    </div>
                    <span>www.vongomedia.ru</span>
                </div>
            </td>
        </tr>

        <tr class="draft_item">
            <td><a href="#" class="detail_link">262078</a></td>
            <td class="nowrap">13.11 16:12</td>
            <td>Черновик</td>
            <td>Гедон-Моторс</td>
            <td>
                <div class="type_source">
                    <div class="icon_type has_tooltip">
                        <svg class="icon icon_type">
                            <use xlink:href="resources/img/sprite.svg#Outdoor">
                        </svg> 
                        <span class="tooltip">Наружная реклама</span>
                    </div>
                    <span>с. Наджеда, въезд в г. Ставрополь, пост ГАИ</span>
                </div>
            </td>
        </tr>

        <tr>
            <td><a href="#" class="detail_link">262076</a></td>
            <td class="nowrap">13.11 16:12</td>
            <td>Утверждение Агентством 3 (аккаунт)</td>
            <td>Крым-Автохолдинг</td>
            <td>
                <div class="type_source">
                    <div class="icon_type has_tooltip">
                        <svg class="icon icon_type">
                            <use xlink:href="resources/img/sprite.svg#Internet">
                        </svg> 
                        <span class="tooltip">Интернет</span>
                    </div>
                    <span>www.odnoklassniki.ru</span>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <a href="#" class="detail_link alarm has_tooltip">262080
                    <span class="tooltip">отклонена</span>
                </a>
            </td>
            <td class="nowrap">13.11 17:52</td>
            <td>Подгрузить фотоотчеты и статистику</td>
            <td>Аксель-Сити</td>
            <td>
                <div class="type_source">
                    <div class="icon_type has_tooltip">
                        <svg class="icon icon_type">
                            <use xlink:href="resources/img/sprite.svg#Outdoor">
                        </svg> 
                        <span class="tooltip">Наружная реклама</span>
                    </div> 
                    <span>ул.Космонавтов - ул. Пешестрелецкая</span>
                </div>
            </td>
        </tr>

        <tr>
            <td><a href="#" class="detail_link">262082</a></td>
            <td class="nowrap">13.11 17:52</td>
            <td>Утверждение Агентством 1 (баер)</td>
            <td>Фердинанд Моторс</td>
            <td>
                <div class="type_source">
                    <div class="icon_type has_tooltip">
                        <svg class="icon icon_type">
                            <use xlink:href="resources/img/sprite.svg#Press">
                        </svg> 
                        <span class="tooltip">Пресса</span>
                    </div> 
                    <span>Вести Региона</span>
                </div>
            </td>
        </tr>

        <tr>
            <td><a href="#" class="detail_link">262080</a></td>
            <td class="nowrap">13.11 16:42</td>
            <td>Подгрузить фотоотчеты и статистику</td>
            <td>Genser Реутов</td>
            <td>
                <div class="type_source">
                    <div class="icon_type has_tooltip">
                        <svg class="icon icon_type">
                            <use xlink:href="resources/img/sprite.svg#Internet">
                        </svg> 
                        <span class="tooltip">Интернет</span>
                    </div> 
                    <span>www.vongomedia.ru</span>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <a href="#" class="detail_link approve has_tooltip">262081
                    <span class="tooltip">завершена</span>
                </a>
            </td>
            <td class="nowrap">13.11 16:12</td>
            <td>Черновик</td>
            <td>Гедон-Моторс</td>
            <td>
                <div class="type_source">
                    <div class="icon_type has_tooltip">
                        <svg class="icon icon_type">
                            <use xlink:href="resources/img/sprite.svg#Outdoor">
                        </svg> 
                        <span class="tooltip">Наружная реклама</span>
                    </div>
                    <span>с. Наджеда, въезд в г. Ставрополь, пост ГАИ</span>
                </div>
            </td>
        </tr>
      
    </table><!--/table_item -->
</div><!--/sidebar table -->