<div class="system_pop" id="@@id">
    <div class="pop_content">
        <div class="pop_txt">@@msg</div>
        <div class="pop_btns">
            <a href="#" class="theme_btn_light js_system_pop_close">Да</a>
            <a href="#" class="theme_btn_light js_system_pop_close">Нет</a>
        </div>
    </div>
</div>
