@@include('template/head.html', { "title": "Заявки список" })
@@include('template/sidebar.html')
@@include('template/header.html')



<article class="main_content">
    

    <!-- CONTENT BLOCK -->
    <div class="content_block inside_wrapper">


        <div class="txt404 txt_center">4<div class="img"></div>4</div>
        <h1 class="txt_center">К сожалению, такой страницы не существует</h1>
        <p class="txt_center">Вы попали на эту страницу потому что запрашиваемый вами адрес не существует на сервере, <br> проверьте, правильно ли вы ввели адрес или воспользуйтесь меню для поиска интересующей вас информации.</p>

       
    </div><!--/inside_wrapper -->



</article><!--/main_content -->








@@include('template/footer.html')

<!-- здесь подключать скрипт для этой страницы -->

@@include('template/footer_end.html')
       