@@include('template/head.html', { "title": "Заявкa: отчеты и статистика" })
@@include('template/sidebar.html')
@@include('template/header.html')



<article class="main_content">


    <!-- CONTENT BLOCK -->
    <div class="content_block inside_wrapper clearfix">

        <h1 class="primary_title">Заявка №259656<span class="separator"></span>ATL</h1>


        <div class="sys_content_header">
            <div class="primary_item_info">
                <div class="item">
                    <span class="title">Дилер</span>
                    <a href="#" class="info">Макс Моторс, Новосибирск (код: 174)</a>
                </div>
                <div class="item">
                    <span class="title">Категория</span>
                    <span class="info">Наружная реклама</span>
                </div>
            </div>

            <div class="status_edit_wrapper">
                <div class="status_edit_item txt_right">
                    <span class="title">Статус:</span>
                    <span class="current">Утверждение Импортером</span>
                </div>
                
                <div class="status_edit_item">
                    <div class="status_drop">
                        <a href="#" class="theme_btn_light js_select_drop status_btn_drop">Вернуть заявку</a>
                        <div class="dropdown_item js_select_drop_item status_dropdown">
                            <ul class="status_group ul_simple">
                                <li class="back"><div class="back_title">Вернуть заявку:</div>
                                    <ul class="ul_simple">
                                        <li class="current">Утверждение Импортером</li>
                                        <li class="active"><a href="#">Подгрузить фотоотчеты и статистику</a></li>
                                        <li>Утверждение Агентством 2 (Дизайнер)</li>
                                        <li>Утверждение Агентством 3 (Аккаунт)</li>
                                        <li>Отчеты и статистика</li>
                                        <li>Закрытие заявки Агентством (Аккаунт)</li>
                                        <li>Закрытие заявки Агентством (Менеджер по размещению )</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="#" class="nav_link grey_link">Закрыть</a>
                </div>
            </div>
        </div><!-- /sys_content_header -->

        <div class="content_nav_wrap clearfix">
            <!-- TABS -->
            <div class="tabs_wrap light_tabs">
                <a href="#" class="tabs_item js_tabs"><span class="title">Заявка</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Сообщения</span></a>
                <a href="#" class="tabs_item js_tabs active"><span class="title">Отчеты и статистика</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Статусы</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">История</span></a>
            </div>
        </div>

     

        <div class="tab_content_wrapper form_wrapper">
        
            <form action="">
            
               <!-- /FORM BLOCK -->
                <div class="tab_content_block">

                    <h2 class="form_block_title">Статистика</h2>


                    <div class="form_field">
                        <div class="field_title">Avg. GRP (Среднесуточный рейтинг)</div>
                        <div class="field_elem">
                            <input type="text" class="inp_txt field_small" value="3,97">
                        </div>
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">OTS (Общее количество контактов)</div>
                        <div class="field_elem">
                            <input type="text" class="inp_txt field_small" value="34,05">
                            <span class="field_comment">тыс.</span>
                        </div>
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Frequency (Частота)</div>
                        <div class="field_elem">
                            <input type="text" class="inp_txt field_small" value="Н/д">
                        </div>
                    </div><!-- /form_field -->


                </div><!-- /tab_content_block -->



                <!-- /FORM BLOCK -->
                <div class="tab_content_block">

                    <h2 class="form_block_title">Фото отчет 
                        <div class="info_tooltip">
                            <svg class="icon icon_info">
                                <use xlink:href="resources/img/sprite.svg#Info">
                            </svg> 
                            <div class="info_tooltip_item">В этом пункте указывается фактическое  количество показов одного носителя в период размещения</div>
                        </div>
                    </h2>


                    <div class="fileupload_wrap clearfix">
                        <div class="file_list_wrapper js_eq_height">
                            <div class="file_item">
                                <a href="#" class="file_title js_popup js_img_pop_render" data-popup="#img_popup" data-img-link="temp/trash_img/big.jpg" data-img-name="Макет 1" data-img-src="temp/trash_img/big.jpg">Макет 1</a>
                                <div class="item_img">
                                    <img src="temp/trash_img/preview.jpg">
                                    <div class="img_btns_wrapper">
                                        <a href="#" class="icon_btn has_tooltip js_popup js_img_pop_render" data-popup="#img_popup" data-img-link="temp/trash_img/big.jpg" data-img-name="Макет 1" data-img-src="temp/trash_img/big.jpg">
                                            <svg class="icon icon_view">
                                                <use xlink:href="resources/img/sprite.svg#View">
                                            </svg>
                                            <span class="tooltip">Посмотреть</span>
                                        </a>
                                        <a href="#" class="icon_btn has_tooltip">
                                            <svg class="icon icon_download">
                                                <use xlink:href="resources/img/sprite.svg#Download">
                                            </svg>
                                            <span class="tooltip">Скачать</span>
                                        </a>
                                        <a href="#" class="icon_btn alarm has_tooltip">
                                            <svg class="icon icon_delete">
                                                <use xlink:href="resources/img/sprite.svg#Delete">
                                            </svg>
                                            <span class="tooltip">Удалить</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="item_title js_eq_height_item">DSC_9093</div>
                                <a href="#" class="item_delete">
                                    <svg class="icon icon_trash">
                                        <use xlink:href="resources/img/sprite.svg#Trash">
                                    </svg>
                                </a>
                                <div class="item_type">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Img">
                                    </svg>
                                    <span class="title">JPG</span>
                                </div>
                            </div><!-- нет пробела
                         --><div class="file_item">
                                <a href="#" class="file_title js_popup js_img_pop_render" data-popup="#img_popup" data-img-link="temp/trash_img/big2.jpg" data-img-name="Макет 2" data-img-src="temp/trash_img/big2.jpg">Макет 2</a>
                                <div class="item_img">
                                    <img src="temp/trash_img/preview.jpg">
                                    <div class="img_btns_wrapper">
                                        <a href="#" class="icon_btn has_tooltip js_popup js_img_pop_render" data-popup="#img_popup" data-img-link="temp/trash_img/big2.jpg" data-img-name="Макет 2" data-img-src="temp/trash_img/big2.jpg">
                                            <svg class="icon icon_view">
                                                <use xlink:href="resources/img/sprite.svg#View">
                                            </svg>
                                            <span class="tooltip">Посмотреть</span>
                                        </a>
                                        <a href="#" class="icon_btn has_tooltip">
                                            <svg class="icon icon_download">
                                                <use xlink:href="resources/img/sprite.svg#Download">
                                            </svg>
                                            <span class="tooltip">Скачать</span>
                                        </a>
                                        <a href="#" class="icon_btn alarm has_tooltip">
                                            <svg class="icon icon_delete">
                                                <use xlink:href="resources/img/sprite.svg#Delete">
                                            </svg>
                                            <span class="tooltip">Удалить</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="item_title js_eq_height_item">DSC_9093</div>
                                <a href="#" class="item_delete">
                                    <svg class="icon icon_trash">
                                        <use xlink:href="resources/img/sprite.svg#Trash">
                                    </svg>
                                </a>
                                <div class="item_type">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Img">
                                    </svg>
                                    <span class="title">JPG</span>
                                </div>
                            </div><!-- нет пробела
                         --><div class="file_item loading">
                                <a href="#" class="file_title js_popup">Макет 3</a>
                                <div class="item_img">
                                    <div class="loading_msg">
                                        <div class="spinner"></div>
                                        Идет загрузка
                                    </div>
                                </div>
                                <div class="item_title js_eq_height_item">Amarok_VW_somenameofthefile that i want to  see hereasddas_89324 _ VW.tiff</div>
                                <a href="#" class="item_delete">
                                    <svg class="icon icon_trash">
                                        <use xlink:href="resources/img/sprite.svg#Trash">
                                    </svg>
                                </a>
                            </div><!-- нет пробела
                         --><label class="file_item upload_btn" for="file_inp">
                                <span class="theme_btn_light">Загрузить еще</span>
                                <input id="file_inp" type="file" multiple="">
                            </label>
                        </div><!-- /file_list_wrapper -->
                    </div>

                    <div class="mt10 mb20">
                        <a href="#">Открыть все макеты</a>
                    </div>

                </div><!-- /tab_content_block -->

            </form>

        </div><!-- /tab_content_wrapper -->


        <div class="btns_wrap txt_right mt20">
            <a href="#" class="theme_btn">Сохранить</a>
            <a href="#" class="theme_btn_light">Отправить</a>
            <a href="#" class="nav_link grey_link">Отмена</a>
        </div>



    </div><!--/inside_wrapper -->

</article><!--/main_content -->



@@include('template/footer.html')

<!-- здесь подключать скрипт для этой страницы -->

@@include('template/footer_end.html')
       