@@include('template/head.html', { "title": "Заявкa BTL" })
@@include('template/sidebar.html')
@@include('template/header.html')

<article class="main_content">


    <!-- CONTENT BLOCK -->
    <div class="content_block alt_padding inside_wrapper clearfix">

        <h1 class="primary_title">Заявка №273221<span class="separator"></span>BTL</h1>

        <div class="sys_content_header">

            <div class="primary_item_info">
                <div class="item">
                    <span class="title">Дилер</span>
                    <a href="#" class="info">Тестовый дилер</a>
                </div>
                <div class="item">
                    <span class="title">Город</span>
                    <span class="info">Москва (код не указан)</span>
                </div>
            </div>

            <div class="status_edit_wrapper">
                <div class="status_edit_item txt_right">
                    <span class="title">Статус:</span>
                    <span class="current">Наполнение</span>
                </div>
                
                <div class="status_edit_item">
                    <a href="#" class="theme_btn">Сохранить</a>
                    <div class="status_drop">
                        <a href="#" class="theme_btn_light status_btn">Проверка Агентством</a>
                        <a href="#" class="theme_btn_light icon_btn js_select_drop status_btn_drop">
                            <svg class="icon icon_select">
                                <use xlink:href="resources/img/sprite.svg#Dropdown">
                            </svg>
                        </a>
                        <div class="dropdown_item js_select_drop_item status_dropdown">
                            <ul class="status_group ul_simple">
                                <li class="current">Наполнение</li>
                                <li class="active"><a href="#">Проверка Агентством</a></li>
                                <li>Проверка Импортером</li>
                                <li>Утверждено</li>
                            </ul>
                        </div>
                    </div>
                    <a href="#" class="nav_link grey_link">Закрыть</a>
                </div>
            </div>

        </div><!-- /sys_content_header -->

        <div class="content_nav_wrap clearfix">
            <!-- TABS -->
            <div class="tabs_wrap light_tabs">
                <a href="#" class="tabs_item js_tabs active"><span class="title">Планирование</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Отчетность</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Компенсация</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Сообщения<span class="new_mark">9</span></span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Статусы</span></a>
            </div>
        </div>

        
        <div class="tab_content_wrapper form_wrapper">
            <form action="">


                <!-- /FORM BLOCK -->
                <div class="tab_content_block">

                    <h2 class="form_block_title">Общая информация</h2>
                    
                    <div class="form_field">
                        <div class="field_title">Тип мероприятия <span class="require">*</span></div>
                        <div class="field_elem">
                            <div class="select_wrap field_small">
                                <select class="js_chosen_select">
                                    <option></option>
                                    <option>Собственное дополнительное</option>
                                    <option>Тип мероприятия </option>
                                    <option>Собственное дополнительное</option>
                                    <option>Тип мероприятия </option>
                                </select>
                                <svg class="icon">
                                    <use xlink:href="resources/img/sprite.svg#Dropdown">
                                </svg>
                            </div>
                        </div>
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Название мероприятия <span class="require">*</span></div>
                        <div class="field_elem"><input type="text" class="inp_txt"></div>
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Описание мероприятия</div>
                        <div class="field_elem">
                            <textarea class="inp_textarea large"></textarea>
                        </div><!-- /field_elem -->
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Период проведения <span class="require">*</span></div>
                        <div class="field_elem">
                            <div class="clearfix">
                                <div class="field_title">с</div>
                                <div class="field_elem datepicker_wrap mr10">              
                                    <input type="text" class="inp_txt js_datepicker js_date_mask">
                                    <svg class="icon icon_calendar js_datepicker_show">
                                        <use xlink:href="resources/img/sprite.svg#Calendar_small">
                                    </svg> 
                                </div>
                                <div class="field_title">по</div>
                                <div class="field_elem datepicker_wrap">
                                    <input type="text" class="inp_txt js_datepicker js_date_mask">
                                    <svg class="icon icon_calendar js_datepicker_show">
                                        <use xlink:href="resources/img/sprite.svg#Calendar_small">
                                    </svg> 
                                </div>
                            </div>
                        </div>
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Планируемое количество человек</div>
                        <div class="field_elem">
                            <input type="text" class="inp_txt field_super_small">
                        </div>
                    </div><!-- /form_field -->

                </div><!-- /tab_content_block -->


                <!-- /FORM BLOCK -->
                <div class="tab_content_block">

                    <h2 class="form_block_title">Макет 
                        <div class="info_tooltip">
                            <svg class="icon icon_info">
                                <use xlink:href="resources/img/sprite.svg#Info">
                            </svg> 
                            <div class="info_tooltip_item">В этом пункте указывается фактическое  количество показов одного носителя в период размещения</div>
                        </div>
                    </h2>


                    <div class="fileupload_wrap clearfix">
                        <div class="file_list_wrapper js_eq_height">
                            <div class="file_item">
                                <a href="#" class="file_title js_popup js_img_pop_render" data-popup="#img_popup" data-img-link="temp/trash_img/big.jpg" data-img-name="Макет 1" data-img-src="temp/trash_img/big.jpg">Макет 1</a>
                                <div class="item_img">
                                    <img src="temp/trash_img/preview.jpg">
                                    <div class="img_btns_wrapper">
                                        <a href="#" class="icon_btn has_tooltip js_popup js_img_pop_render" data-popup="#img_popup" data-img-link="temp/trash_img/big.jpg" data-img-name="Макет 1" data-img-src="temp/trash_img/big.jpg">
                                            <svg class="icon icon_view">
                                                <use xlink:href="resources/img/sprite.svg#View">
                                            </svg>
                                            <span class="tooltip">Посмотреть</span>
                                        </a>
                                        <a href="#" class="icon_btn has_tooltip">
                                            <svg class="icon icon_download">
                                                <use xlink:href="resources/img/sprite.svg#Download">
                                            </svg>
                                            <span class="tooltip">Скачать</span>
                                        </a>
                                        <a href="#" class="icon_btn alarm has_tooltip">
                                            <svg class="icon icon_delete">
                                                <use xlink:href="resources/img/sprite.svg#Delete">
                                            </svg>
                                            <span class="tooltip">Удалить</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="item_title js_eq_height_item">DSC_9093</div>
                                <a href="#" class="item_delete">
                                    <svg class="icon icon_trash">
                                        <use xlink:href="resources/img/sprite.svg#Trash">
                                    </svg>
                                </a>
                                <div class="item_type">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Img">
                                    </svg>
                                    <span class="title">JPG</span>
                                </div>
                            </div>
                            <div class="file_item">
                                <a href="#" class="file_title js_popup js_img_pop_render" data-popup="#img_popup" data-img-link="temp/trash_img/big2.jpg" data-img-name="Макет 2" data-img-src="temp/trash_img/big2.jpg">Макет 2</a>
                                <div class="item_img">
                                    <img src="temp/trash_img/preview.jpg">
                                    <div class="img_btns_wrapper">
                                        <a href="#" class="icon_btn has_tooltip js_popup js_img_pop_render" data-popup="#img_popup" data-img-link="temp/trash_img/big2.jpg" data-img-name="Макет 2" data-img-src="temp/trash_img/big2.jpg">
                                            <svg class="icon icon_view">
                                                <use xlink:href="resources/img/sprite.svg#View">
                                            </svg>
                                            <span class="tooltip">Посмотреть</span>
                                        </a>
                                        <a href="#" class="icon_btn has_tooltip">
                                            <svg class="icon icon_download">
                                                <use xlink:href="resources/img/sprite.svg#Download">
                                            </svg>
                                            <span class="tooltip">Скачать</span>
                                        </a>
                                        <a href="#" class="icon_btn alarm has_tooltip">
                                            <svg class="icon icon_delete">
                                                <use xlink:href="resources/img/sprite.svg#Delete">
                                            </svg>
                                            <span class="tooltip">Удалить</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="item_title js_eq_height_item">DSC_9093</div>
                                <a href="#" class="item_delete">
                                    <svg class="icon icon_trash">
                                        <use xlink:href="resources/img/sprite.svg#Trash">
                                    </svg>
                                </a>
                                <div class="item_type">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Img">
                                    </svg>
                                    <span class="title">JPG</span>
                                </div>
                            </div>
                            <div class="file_item loading">
                                <a href="#" class="file_title js_popup">Макет 3</a>
                                <div class="item_img">
                                    <div class="loading_msg">
                                        <div class="spinner"></div>
                                        Идет загрузка
                                    </div>
                                </div>
                                <div class="item_title js_eq_height_item">Amarok_VW_somenameofthefile that i want to  see hereasddas_89324 _ VW.tiff</div>
                                <a href="#" class="item_delete">
                                    <svg class="icon icon_trash">
                                        <use xlink:href="resources/img/sprite.svg#Trash">
                                    </svg>
                                </a>
                            </div>
                            <label class="file_item upload_btn" for="file_inp">
                                <span class="theme_btn_light">Загрузить еще</span>
                                <input id="file_inp" type="file" multiple="">
                            </label>
                        </div><!-- /file_list_wrapper -->
                    </div>

                    <div class="mt10 mb20">
                        <a href="#">Открыть все макеты</a>
                    </div>

                </div><!-- /tab_content_block -->




                


                <div class="tab_content_block">
                    <h2 class="form_block_title special_checkbox">Анонсирующая кампания</h2>
                    <div class="form_field">
                        <div class="field_elem">
                            <label class="inp_checkbox">
                                 <input type="checkbox">
                                 <span class="check_icon">
                                     <svg class="icon">
                                         <use xlink:href="resources/img/sprite.svg#Check">
                                     </svg> 
                                 </span>
                                 <span class="title">Не проводилась</span>
                             </label>                                 
                        </div>
                    </div><!-- /form_field -->
                    <p>Для связи данной BTL-заявки с размещениями анонсирующей кампании 
                        или POS-материалами, используйте следующую таблицу: отфильтруйте 
                        и выберите необходимые заявки, после чего нажмите кнопку «Добавить» внизу. 
                        Привязка возможна только при выполнении следующих условий:</p>
                    <ol class="ol_reset">
                        <li>Набор моделей BTL-заявки совпадает с моделями размещений.</li>
                        <li>Размещения не были ранее привязаны к другим BTL-заявкам.</li>
                    </ol>
                </div><!-- /tab_content_block -->


                <div class="tab_content_block">
                    <div class="form_field">
                        <div class="field_elem wauto">
                            <div class="field_title mr20">Носитель</div>
                            <div class="field_elem select_wrap field_super_small">
                                <select name="Status" class="js_chosen_select">
                                    <option data-default="true">ТВ</option>
                                    <option>Все статусы</option> 
                                    <option>Закрытые</option>
                                    <option>Автоматически заблокировано</option>
                                    <option>Закрытие заявки</option>
                                    <option>Закрытие заявки Агентством 1 (баер)</option>
                                    <option>Закрытие заявки Агентством 2 (аккаунт)</option>
                                    <option>Заявка закрыта</option>
                                    <option>Заявка закрыта с ошибкой</option>
                                    <option>Отклонено Импортером</option>
                                    <option>Подгрузить фотоотчеты и статистику</option>
                                    <option>Подгрузка статистики Агентством</option>
                                    <option>Подгрузка фотоотчетов Агентством</option>
                                    <option>Подтверждение макета руководителем</option>
                                    <option>Размещение</option>
                                    <option>Согласовано</option>
                                    <option>Утверждение Агентством 1 (баер)</option>
                                    <option>Утверждение Агентством 2 (дизайнер)</option>
                                    <option>Утверждение Агентством 3 (аккаунт)</option>
                                    <option>Утверждение Импортером</option>
                                    <option>Черновик</option>
                                </select>
                                <svg class="icon">
                                    <use xlink:href="resources/img/sprite.svg#Dropdown">
                                </svg>
                            </div>
                        </div>
                       
                        <div class="field_elem wauto ml30 js_period">
                            <div class="field_title">с</div>
                            <div class="field_elem datepicker_wrap mr10">              
                                <input name="PeriodFrom" type="text" class="inp_txt js_period_from js_datepicker js_date_mask" value="" data-default="">
                                <svg class="icon icon_calendar js_datepicker_show">
                                    <use xlink:href="resources/img/sprite.svg#Calendar_small">
                                </svg> 
                            </div>
                            <div class="field_title">по</div>
                            <div class="field_elem datepicker_wrap">
                                <input name="PeriodTo" type="text" class="inp_txt js_period_to js_datepicker js_date_mask" value="" data-default="">
                                <svg class="icon icon_calendar js_datepicker_show">
                                    <use xlink:href="resources/img/sprite.svg#Calendar_small">
                                </svg> 
                            </div>
                        </div>    


                        <input type="submit" class="theme_btn fl_right" value="Найти">
                        <div class="filter_clear fl_right">
                            <a href="" class="js_clear_filter filter_clear_link">Сбросить фильтр</a>
                        </div>
                    </div><!--/form_field-->

                        
                    <div class="table_inside_form_wrapper mt30 mb20">
                        <div class="primary_table table_inside_form">
                            <table class="detached-header">
                                <!-- table header-->
                                <tr class="header_row">
                                    <th>
                                        <label class="inp_checkbox">
                                            <input type="checkbox" class="js_table_check_all">
                                            <span class="check_icon">
                                                <svg class="icon">
                                                    <use xlink:href="resources/img/sprite.svg#Check">
                                                </svg> 
                                            </span>
                                        </label>
                                    </th>
                                    <th>№</th>
                                    <th>Дата</th>
                                    <th>Статус</th>
                                    <th>Описание</th>
                                    <th>Период</th>
                                    <th>Бюджет</th>
                                </tr>
                            </table>
                            <div class="limited-table-x js_custom_scroll">
                                <table>
                                <tr>
                                    <td>
                                        <label class="inp_checkbox">
                                            <input type="checkbox">
                                            <span class="check_icon">
                                                <svg class="icon">
                                                    <use xlink:href="resources/img/sprite.svg#Check">
                                                </svg> 
                                            </span>
                                        </label>
                                    </td>
                                    <td>263225</td>
                                    <td>10.12 22:38</td>
                                    <td>Черновик</td>
                                    <td><Новое СМИ></td>
                                    <td>24.11–30.11</td>
                                    <td>100,00</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="inp_checkbox">
                                            <input type="checkbox">
                                            <span class="check_icon">
                                                <svg class="icon">
                                                    <use xlink:href="resources/img/sprite.svg#Check">
                                                </svg> 
                                            </span>
                                        </label>
                                    </td>
                                    <td>235081</td>
                                    <td>24.08 13:55</td>
                                    <td>Черновик</td>
                                    <td>Европа+ (Ейск)</td>
                                    <td>08.07–12.07</td>
                                    <td>412,00</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="inp_checkbox">
                                            <input type="checkbox">
                                            <span class="check_icon">
                                                <svg class="icon">
                                                    <use xlink:href="resources/img/sprite.svg#Check">
                                                </svg>
                                            </span>
                                        </label>
                                    </td>
                                    <td>235081</td>
                                    <td>24.08 13:55</td>
                                    <td>Черновик</td>
                                    <td>Европа+ (Ейск)</td>
                                    <td>08.07–12.07</td>
                                    <td>412,00</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="inp_checkbox">
                                            <input type="checkbox">
                                            <span class="check_icon">
                                                <svg class="icon">
                                                    <use xlink:href="resources/img/sprite.svg#Check">
                                                </svg>
                                            </span>
                                        </label>
                                    </td>
                                    <td>235081</td>
                                    <td>24.08 13:55</td>
                                    <td>Черновик</td>
                                    <td>Европа+ (Ейск)</td>
                                    <td>08.07–12.07</td>
                                    <td>412,00</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="inp_checkbox">
                                            <input type="checkbox">
                                            <span class="check_icon">
                                                <svg class="icon">
                                                    <use xlink:href="resources/img/sprite.svg#Check">
                                                </svg>
                                            </span>
                                        </label>
                                    </td>
                                    <td>235081</td>
                                    <td>24.08 13:55</td>
                                    <td>Черновик</td>
                                    <td>Европа+ (Ейск)</td>
                                    <td>08.07–12.07</td>
                                    <td>412,00</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="inp_checkbox">
                                            <input type="checkbox">
                                            <span class="check_icon">
                                                <svg class="icon">
                                                    <use xlink:href="resources/img/sprite.svg#Check">
                                                </svg>
                                            </span>
                                        </label>
                                    </td>
                                    <td>235081</td>
                                    <td>24.08 13:55</td>
                                    <td>Черновик</td>
                                    <td>Европа+ (Ейск)</td>
                                    <td>08.07–12.07</td>
                                    <td>412,00</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="inp_checkbox">
                                            <input type="checkbox">
                                            <span class="check_icon">
                                                <svg class="icon">
                                                    <use xlink:href="resources/img/sprite.svg#Check">
                                                </svg>
                                            </span>
                                        </label>
                                    </td>
                                    <td>235081</td>
                                    <td>24.08 13:55</td>
                                    <td>Черновик</td>
                                    <td>Европа+ (Ейск)</td>
                                    <td>08.07–12.07</td>
                                    <td>412,00</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="inp_checkbox">
                                            <input type="checkbox">
                                            <span class="check_icon">
                                                <svg class="icon">
                                                    <use xlink:href="resources/img/sprite.svg#Check">
                                                </svg>
                                            </span>
                                        </label>
                                    </td>
                                    <td>235081</td>
                                    <td>24.08 13:55</td>
                                    <td>Черновик</td>
                                    <td>Европа+ (Ейск)</td>
                                    <td>08.07–12.07</td>
                                    <td>412,00</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="inp_checkbox">
                                            <input type="checkbox">
                                            <span class="check_icon">
                                                <svg class="icon">
                                                    <use xlink:href="resources/img/sprite.svg#Check">
                                                </svg>
                                            </span>
                                        </label>
                                    </td>
                                    <td>235081</td>
                                    <td>24.08 13:55</td>
                                    <td>Черновик</td>
                                    <td>Европа+ (Ейск)</td>
                                    <td>08.07–12.07</td>
                                    <td>412,00</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="inp_checkbox">
                                            <input type="checkbox">
                                            <span class="check_icon">
                                                <svg class="icon">
                                                    <use xlink:href="resources/img/sprite.svg#Check">
                                                </svg>
                                            </span>
                                        </label>
                                    </td>
                                    <td>235081</td>
                                    <td>24.08 13:55</td>
                                    <td>Черновик</td>
                                    <td>Европа+ (Ейск)</td>
                                    <td>08.07–12.07</td>
                                    <td>412,00</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="inp_checkbox">
                                            <input type="checkbox">
                                            <span class="check_icon">
                                                <svg class="icon">
                                                    <use xlink:href="resources/img/sprite.svg#Check">
                                                </svg>
                                            </span>
                                        </label>
                                    </td>
                                    <td>235081</td>
                                    <td>24.08 13:55</td>
                                    <td>Черновик</td>
                                    <td>Европа+ (Ейск)</td>
                                    <td>08.07–12.07</td>
                                    <td>412,00</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="inp_checkbox">
                                            <input type="checkbox">
                                            <span class="check_icon">
                                                <svg class="icon">
                                                    <use xlink:href="resources/img/sprite.svg#Check">
                                                </svg>
                                            </span>
                                        </label>
                                    </td>
                                    <td>235081</td>
                                    <td>24.08 13:55</td>
                                    <td>Черновик</td>
                                    <td>Европа+ (Ейск)</td>
                                    <td>08.07–12.07</td>
                                    <td>412,00</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="inp_checkbox">
                                            <input type="checkbox">
                                            <span class="check_icon">
                                                <svg class="icon">
                                                    <use xlink:href="resources/img/sprite.svg#Check">
                                                </svg>
                                            </span>
                                        </label>
                                    </td>
                                    <td>235081</td>
                                    <td>24.08 13:55</td>
                                    <td>Черновик</td>
                                    <td>Европа+ (Ейск)</td>
                                    <td>08.07–12.07</td>
                                    <td>412,00</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="inp_checkbox">
                                            <input type="checkbox">
                                            <span class="check_icon">
                                                <svg class="icon">
                                                    <use xlink:href="resources/img/sprite.svg#Check">
                                                </svg>
                                            </span>
                                        </label>
                                    </td>
                                    <td>235081</td>
                                    <td>24.08 13:55</td>
                                    <td>Черновик</td>
                                    <td>Европа+ (Ейск)</td>
                                    <td>08.07–12.07</td>
                                    <td>412,00</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="inp_checkbox">
                                            <input type="checkbox">
                                            <span class="check_icon">
                                                <svg class="icon">
                                                    <use xlink:href="resources/img/sprite.svg#Check">
                                                </svg>
                                            </span>
                                        </label>
                                    </td>
                                    <td>235081</td>
                                    <td>24.08 13:55</td>
                                    <td>Черновик</td>
                                    <td>Европа+ (Ейск)</td>
                                    <td>08.07–12.07</td>
                                    <td>412,00</td>
                                </tr>
                            </table><!--/table_item -->
                            </div>
                        </div><!--/primary_table -->
                    </div>  

                    <div class="clearfix mb20">
                        <div class="btns_wrap fl_right">
                            <a href="#" class="theme_btn_light">
                                <svg class="icon icon_download">
                                    <use xlink:href="resources/img/sprite.svg#Download">
                                </svg>
                                Скачать как XLS файл
                            </a>
                            <a href="#" class="theme_btn">Добавить</a>
                        </div>   
                    </div>                     
                    
                </div><!-- /tab_content_block -->


                



                <div class="tab_content_block">
                    <div class="btns_wrap fl_right">
                        <a href="#" class="theme_btn_light">
                            <svg class="icon icon_download">
                                <use xlink:href="resources/img/sprite.svg#Download">
                            </svg>
                            Скачать как XLS файл
                        </a>
                    </div>   

                    <h2 class="form_block_title">Смета</h2>

                    <div class="table_inside_form_wrapper mt30">
                        <div class="primary_table table_inside_form">
                            <table>
                                <!-- table header-->
                                <tr class="header_row">
                                    <th>Статья расходов</th>
                                    <th>Комментарий</th>
                                    <th>Бюджет</th>
                                    <th>Прайс-лист</th>
                                    <th></th>
                                </tr>
                                <!-- table body-->
                                <tr>
                                    <td>Заявки на размещение</td>
                                    <td></td>
                                    <td class="nowrap">0,00</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Заявки на POS</td>
                                    <td></td>
                                    <td class="nowrap">0,00</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="top_valing">
                                        <div class="select_wrap field_super_large">
                                            <select class="js_chosen_select">
                                                <option></option>
                                                <option  selected="">Аренда видео-проекционного оборудования</option>
                                                <option>Аренда выставочного оборудования</option>
                                                <option>Аренда звукового оборудования</option>
                                                <option>Аренда площадки/экспонирование</option>
                                                <option>Аренда светового оборудования</option>
                                                <option>Аренда фотостудии</option>
                                                <option>Аренда/производство костюмов</option>
                                                <option>Брендинг/декорации/оформление/флористика</option>
                                                <option>Буфетное обслуживание/кейтеринг</option>
                                                <option>Клининг автомобилей/уборка места проведения мероприятия</option>
                                            </select>
                                            <svg class="icon icon_select">
                                                <use xlink:href="resources/img/sprite.svg#Dropdown">
                                            </svg>
                                        </div>                                            
                                    </td>
                                    <td class="top_valing"><input type="text" class="inp_txt field_super_large" value="Tiguan, Polo Sedan, Jetta"></td>
                                    <td class="top_valing"><input type="text" class="inp_txt field_medium js_numeric" value="87659.00"></td>
                                    <td>Не установлена</td>
                                    <td>
                                        <div class="table_dropdown_wrap pencil-that-oleg-made">
                                            <div class="btn_wrap js_dropdown_trigger">
                                                <svg class="icon icon_copy">
                                                    <use xlink:href="resources/img/sprite.svg#Edit"></use>
                                                </svg>
                                            </div>
                                            <ul class="dropdown_list js_dropdown_item">
                                                <li><a href="#">Редактировать</a></li>
                                                <li><a href="#">Переместить вперед</a></li>
                                                <li><a href="#">Вернуть в черновик</a></li>
                                                <li><a href="#">Добавить макет</a></li>
                                                <li><a href="#">Добавить сообщение</a></li>
                                                <li><a href="#">Выгрузить в Excel</a></li>
                                            </ul>
                                        </div><!-- /table_dropdown_wrap -->
                                    </td>                                        
                                </tr>
                                <tr>
                                    <td class="top_valing">
                                        <div class="select_wrap field_super_large">
                                            <select class="js_chosen_select">
                                                <option></option>
                                                <option>Аренда видео-проекционного оборудования</option>
                                                <option>Аренда выставочного оборудования</option>
                                                <option>Аренда звукового оборудования</option>
                                                <option>Аренда площадки/экспонирование</option>
                                                <option>Аренда светового оборудования</option>
                                                <option>Аренда фотостудии</option>
                                                <option>Аренда/производство костюмов</option>
                                                <option selected>Брендинг/декорации/оформление/флористика</option>
                                                <option>Буфетное обслуживание/кейтеринг</option>
                                                <option>Клининг автомобилей/уборка места проведения мероприятия</option>
                                            </select>
                                            <svg class="icon icon_select">
                                                <use xlink:href="resources/img/sprite.svg#Dropdown">
                                            </svg>
                                        </div>                                            
                                    </td>
                                    <td class="top_valing"><input type="text" class="inp_txt field_super_large" value="Tiguan, Polo Sedan, Jetta"></td>
                                    <td class="top_valing"><input type="text" class="inp_txt field_medium js_numeric" value="87659.00"></td>
                                    <td>Не установлена</td>
                                    <td>
                                        <div class="table_dropdown_wrap pencil-that-oleg-made">
                                            <div class="btn_wrap js_dropdown_trigger">
                                                <svg class="icon icon_copy">
                                                    <use xlink:href="resources/img/sprite.svg#Edit"></use>
                                                </svg>
                                            </div>
                                            <ul class="dropdown_list js_dropdown_item">
                                                <li><a href="#">Редактировать</a></li>
                                                <li><a href="#">Переместить вперед</a></li>
                                                <li><a href="#">Вернуть в черновик</a></li>
                                                <li><a href="#">Добавить макет</a></li>
                                                <li><a href="#">Добавить сообщение</a></li>
                                                <li><a href="#">Выгрузить в Excel</a></li>
                                            </ul>
                                        </div><!-- /table_dropdown_wrap -->
                                    </td>
                                </tr>
                                <tr>
                                    <td class="top_valing">
                                        <div class="select_wrap field_super_large">
                                            <select class="js_chosen_select">
                                                <option></option>
                                                <option>Аренда видео-проекционного оборудования</option>
                                                <option>Аренда выставочного оборудования</option>
                                                <option>Аренда звукового оборудования</option>
                                                <option>Аренда площадки/экспонирование</option>
                                                <option>Аренда светового оборудования</option>
                                                <option selected>Аренда фотостудии</option>
                                                <option>Аренда/производство костюмов</option>
                                                <option>Брендинг/декорации/оформление/флористика</option>
                                                <option>Буфетное обслуживание/кейтеринг</option>
                                                <option>Клининг автомобилей/уборка места проведения мероприятия</option>
                                            </select>
                                            <svg class="icon icon_select">
                                                <use xlink:href="resources/img/sprite.svg#Dropdown">
                                            </svg>
                                        </div>                                            
                                    </td>
                                    <td class="top_valing"><input type="text" class="inp_txt field_super_large"></td>
                                    <td class="top_valing"><input type="text" class="inp_txt field_medium js_numeric" value="87659.00"></td>
                                    <td>Не установлена</td>
                                    <td>
                                        <div class="table_dropdown_wrap pencil-that-oleg-made">
                                            <div class="btn_wrap js_dropdown_trigger">
                                                <svg class="icon icon_copy">
                                                    <use xlink:href="resources/img/sprite.svg#Edit"></use>
                                                </svg>
                                            </div>
                                            <ul class="dropdown_list js_dropdown_item">
                                                <li><a href="#">Редактировать</a></li>
                                                <li><a href="#">Переместить вперед</a></li>
                                                <li><a href="#">Вернуть в черновик</a></li>
                                                <li><a href="#">Добавить макет</a></li>
                                                <li><a href="#">Добавить сообщение</a></li>
                                                <li><a href="#">Выгрузить в Excel</a></li>
                                            </ul>
                                        </div><!-- /table_dropdown_wrap -->
                                    </td>
                                </tr>
                                <tr>
                                    <td class="top_valing">
                                        <div class="select_wrap field_super_large">
                                            <select class="js_chosen_select">
                                                <option></option>
                                                <option>Аренда видео-проекционного оборудования</option>
                                                <option>Аренда выставочного оборудования</option>
                                                <option>Аренда звукового оборудования</option>
                                                <option>Аренда площадки/экспонирование</option>
                                                <option>Аренда светового оборудования</option>
                                                <option>Аренда фотостудии</option>
                                                <option>Аренда/производство костюмов</option>
                                                <option>Брендинг/декорации/оформление/флористика</option>
                                                <option>Буфетное обслуживание/кейтеринг</option>
                                                <option>Клининг автомобилей/уборка места проведения мероприятия</option>
                                                <option selected>Прочее</option>
                                            </select>
                                            <svg class="icon icon_select">
                                                <use xlink:href="resources/img/sprite.svg#Dropdown">
                                            </svg>
                                        </div>                                            
                                    </td>
                                    <td class="top_valing"><input type="text" class="inp_txt field_super_large" value="Tiguan, Polo Sedan, Jetta"></td>
                                    <td class="top_valing"><input type="text" class="inp_txt field_medium js_numeric" value="87659.00"></td>
                                    <td>Не установлена</td>
                                    <td>
                                        <div class="table_dropdown_wrap pencil-that-oleg-made">
                                            <div class="btn_wrap js_dropdown_trigger">
                                                <svg class="icon icon_copy">
                                                    <use xlink:href="resources/img/sprite.svg#Edit"></use>
                                                </svg>
                                            </div>
                                            <ul class="dropdown_list js_dropdown_item">
                                                <li><a href="#">Редактировать</a></li>
                                                <li><a href="#">Переместить вперед</a></li>
                                                <li><a href="#">Вернуть в черновик</a></li>
                                                <li><a href="#">Добавить макет</a></li>
                                                <li><a href="#">Добавить сообщение</a></li>
                                                <li><a href="#">Выгрузить в Excel</a></li>
                                            </ul>
                                        </div><!-- /table_dropdown_wrap -->
                                    </td>
                                </tr>   
                                <tr class="no_hover">
                                    <td colspan="5">
                                        <a href="#" class="theme_btn_light mt10">
                                            <svg class="icon icon_group">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="resources/img/sprite.svg#Add_group">
                                            </svg>
                                            Добавить статью расходов
                                        </a>
                                    </td>
                                </tr>  
                                <tr class="no_border no_hover">
                                    <td colspan="2" class="f_bold">
                                        <div class="mb20">Бюджет с учетом затрат на анонсирующую кампанию:</div>
                                        <div class="mb20">Бюджет мероприятия:</div>
                                    </td>
                                    <td colspan="3" class="f_bold">
                                        <div class="mb20">87 659,00</div>
                                        <div class="mb20">678 967,00</div>
                                    </td>
                                </tr> 
                            </table>
                        </div><!-- /table_inside_form -->
                    </div><!-- /table_inside_form_wrapper -->
                    
                </div><!-- /tab_content_block -->





                <!-- /FORM BLOCK -->
                <div class="tab_content_block">

                    <h2 class="form_block_title">Медиа 
                        <div class="info_tooltip">
                            <svg class="icon icon_info">
                                <use xlink:href="resources/img/sprite.svg#Info">
                            </svg> 
                            <div class="info_tooltip_item">В этом пункте указывается фактическое  количество показов одного носителя в период размещения</div>
                        </div>
                    </h2>


                    <div class="fileupload_wrap clearfix">
                        <div class="file_list_wrapper js_eq_height">
                            <div class="file_item">
                                <a href="#" class="file_title js_popup js_img_pop_render" data-popup="#img_popup" data-img-link="temp/trash_img/big.jpg" data-img-name="Макет 1" data-img-src="temp/trash_img/big.jpg">Макет 1</a>
                                <div class="item_img">
                                    <img src="temp/trash_img/preview2.jpg">
                                    <div class="img_btns_wrapper">
                                        <a href="#" class="icon_btn has_tooltip js_popup js_img_pop_render" data-popup="#img_popup" data-img-link="temp/trash_img/big.jpg" data-img-name="Макет 1" data-img-src="temp/trash_img/big.jpg">
                                            <svg class="icon icon_view">
                                                <use xlink:href="resources/img/sprite.svg#View">
                                            </svg>
                                            <span class="tooltip">Посмотреть</span>
                                        </a>
                                        <a href="#" class="icon_btn has_tooltip">
                                            <svg class="icon icon_download">
                                                <use xlink:href="resources/img/sprite.svg#Download">
                                            </svg>
                                            <span class="tooltip">Скачать</span>
                                        </a>
                                        <a href="#" class="icon_btn alarm has_tooltip">
                                            <svg class="icon icon_delete">
                                                <use xlink:href="resources/img/sprite.svg#Delete">
                                            </svg>
                                            <span class="tooltip">Удалить</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="item_title js_eq_height_item">DSC_9093</div>
                                <div class="item_type">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Img">
                                    </svg>
                                    <span class="title">JPG</span>
                                </div>
                            </div>
                            <div class="file_item">
                                <a href="#" class="file_title js_popup js_img_pop_render" data-popup="#img_popup" data-img-link="temp/trash_img/big2.jpg" data-img-name="Макет 2" data-img-src="temp/trash_img/big2.jpg">Макет 2</a>
                                <div class="item_img">
                                    <img src="temp/trash_img/preview3.jpg">
                                    <div class="img_btns_wrapper">
                                        <a href="#" class="icon_btn has_tooltip js_popup js_img_pop_render" data-popup="#img_popup" data-img-link="temp/trash_img/big2.jpg" data-img-name="Макет 2" data-img-src="temp/trash_img/big2.jpg">
                                            <svg class="icon icon_view">
                                                <use xlink:href="resources/img/sprite.svg#View">
                                            </svg>
                                            <span class="tooltip">Посмотреть</span>
                                        </a>
                                        <a href="#" class="icon_btn has_tooltip">
                                            <svg class="icon icon_download">
                                                <use xlink:href="resources/img/sprite.svg#Download">
                                            </svg>
                                            <span class="tooltip">Скачать</span>
                                        </a>
                                        <a href="#" class="icon_btn alarm has_tooltip">
                                            <svg class="icon icon_delete">
                                                <use xlink:href="resources/img/sprite.svg#Delete">
                                            </svg>
                                            <span class="tooltip">Удалить</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="item_title js_eq_height_item">DSC_9093</div>
                                <div class="item_type">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Img">
                                    </svg>
                                    <span class="title">JPG</span>
                                </div>
                            </div>
                            <div class="file_item">
                                <a href="#" class="file_title js_popup js_img_pop_render" data-popup="#img_popup" data-img-link="temp/trash_img/big2.jpg" data-img-name="Макет 3" data-img-src="temp/trash_img/big2.jpg">Макет 3</a>
                                <div class="item_img">
                                    <img src="temp/trash_img/preview4.jpg">
                                    <div class="img_btns_wrapper">
                                        <a href="#" class="icon_btn has_tooltip js_popup js_img_pop_render" data-popup="#img_popup" data-img-link="temp/trash_img/big2.jpg" data-img-name="Макет 3" data-img-src="temp/trash_img/big2.jpg">
                                            <svg class="icon icon_view">
                                                <use xlink:href="resources/img/sprite.svg#View">
                                            </svg>
                                            <span class="tooltip">Посмотреть</span>
                                        </a>
                                        <a href="#" class="icon_btn has_tooltip">
                                            <svg class="icon icon_download">
                                                <use xlink:href="resources/img/sprite.svg#Download">
                                            </svg>
                                            <span class="tooltip">Скачать</span>
                                        </a>
                                        <a href="#" class="icon_btn alarm has_tooltip">
                                            <svg class="icon icon_delete">
                                                <use xlink:href="resources/img/sprite.svg#Delete">
                                            </svg>
                                            <span class="tooltip">Удалить</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="item_title js_eq_height_item">DSC_9093</div>
                                <div class="item_type">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Img">
                                    </svg>
                                    <span class="title">JPG</span>
                                </div>
                            </div>
                            
                        </div><!-- /file_list_wrapper -->
                    </div>

                    <div class="mt10 mb20">
                        <a href="#">Открыть все макеты</a>
                    </div>

                </div><!-- /tab_content_block -->




                <!-- /FORM BLOCK -->
                <div class="tab_content_block">
                    <h2 class="form_block_title">Стоимость</h2>

                    <div class="form_field">
                        <div class="field_title">Модели <span class="require">*</span></div>
                        <div class="field_elem">
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Общая компания</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox" checked>
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Polo Sedan</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Tiguan</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox" checked>
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Jetta</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Golf A7</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Passat Lim</span>
                            </label>
                            <label class="inp_checkbox no_margin_l">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Touareg</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Passat CC</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Touran</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Passat Variant</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Phaeton</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">DWA</span>
                            </label>
                        </div>
                    </div><!-- /form_field -->
                    <div class="form_field">
                        <div class="field_title">Распределение бюджета по моделям</div>
                        <div class="field_elem">
                            <div class="form_field">
                                <label class="inp_checkbox">
                                    <input type="checkbox" class="js_disabled_input_toggler">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                    <span class="title light_txt">Изменить распределение бюджета</span>
                                </label>
                            </div><!-- /form_field -->

                            <div class="form_field">
                                <input type="text" class="inp_txt field_super_small dark_txt mr20" value="Polo Sedan" disabled>
                                <input type="text" class="inp_txt field_super_small dark_txt js_disabled_input js_numeric" value="90000" disabled>
                                <span class="field_comment">руб. без НДС</span>
                            </div><!-- /form_field -->

                            <div class="form_field">
                                <input type="text" class="inp_txt field_super_small dark_txt mr20" value="Jetta" disabled>
                                <input type="text" class="inp_txt field_super_small dark_txt js_disabled_input js_numeric" value="90000" disabled>
                                <span class="field_comment">руб. без НДС</span>
                            </div><!-- /form_field -->

                            <div class="form_field">
                                <div class="field_total_comment clearfix">
                                    <div class="field_elem field_super_small">
                                        <div class="total_title">Итого, руб. без НДС:</div>
                                    </div>
                                    <div class="field_elem field_super_small ml30">100 000</div>
                                </div>
                                <div class="field_total_comment clearfix">
                                    <div class="field_elem field_super_small">
                                        <div class="total_title">Не распределено, руб. без НДС:</div>
                                    </div>
                                    <div class="field_elem field_super_small ml30">10 000</div>
                                </div>
                            </div>

                        </div><!-- /field_elem -->
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Комментарий</div>
                        <div class="field_elem">
                            <textarea class="inp_textarea"></textarea>
                        </div><!-- /field_elem -->
                    </div><!-- /form_field -->

                </div><!-- /tab_content_block -->





            </form>

        </div><!-- /tab_content_wrapper form_wrapper -->


        <div class="btns_wrap txt_right mt20">
            <a href="#" class="theme_btn">Сохранить</a>
            <a href="#" class="theme_btn_light">Отправить вперёд</a>
            <a href="#" class="nav_link grey_link">Отмена</a>
        </div>

        
    </div><!--/inside_wrapper -->

</article><!--/main_content -->



<div class="popup js_img_popup" id="img_popup">
    <div class="pop_content">
        <div class="popup_header">
            <a href="#" class="close js_popup_close">
                <svg class="icon icon_delete_big">
                    <use xlink:href="resources/img/sprite.svg#Delete">
                </svg>
            </a>
            <a href="#" class="fl_right js_img_link" target="_blank">Открыть в полном размере</a>
            <div class="img_title js_img_name"></div>
        </div>
        
        <div class="popup_scroll_wrap js_custom_scroll"><!-- эту обертку можно не добавлять, если не нужен скролл -->
            <div class="popup_content_inside">
                <div class="img_popup_view">
                    <img src="#" alt="photo" class="js_img_src">
                </div>

            </div><!--  /popup_content_inside -->

        </div><!--  /popup_scroll_wrap -->

    </div><!-- /pop_content -->

</div><!-- /popup -->





@@include('template/footer.html')

<!-- здесь подключать скрипт для этой страницы -->

@@include('template/footer_end.html')
       