@@include('template/head.html', { "title": "Заявкa BTL: компенсация" })
@@include('template/sidebar.html')
@@include('template/header.html')

<article class="main_content">


    <!-- CONTENT BLOCK -->
    <div class="content_block alt_padding inside_wrapper clearfix">

        <h1 class="primary_title">Заявка №273221<span class="separator"></span>BTL</h1>

        <div class="sys_content_header">

            <div class="primary_item_info">
                <div class="item">
                    <span class="title">Дилер</span>
                    <a href="#" class="info">Тестовый дилер</a>
                </div>
                <div class="item">
                    <span class="title">Город</span>
                    <span class="info">Москва (код не указан)</span>
                </div>
            </div>

            <div class="status_edit_wrapper">
                <div class="status_edit_item txt_right">
                    <span class="title">Статус:</span>
                    <span class="current">Наполнение</span>
                </div>
                
                <div class="status_edit_item">
                    <a href="#" class="theme_btn">Сохранить</a>
                    <div class="status_drop">
                        <a href="#" class="theme_btn_light status_btn">Проверка Агентством</a>
                        <a href="#" class="theme_btn_light icon_btn js_select_drop status_btn_drop">
                            <svg class="icon icon_select">
                                <use xlink:href="resources/img/sprite.svg#Dropdown">
                            </svg>
                        </a>
                        <div class="dropdown_item js_select_drop_item status_dropdown">
                            <ul class="status_group ul_simple">
                                <li class="current">Наполнение</li>
                                <li class="active"><a href="#">Проверка Агентством</a></li>
                                <li>Проверка Импортером</li>
                                <li>Утверждено</li>
                            </ul>
                        </div>
                    </div>
                    <a href="#" class="nav_link grey_link">Закрыть</a>
                </div>
            </div>
        </div><!-- /sys_content_header -->

        <div class="content_nav_wrap clearfix">
            <!-- TABS -->
            <div class="tabs_wrap light_tabs">
                <a href="#" class="tabs_item js_tabs"><span class="title">Планирование</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Отчетность</span></a>
                <a href="#" class="tabs_item js_tabs active"><span class="title">Компенсация</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Сообщения<span class="new_mark">9</span></span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Статусы</span></a>
            </div>
        </div>

        
        <div class="tab_content_wrapper form_wrapper">
            <form action="">


                <div class="tab_content_block">

                    <h2 class="form_block_title">Документы для оплаты компенсации</h2>

                    <div class="table_inside_form_wrapper mt30">
                        <div class="primary_table table_inside_form">
                            <table>
                                <!-- table header-->
                                <tr class="header_row">
                                    <th>Файл</th>
                                    <th>Автор</th>
                                    <th>Время</th>
                                    <th class="txt_right"><a href="#">Показать скрытые файлы</a></th>
                                </tr>
                                <!-- table body-->
                                <tr>
                                    <td>Bill_Volkswagen.pdf</td>
                                    <td>TestAgency</td>
                                    <td class="nowrap">16.03.2016 15:23</td>
                                    <td class="txt_right">
                                        <div class="hover_icons_wrapper">
                                            <div class="table_hover_icons">
                                                <a href="#" class="icon_item has_tooltip">
                                                    <svg class="icon hide">
                                                        <use xlink:href="resources/img/sprite.svg#Hide">
                                                    </svg>
                                                    <span class="tooltip">Скрыть файл</span>
                                                </a>
                                                <a href="#" class="icon_item alarm has_tooltip">
                                                    <svg class="icon icon_delete">
                                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                                    </svg>
                                                    <span class="tooltip">Удалить</span>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div><!-- /table_inside_form -->

                        <div class="clearfix mb40 mt20 mr20 ml20">
                            <div class="fl_right"><a href="#" class="theme_btn_light">Добавить файл</a></div>
                            <div class="mt10">Допускается отчетная презентация в форматах PPT и PDF не более 7 Мб.</div>
                        </div>
                    </div><!-- /table_inside_form_wrapper -->


                    
                </div><!-- /tab_content_block -->



                <div class="tab_content_block">

                    <h2 class="form_block_title">Статусы оплаты</h2>

                    <div class="table_inside_form_wrapper mt30">
                        <div class="primary_table table_inside_form">
                            <table>
                                <!-- table header-->
                                <tr class="header_row">
                                    <th>Дата</th>
                                    <th>Комментарий</th>
                                    <th></th>
                                </tr>
                                <!-- table body-->
                                <tr>
                                    <td class="top_valing">
                                        <div class="field_elem datepicker_wrap">              
                                            <input type="text" class="inp_txt js_datepicker" value="16.03.2016">
                                            <svg class="icon icon_calendar js_datepicker_show">
                                                <use xlink:href="resources/img/sprite.svg#Calendar_small">
                                            </svg> 
                                        </div>                                          
                                    </td>
                                    <td class="top_valing"><input type="text" class="inp_txt field_super_large" value="Тестовый комментарий"></td>
                                    <td class="txt_right">
                                        <div class="hover_icons_wrapper">
                                            <div class="table_hover_icons">
                                                <a href="#" class="icon_item alarm has_tooltip">
                                                    <svg class="icon icon_delete">
                                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                                    </svg>
                                                    <span class="tooltip">Удалить</span>
                                                </a>
                                            </div>
                                        </div>
                                    </td>                                        
                                </tr>
                                <tr>
                                    <td class="top_valing">
                                        <div class="field_elem datepicker_wrap">              
                                            <input type="text" class="inp_txt js_datepicker" value="21.03.2016">
                                            <svg class="icon icon_calendar js_datepicker_show">
                                                <use xlink:href="resources/img/sprite.svg#Calendar_small">
                                            </svg> 
                                        </div>                                         
                                    </td>
                                    <td class="top_valing"><input type="text" class="inp_txt field_super_large" value="Тестовый комментарий"></td>
                                    <td class="txt_right">
                                        <div class="hover_icons_wrapper">
                                            <div class="table_hover_icons">
                                                <a href="#" class="icon_item alarm has_tooltip">
                                                    <svg class="icon icon_delete">
                                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                                    </svg>
                                                    <span class="tooltip">Удалить</span>
                                                </a>
                                            </div>
                                        </div>
                                    </td>                                        
                                </tr>
                                <tr>
                                    <td class="top_valing">
                                        <div class="field_elem datepicker_wrap">              
                                            <input type="text" class="inp_txt js_datepicker">
                                            <svg class="icon icon_calendar js_datepicker_show">
                                                <use xlink:href="resources/img/sprite.svg#Calendar_small">
                                            </svg> 
                                        </div>                                         
                                    </td>
                                    <td class="top_valing"><input type="text" class="inp_txt field_super_large"></td>
                                    <td class="txt_right"></td>                                        
                                </tr>
                            </table>
                        </div><!-- /table_inside_form -->
                    </div><!-- /table_inside_form_wrapper -->
                    
                </div><!-- /tab_content_block -->


            </form>

        </div><!-- /tab_content_wrapper form_wrapper -->


        <div class="btns_wrap txt_right mt20">
            <a href="#" class="theme_btn">Сохранить</a>
            <a href="#" class="theme_btn_light">Отправить вперёд</a>
            <a href="#" class="nav_link grey_link">Отмена</a>
        </div>

        
    </div><!--/inside_wrapper -->

</article><!--/main_content -->



<div class="popup js_img_popup" id="img_popup">
    <div class="pop_content">
        <div class="popup_header">
            <a href="#" class="close js_popup_close">
                <svg class="icon icon_delete_big">
                    <use xlink:href="resources/img/sprite.svg#Delete">
                </svg>
            </a>
            <a href="#" class="fl_right js_img_link" target="_blank">Открыть в полном размере</a>
            <div class="img_title js_img_name"></div>
        </div>
        
        <div class="popup_scroll_wrap js_custom_scroll"><!-- эту обертку можно не добавлять, если не нужен скролл -->
            <div class="popup_content_inside">
                <div class="img_popup_view">
                    <img src="#" alt="photo" class="js_img_src">
                </div>

            </div><!--  /popup_content_inside -->

        </div><!--  /popup_scroll_wrap -->

    </div><!-- /pop_content -->

</div><!-- /popup -->





@@include('template/footer.html')

<!-- здесь подключать скрипт для этой страницы -->

@@include('template/footer_end.html')
       