@@include('template/head.html', { "title": "Заявкa: статусы" })
@@include('template/sidebar.html')
@@include('template/header.html')



<article class="main_content">


    <!-- CONTENT BLOCK -->
    <div class="content_block inside_wrapper clearfix">

        <h1 class="primary_title">Заявка №259656<span class="separator"></span>ATL</h1>


        <div class="sys_content_header">
            <div class="primary_item_info">
                <div class="item">
                    <span class="title">Дилер</span>
                    <a href="#" class="info">Макс Моторс, Новосибирск (код: 174)</a>
                </div>
                <div class="item">
                    <span class="title">Категория</span>
                    <span class="info">Наружная реклама</span>
                </div>
            </div>

            <div class="status_edit_wrapper">
                <div class="status_edit_item txt_right">
                    <span class="title">Статус:</span>
                    <span class="current">Утверждение Импортером</span>
                </div>
                
                <div class="status_edit_item">
                    <a href="#" class="theme_btn">Сохранить</a>
                    <div class="status_drop">
                        <a href="#" class="theme_btn_light status_btn">Подгрузить фотоотчеты и статистику</a>
                        <a href="#" class="theme_btn_light icon_btn js_select_drop status_btn_drop">
                            <svg class="icon icon_select">
                                <use xlink:href="resources/img/sprite.svg#Dropdown">
                            </svg>
                        </a>
                        <div class="dropdown_item js_select_drop_item status_dropdown">
                            <ul class="status_group ul_simple">
                                <li class="active"><a href="#">Отклонено Импортером</a></li>
                            </ul>
                            <ul class="status_group ul_simple">
                                <li class="back"><div class="back_title">Вернуть заявку:</div>
                                    <ul class="ul_simple">
                                        <li class="current">Утверждение Импортером</li>
                                        <li class="active"><a href="#">Подгрузить фотоотчеты и статистику</a></li>
                                        <li>Утверждение Агентством 2 (Дизайнер)</li>
                                        <li>Утверждение Агентством 3 (Аккаунт)</li>
                                        <li>Отчеты и статистика</li>
                                        <li>Закрытие заявки Агентством (Аккаунт)</li>
                                        <li>Закрытие заявки Агентством (Менеджер по размещению )</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="#" class="nav_link grey_link">Закрыть</a>
                </div>
            </div>
        </div><!-- /sys_content_header -->

        <div class="content_nav_wrap clearfix">
            <!-- TABS -->
            <div class="tabs_wrap light_tabs">
                <a href="#" class="tabs_item js_tabs"><span class="title">Заявка</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Сообщения</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Отчеты и статистика</span></a>
                <a href="#" class="tabs_item js_tabs active"><span class="title">Статусы</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">История</span></a>
            </div>
        </div>

     

        <div class="tab_content_wrapper status_wrapper">
        
            <div class="tab_inside_table">
                <table>
                    <tr>
                        <th>Дата</th>
                        <th>Автор</th>
                        <th>Статус</th>
                        <th>Комментарий</th>
                    </tr>
                    <tr>
                        <td class="nowrap">23.12.2015  17:48</td>
                        <td>Кузьминых Мария (Агентство) </td>
                        <td>Подгрузить фотоотчеты и статистику</td>
                        <td>Согласуем только после предоставления отчетов по всем заявкам в группе.</td>
                    </tr>
                    <tr>
                        <td class="nowrap">23.12.2015  17:06</td>
                        <td>Мария Плотникова (Агентство) </td>
                        <td>Утверждение Агентством 3 (аккаунт)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="nowrap">23.12.2015  17:05</td>
                        <td>Мария Плотникова (Агентство) </td>
                        <td>Утверждение Агентством 2 (дизайнер)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="nowrap">23.12.2015  16:19</td>
                        <td>Татьяна Захарова (Ключавто Краснодар) </td>
                        <td>Утверждение Агентством 1 (баер)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="nowrap">23.12.2015  16:19</td>
                        <td>Татьяна Захарова (Ключавто Краснодар) </td>
                        <td>Черновик</td>
                        <td></td>
                    </tr>
                </table>
            </div>

        </div><!-- /tab_content_wrapper -->


        <div class="btns_wrap txt_right mt20">
            <a href="#" class="theme_btn">Сохранить</a>
            <a href="#" class="theme_btn_light">Отправить</a>
            <a href="#" class="nav_link grey_link">Отмена</a>
        </div>



    </div><!--/inside_wrapper -->

</article><!--/main_content -->



@@include('template/footer.html')

<!-- здесь подключать скрипт для этой страницы -->

@@include('template/footer_end.html')
       