@@include('template/head.html', { "title": "Заявкa" })
@@include('template/sidebar.html')
@@include('template/header.html')

<article class="main_content">


    <!-- CONTENT BLOCK -->
    <div class="content_block inside_wrapper clearfix">

        <h1 class="primary_title">Новая заявка на размещение<span class="separator"></span>ATL</h1>

        <div class="sys_content_header">

            <div class="btns_wrap status_edit_wrapper">

                <button type="submit" class="theme_btn">Сохранить</button>
                <div class="status_drop">
                    <a href="#" class="theme_btn_light status_btn">Утверждение Агентством 1 (Байер)</a>
                    <a href="#" class="theme_btn_light icon_btn js_select_drop status_btn_drop">
                        <svg class="icon icon_select">
                            <use xlink:href="resources/img/sprite.svg#Dropdown">
                        </svg>
                    </a>
                    <div class="dropdown_item js_select_drop_item status_dropdown">
                        <ul class="status_group ul_simple">
                            <li class="current">Черновик</li>
                            <li class="active"><a href="#">Утверждение Агентством 1 (Байер)</a></li>
                            <li>Утверждение Агентством 2 (Дизайнер)</li>
                            <li>Утверждение Агентством 3 (Аккаунт)</li>
                            <li>Отчеты и статистика</li>
                            <li>Закрытие заявки Агентством (Аккаунт)</li>
                            <li>Закрытие заявки Агентством (Менеджер по размещению )</li>
                        </ul>
                        <ul class="status_group ul_simple">
                            <li class="active"><a href="#">Импортёр</a></li>
                        </ul>
                    </div>
                </div>
                <a href="#" class="nav_link grey_link">Закрыть</a>
            </div>
        </div><!-- /sys_content_header -->

        <div class="content_nav_wrap clearfix">
            
            <!-- TABS -->
            <div class="tabs_wrap light_tabs">
                <a href="#" class="tabs_item js_tabs active"><span class="title">Заявка</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Сообщения</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Отчеты и статистика</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Статусы</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">История</span></a>
            </div>
        </div>

        
        <div class="tab_content_wrapper form_wrapper">
            <form action="">
            
                <!-- /FORM BLOCK -->
                <div class="tab_content_block">

                    <h2 class="form_block_title">Тип заявки</h2>

                    <div class="form_field">
                        <div class="field_title">Дилер <span class="require">*</span></div>
                        <div class="field_elem">
                            <div class="select_wrap field_small">
                                <select class="js_chosen_select">
                                    <option></option>
                                    <option>!Тестовый дилер</option>
                                    <option>Genser ВЛК (144)</option>
                                    <option>Genser Липецк (257)</option>
                                    <option>Genser Реутов (126)</option>
                                    <option>Genser Ясенево (147)</option>
                                    <option>АА Мэйджор Авто (119)</option>
                                    <option>ААА Моторс  (226)</option>
                                    <option>Аванта (148)</option>
                                    <option>АВИЛОН (127)</option>
                                    <option>Авто АЛЕА (125)</option>
                                    <option>Авто Ганза (102)</option>
                                    <option>АВТО ЗИГЕР (206)</option>
                                    <option>Авто Престус (111)</option>
                                    <option>Автобан Зап. Пл. (232)</option>
                                    <option>Автобан-Юг (293)</option>
                                    <option>АвтоБерг (185)</option>
                                    <option>Автогранд (217)</option>
                                    <option>Авто-Дина (173)</option>
                                    <option>Автоимпорт (213)</option>
                                    <option>АвтоКлаус Центр (191)</option>
                                    <option>АвтоЛюкс (181)</option>
                                    <option>Автомир Воронеж (280)</option>
                                    <option>Автомир Новосиб (281)</option>
                                </select>
                                <svg class="icon">
                                    <use xlink:href="resources/img/sprite.svg#Dropdown">
                                </svg>
                            </div>
                        </div>
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Категория <span class="require">*</span></div>
                        <div class="field_elem">
                            <div class="select_wrap field_small">
                                <select class="js_chosen_select">
                                    <option></option>
                                    <option>Наружная реклама</option>
                                    <option>Внутрення реклама</option>
                                    <option>Наружная реклама</option>
                                    <option>Внутрення реклама</option>
                                </select>
                                <svg class="icon">
                                    <use xlink:href="resources/img/sprite.svg#Dropdown">
                                </svg>
                            </div>
                        </div>
                    </div><!-- /form_field -->
                </div><!-- /tab_content_block -->


                <!-- /FORM BLOCK -->
                <div class="tab_content_block">

                    <h2 class="form_block_title">Общая информация</h2>

                    <div class="form_field">
                        <div class="field_title">Модель <span class="require">*</span></div>
                        <div class="field_elem">
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Общая компания</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox" checked>
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Polo Sedan</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Tiguan</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox" checked>
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Jetta</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Golf A7</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Passat Lim</span>
                            </label>
                            <label class="inp_checkbox no_margin_l">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Touareg</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Passat CC</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Touran</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Passat Variant</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Phaeton</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">DWA</span>
                            </label>
                        </div>
                    </div><!-- /form_field -->

                    <div class="form_field error"><!-- add class 'error' to show errors -->
                        <div class="field_title">Адрес <span class="require">*</span></div>
                        <div class="field_elem">
                            <input type="text" class="inp_txt">
                            <div class="error_txt">Поле заполнено с ошибкой</div>
                        </div>
                    </div><!-- /form_field -->

                    <div class="form_field error">
                        <div class="field_title">Период размещения <span class="require">*</span></div>
                        <div class="field_elem">
                            <div class="clearfix">
                                <div class="field_title">с</div>
                                <div class="field_elem datepicker_wrap mr10">              
                                    <input type="text" class="inp_txt js_datepicker js_date_mask">
                                    <svg class="icon icon_calendar js_datepicker_show">
                                        <use xlink:href="resources/img/sprite.svg#Calendar_small">
                                    </svg> 
                                </div>
                                <div class="field_title">по</div>
                                <div class="field_elem datepicker_wrap">
                                    <input type="text" class="inp_txt js_datepicker js_date_mask">
                                    <svg class="icon icon_calendar js_datepicker_show">
                                        <use xlink:href="resources/img/sprite.svg#Calendar_small">
                                    </svg> 
                                </div>
                            </div>
                            <div class="error_txt">Ошибка</div>
                        </div>
                        
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Формат <span class="require">*</span></div>
                        <div class="field_elem">
                            <div class="select_wrap field_medium">
                                <select class="js_chosen_select">
                                    <option></option>
                                    <option>Светодиодный экран (3х6)</option>
                                    <option>Светодиодный экран (3х6)</option>
                                    <option>Светодиодный экран (3х6)</option>
                                    <option>Светодиодный экран (3х6)</option>
                                </select>
                                <svg class="icon">
                                    <use xlink:href="resources/img/sprite.svg#Dropdown">
                                </svg>
                            </div>
                        </div>
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Поверхность</div>
                        <div class="field_elem">
                            <div class="select_wrap field_super_small">
                                <select class="js_chosen_select">
                                    <option></option>
                                    <option>А+Б+С</option>
                                    <option>А+Б+С</option>
                                    <option>А+Б+С</option>
                                    <option>А+Б+С</option>
                                </select>
                                <svg class="icon">
                                    <use xlink:href="resources/img/sprite.svg#Dropdown">
                                </svg>
                            </div>
                        </div>
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Детали размещения</div>
                        <div class="field_elem">
                            <input type="text" class="inp_txt">
                        </div>
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Общее количество поверхностей</div>
                        <div class="field_elem">
                            <input type="text" class="inp_txt field_super_small">
                        </div>
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Единица закупок</div>
                        <div class="field_elem">
                            <div class="select_wrap field_super_small">
                                <select class="js_chosen_select">
                                    <option></option>
                                    <option>Поверхность</option>
                                    <option>Выходы</option>
                                    <option>Поверхность</option>
                                    <option>Поверхность</option>
                                </select>
                                <svg class="icon">
                                    <use xlink:href="resources/img/sprite.svg#Dropdown">
                                </svg>
                            </div>
                        </div>
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Дни выходов</div>
                        <div class="field_elem js_check_days_wrap">
                            <div class="days_check_links fl_right">
                                <a href="#" data-check="all" class="js_check_days">Все</a>
                                <a href="#" data-check="weekends" class="js_check_days active">Выходные</a>
                                <a href="#" data-check="workdays" class="js_check_days">Рабочие</a>
                                <a href="#" data-check="clear" class="js_check_days">Очистить</a>
                            </div>

                            <label class="inp_checkbox">
                                <input type="checkbox" class="js_workdays">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Пн</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox" class="js_workdays">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Вт</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox" class="js_workdays">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Ср</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox" class="js_workdays">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Чт</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox" class="js_workdays">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Пт</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox" class="js_weekends" checked>
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Сб</span>
                            </label>
                            <label class="inp_checkbox no_margin_l">
                                <input type="checkbox" class="js_weekends" checked>
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Вс</span>
                            </label>
                        </div>
                    </div><!-- /form_field -->

                </div><!-- /tab_content_block -->


                <!-- /FORM BLOCK -->
                <div class="tab_content_block">
                    <h2 class="form_block_title">Стоимость</h2>

                    <div class="form_field">
                        <div class="field_title">Дополнительный бюджет ATL</div>
                        <div class="field_elem">
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                            </label>
                        </div>
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Размещение относится к PR</div>
                        <div class="field_elem">
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                            </label>
                        </div>
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Стоимость размещ. по прайс-листу <span class="require">*</span></div>
                        <div class="field_elem">
                            <input type="text" class="inp_txt field_super_small js_numeric">
                            <span class="field_comment">руб. без НДС; указывается общая стоимость размещения</span>
                        </div>
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Скидка <span class="require">*</span></div>
                        <div class="field_elem">
                            <input type="text" class="inp_txt field_super_small js_numeric">
                            <span class="field_comment">%</span>
                        </div>
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Стоимость производства РИМ <span class="require">*</span></div>
                        <div class="field_elem">
                            <input type="text" class="inp_txt field_super_small js_numeric">
                            <span class="field_comment">руб. без НДС</span>
                        </div>
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Общий бюджет <span class="require">*</span></div>
                        <div class="field_elem">
                            <input type="text" class="inp_txt field_super_small dark_txt js_numeric" value="100000" disabled>
                            <span class="field_comment">руб. без НДС, с учетом скидки и производства</span>
                        </div>
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Распределение бюджета по моделям</div>
                        <div class="field_elem">
                            <div class="form_field">
                                <label class="inp_checkbox">
                                    <input type="checkbox" class="js_disabled_input_toggler">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                    <span class="title">Ручное распределение бюджета</span>
                                </label>
                            </div><!-- /form_field -->

                            <div class="form_field">
                                <input type="text" class="inp_txt field_super_small dark_txt mr20" value="Polo Sedan" disabled>
                                <input type="text" class="inp_txt field_super_small dark_txt js_disabled_input js_numeric" value="90000" disabled>
                                <span class="field_comment">руб. без НДС</span>
                            </div><!-- /form_field -->

                            <div class="form_field">
                                <input type="text" class="inp_txt field_super_small dark_txt mr20" value="Jetta" disabled>
                                <input type="text" class="inp_txt field_super_small dark_txt js_disabled_input js_numeric" value="90000" disabled>
                                <span class="field_comment">руб. без НДС</span>
                            </div><!-- /form_field -->

                            <div class="form_field">
                                <div class="field_total_comment clearfix">
                                    <div class="field_elem field_super_small">
                                        <div class="total_title">Итого, руб. без НДС:</div>
                                    </div>
                                    <div class="field_elem field_super_small ml30">100 000</div>
                                </div>
                                <div class="field_total_comment clearfix">
                                    <div class="field_elem field_super_small">
                                        <div class="total_title">Не распределено, руб. без НДС:</div>
                                    </div>
                                    <div class="field_elem field_super_small ml30">10 000</div>
                                </div>
                            </div>

                        </div><!-- /field_elem -->
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Комментарий</div>
                        <div class="field_elem">
                            <textarea class="inp_textarea"></textarea>
                        </div><!-- /field_elem -->
                    </div><!-- /form_field -->

                </div><!-- /tab_content_block -->


                <!-- /FORM BLOCK -->
                <div class="tab_content_block">

                    <h2 class="form_block_title">Подрядчик</h2>

                    <div class="form_field">
                        <div class="field_title">Название <span class="require">*</span></div>
                        <div class="field_elem">
                            <input type="text" class="inp_txt">
                        </div>
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Контакты</div>
                        <div class="field_elem">
                            <div class="field_group_add_btn clearfix">
                                <a href="#" class="theme_btn_light fl_right">Добавить еще</a>
                                <input type="text" class="inp_txt">
                            </div>
                        </div>
                    </div><!-- /form_field -->

                </div><!-- /tab_content_block -->


                <!-- /FORM BLOCK -->
                <div class="tab_content_block">

                    <h2 class="form_block_title">Макет 
                        <div class="info_tooltip">
                            <svg class="icon icon_info">
                                <use xlink:href="resources/img/sprite.svg#Info">
                            </svg> 
                            <div class="info_tooltip_item">В этом пункте указывается фактическое  количество показов одного носителя в период размещения</div>
                        </div>
                    </h2>


                    <div class="fileupload_wrap clearfix">
                        <div class="file_list_wrapper js_eq_height">
                            <div class="file_item">
                                <a href="#" class="file_title js_popup js_img_pop_render" data-popup="#img_popup" data-img-link="temp/trash_img/big.jpg" data-img-name="Макет 1" data-img-src="temp/trash_img/big.jpg">Макет 1</a>
                                <div class="item_img">
                                    <img src="temp/trash_img/preview.jpg">
                                    <div class="img_btns_wrapper">
                                        <a href="#" class="icon_btn has_tooltip js_popup js_img_pop_render" data-popup="#img_popup" data-img-link="temp/trash_img/big.jpg" data-img-name="Макет 1" data-img-src="temp/trash_img/big.jpg">
                                            <svg class="icon icon_view">
                                                <use xlink:href="resources/img/sprite.svg#View">
                                            </svg>
                                            <span class="tooltip">Посмотреть</span>
                                        </a>
                                        <a href="#" class="icon_btn has_tooltip">
                                            <svg class="icon icon_download">
                                                <use xlink:href="resources/img/sprite.svg#Download">
                                            </svg>
                                            <span class="tooltip">Скачать</span>
                                        </a>
                                        <a href="#" class="icon_btn alarm has_tooltip">
                                            <svg class="icon icon_delete">
                                                <use xlink:href="resources/img/sprite.svg#Delete">
                                            </svg>
                                            <span class="tooltip">Удалить</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="item_title js_eq_height_item">DSC_9093</div>
                                <a href="#" class="item_delete">
                                    <svg class="icon icon_trash">
                                        <use xlink:href="resources/img/sprite.svg#Trash">
                                    </svg>
                                </a>
                                <div class="item_type">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Img">
                                    </svg>
                                    <span class="title">JPG</span>
                                </div>
                            </div>
                            <div class="file_item">
                                <a href="#" class="file_title js_popup js_img_pop_render" data-popup="#img_popup" data-img-link="temp/trash_img/big2.jpg" data-img-name="Макет 2" data-img-src="temp/trash_img/big2.jpg">Макет 2</a>
                                <div class="item_img">
                                    <img src="temp/trash_img/preview.jpg">
                                    <div class="img_btns_wrapper">
                                        <a href="#" class="icon_btn has_tooltip js_popup js_img_pop_render" data-popup="#img_popup" data-img-link="temp/trash_img/big2.jpg" data-img-name="Макет 2" data-img-src="temp/trash_img/big2.jpg">
                                            <svg class="icon icon_view">
                                                <use xlink:href="resources/img/sprite.svg#View">
                                            </svg>
                                            <span class="tooltip">Посмотреть</span>
                                        </a>
                                        <a href="#" class="icon_btn has_tooltip">
                                            <svg class="icon icon_download">
                                                <use xlink:href="resources/img/sprite.svg#Download">
                                            </svg>
                                            <span class="tooltip">Скачать</span>
                                        </a>
                                        <a href="#" class="icon_btn alarm has_tooltip">
                                            <svg class="icon icon_delete">
                                                <use xlink:href="resources/img/sprite.svg#Delete">
                                            </svg>
                                            <span class="tooltip">Удалить</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="item_title js_eq_height_item">DSC_9093</div>
                                <a href="#" class="item_delete">
                                    <svg class="icon icon_trash">
                                        <use xlink:href="resources/img/sprite.svg#Trash">
                                    </svg>
                                </a>
                                <div class="item_type">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Img">
                                    </svg>
                                    <span class="title">JPG</span>
                                </div>
                            </div>
                            <div class="file_item loading">
                                <a href="#" class="file_title js_popup">Макет 3</a>
                                <div class="item_img">
                                    <div class="loading_msg">
                                        <div class="spinner"></div>
                                        Идет загрузка
                                    </div>
                                </div>
                                <div class="item_title js_eq_height_item">Amarok_VW_somenameofthefile that i want to  see hereasddas_89324 _ VW.tiff</div>
                                <a href="#" class="item_delete">
                                    <svg class="icon icon_trash">
                                        <use xlink:href="resources/img/sprite.svg#Trash">
                                    </svg>
                                </a>
                            </div>
                            <label class="file_item upload_btn" for="file_inp">
                                <span class="theme_btn_light">Загрузить еще</span>
                                <input id="file_inp" type="file" multiple="">
                            </label>
                        </div><!-- /file_list_wrapper -->
                    </div>

                    <div class="mt10 mb20">
                        <a href="#">Открыть все макеты</a>
                    </div>

                </div><!-- /tab_content_block -->

            </form>

        </div><!-- /tab_content_wrapper form_wrapper -->


        <div class="btns_wrap txt_right mt20">
            <a href="#" class="theme_btn">Сохранить</a>
            <a href="#" class="theme_btn_light">Отправить вперёд</a>
            <a href="#" class="nav_link grey_link">Закрыть</a>
        </div>

        
    </div><!--/inside_wrapper -->

</article><!--/main_content -->



<div class="popup js_img_popup" id="img_popup">
    <div class="pop_content">
        <div class="popup_header">
            <a href="#" class="close js_popup_close">
                <svg class="icon icon_delete_big">
                    <use xlink:href="resources/img/sprite.svg#Delete">
                </svg>
            </a>
            <a href="#" class="fl_right js_img_link" target="_blank">Открыть в полном размере</a>
            <div class="img_title js_img_name"></div>
        </div>
        
        <div class="popup_scroll_wrap js_custom_scroll"><!-- эту обертку можно не добавлять, если не нужен скролл -->
            <div class="popup_content_inside">
                <div class="img_popup_view">
                    <img src="#" alt="photo" class="js_img_src">
                </div>

            </div><!--  /popup_content_inside -->

        </div><!--  /popup_scroll_wrap -->

    </div><!-- /pop_content -->

</div><!-- /popup -->





@@include('template/footer.html')

<!-- здесь подключать скрипт для этой страницы -->

@@include('template/footer_end.html')
       