@@include('template/head.html', { "title": "Заявкa: сообщения" })
@@include('template/sidebar.html')
@@include('template/header.html')

<article class="main_content">


    <!-- CONTENT BLOCK -->
    <div class="content_block inside_wrapper clearfix">

        <h1 class="primary_title">Заявка №259656<span class="separator"></span>ATL</h1>


        <div class="sys_content_header">
            <div class="primary_item_info">
                <div class="item">
                    <span class="title">Дилер</span>
                    <a href="#" class="info">Макс Моторс, Новосибирск (код: 174)</a>
                </div>
                <div class="item">
                    <span class="title">Категория</span>
                    <span class="info">Наружная реклама</span>
                </div>
            </div>

            <div class="status_edit_wrapper">
                <div class="status_edit_item txt_right">
                    <span class="title">Статус:</span>
                    <span class="current">Черновик</span>
                </div>
                
                <div class="status_edit_item">
                    <a href="#" class="theme_btn">Сохранить</a>
                    <div class="status_drop">
                        <a href="#" class="theme_btn_light status_btn">Утверждение Агентством 1 (Байер)</a>
                        <a href="#" class="theme_btn_light icon_btn js_select_drop status_btn_drop">
                            <svg class="icon icon_select">
                                <use xlink:href="resources/img/sprite.svg#Dropdown">
                            </svg>
                        </a>
                        <div class="dropdown_item js_select_drop_item status_dropdown">
                            <ul class="status_group ul_simple">
                                <li class="current">Черновик</li>
                                <li class="active"><a href="#">Утверждение Агентством 1 (Байер)</a></li>
                                <li>Утверждение Агентством 2 (Дизайнер)</li>
                                <li>Утверждение Агентством 3 (Аккаунт)</li>
                                <li>Отчеты и статистика</li>
                                <li>Закрытие заявки Агентством (Аккаунт)</li>
                                <li>Закрытие заявки Агентством (Менеджер по размещению )</li>
                            </ul>
                            <ul class="status_group ul_simple">
                                <li class="active"><a href="#">Импортёр</a></li>
                            </ul>
                        </div>
                    </div>
                    <a href="#" class="nav_link grey_link">Закрыть</a>
                </div>
            </div>
        </div><!-- /sys_content_header -->


        <div class="content_nav_wrap clearfix">
            <!-- TABS -->
            <div class="tabs_wrap light_tabs">
                <a href="#" class="tabs_item js_tabs"><span class="title">Заявка</span></a>
                <a href="#" class="tabs_item js_tabs active"><span class="title">Сообщения</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Отчеты и статистика</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Статусы</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">История</span></a>
            </div>
        </div>

     

        <div class="tab_content_wrapper messages_wrapper">
        
            <div class="tab_content_block">
                <div class="message_item">
                    <div class="fl_right icon_btn_wrap">
                        <a href="#" class="theme_btn_light icon_btn">
                            <svg class="icon icon_quote">
                                <use xlink:href="resources/img/sprite.svg#Quote">
                            </svg>
                        </a>
                    </div>
                    <div class="message_head">
                        <div class="head_item title">Агентство</div>
                        <div class="head_item date">23.10.2015 14:12 </div>
                        <div class="head_item private">Приватное</div>
                    </div>
                    <div class="message_txt">Коллеги, согласно данным http://www.gudok.ru/upload/iblock/ae6/1vpered-_-prays-obshchiy.pdf, один выход формата 1/2 стоит 12 600 рублей. <br>Следовательно стоимость двух выходов 25 200 рублей, что ниже стоимости в параметрах на 1300 рублей. <br>Просьба уточнить у дилера причину отклонения от прайса и согласовать понижение стоимости до 25200 рублей.<br>Спасибо.</div>
                </div><!-- /message_item -->
            </div><!-- /tab_content_block -->


            <div class="tab_content_block">
                <div class="message_item">
                    <div class="fl_right icon_btn_wrap">
                        <a href="#" class="theme_btn_light icon_btn">
                            <svg class="icon icon_quote">
                                <use xlink:href="resources/img/sprite.svg#Quote">
                            </svg>
                        </a>
                    </div>
                    <div class="message_head">
                        <div class="head_item title">Агентство</div>
                        <div class="head_item date">23.10.2015 14:12 </div>
                        <div class="head_item private">Приватное</div>
                    </div>
                    <div class="message_quote">
                        <div class="quote_title">Агентство пишет:</div>
                        Коллеги, согласно данным http://www.gudok.ru/upload/iblock/ae6/1vpered-_-prays-obshchiy.pdf, один выход формата 1/2 стоит 12 600 рублей. <br>Следовательно стоимость двух выходов 25 200 рублей, что ниже стоимости в параметрах на 1300 рублей. <br>Просьба уточнить у дилера причину отклонения от прайса и согласовать понижение стоимости до 25200 рублей.<br>Спасибо.
                    </div>
                    <div class="message_txt">Аналогичный макет есть на сайте, технически все ок</div>
                    
                </div><!-- /message_item -->
            </div><!-- /tab_content_block -->


            <div class="tab_content_block">
                <div class="message_item">
                    <div class="fl_right icon_btn_wrap">
                        <a href="#" class="theme_btn_light icon_btn">
                            <svg class="icon icon_quote">
                                <use xlink:href="resources/img/sprite.svg#Quote">
                            </svg>
                        </a>
                        <a href="#" class="theme_btn_light icon_btn">
                            <svg class="icon icon_edit_message">
                                <use xlink:href="resources/img/sprite.svg#Edit_message">
                            </svg>
                        </a>
                        <a href="#" class="theme_btn_light icon_btn">
                            <svg class="icon icon_delete">
                                <use xlink:href="resources/img/sprite.svg#Delete">
                            </svg>
                        </a>
                    </div>
                    <div class="message_head">
                        <div class="head_item title">Гаус</div>
                        <div class="head_item date notice">23.10.2015 14:12 </div>
                    </div>
                    <div class="message_txt">Коллеги, согласно прайс-листу стоимость 1/2 полосы составляет 13250 р, соответственно стоимость 2 выходов 26500 р, как было ранее указано в параметрах.</div>
                    <div class="msg_file">
                        <a href="#" class="file_link">
                            <svg class="icon icon_clip">
                                <use xlink:href="resources/img/sprite.svg#Clip">
                            </svg>
                            Price_20_10_2015_all.xlsx
                        </a>
                    </div>
                </div><!-- /message_item -->
            </div><!-- /tab_content_block -->


            <div class="tab_content_block">
                <div class="form_wrapper">
                    <form action="">
                        <div class="form_field">
                            <textarea class="inp_textarea"></textarea>
                        </div>
                        <div class="form_field">
                            <div class="fl_right">
                                <span class="field_comment">Ctrl + Enter</span>
                                <input type="submit" class="theme_btn_light middle_valing" value="Отправить сообщение">
                            </div>
                            <label class="upload_btn" for="file_inp">
                                <span class="theme_btn_light middle_valing">Прикрепить файл</span>
                                <input id="file_inp" type="file" multiple>
                            </label>
                            <span class="field_comment file_name">Максимальный размер 7 Мб</span>
                        </div>
                        <div class="form_field">
                            <div class="field_item_wrap mr10">
                                <label class="inp_checkbox">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="resources/img/sprite.svg#Check">
                                        </use></svg> 
                                    </span>
                                    <span class="title">Приватное</span>
                                </label>
                            </div>
                            <div class="field_item_wrap">
                                <label class="inp_checkbox">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="resources/img/sprite.svg#Check">
                                        </use></svg> 
                                    </span>
                                    <span class="title">Для импортера</span>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /tab_content_block -->

           
        </div><!-- /tab_content_wrapper -->

        <div class="btns_wrap txt_right mt20">
            <a href="#" class="theme_btn">Сохранить</a>
            <a href="#" class="theme_btn_light">Отправить вперёд</a>
            <a href="#" class="nav_link grey_link">Отмена</a>
        </div>



    </div><!--/inside_wrapper -->

</article><!--/main_content -->



@@include('template/footer.html')

<!-- здесь подключать скрипт для этой страницы -->

@@include('template/footer_end.html')
       