@@include('template/head.html', { "title": "Заявкa: история изменений" })
@@include('template/sidebar.html')
@@include('template/header.html')



<article class="main_content">


    <!-- CONTENT BLOCK -->
    <div class="content_block inside_wrapper clearfix">

        <h1 class="primary_title">Заявка №259656<span class="separator"></span>ATL</h1>

        <div class="sys_content_header">
            <div class="primary_item_info">
                <div class="item">
                    <span class="title">Дилер</span>
                    <a href="#" class="info">Макс Моторс, Новосибирск (код: 174)</a>
                </div>
                <div class="item">
                    <span class="title">Категория</span>
                    <span class="info">Наружная реклама</span>
                </div>
            </div>

            <div class="status_edit_wrapper">
                <div class="status_edit_item txt_right">
                    <span class="title">Статус:</span>
                    <span class="current">Черновик</span>
                </div>
                
                <div class="status_edit_item">
                    <a href="#" class="theme_btn">Сохранить</a>
                    <div class="status_drop">
                        <a href="#" class="theme_btn_light status_btn">Утверждение Агентством 1 (Байер)</a>
                        <a href="#" class="theme_btn_light icon_btn js_select_drop status_btn_drop">
                            <svg class="icon icon_select">
                                <use xlink:href="resources/img/sprite.svg#Dropdown">
                            </svg>
                        </a>
                        <div class="dropdown_item js_select_drop_item status_dropdown">
                            <ul class="status_group ul_simple">
                                <li class="current">Черновик</li>
                                <li class="active"><a href="#">Утверждение Агентством 1 (Байер)</a></li>
                                <li>Утверждение Агентством 2 (Дизайнер)</li>
                                <li>Утверждение Агентством 3 (Аккаунт)</li>
                                <li>Отчеты и статистика</li>
                                <li>Закрытие заявки Агентством (Аккаунт)</li>
                                <li>Закрытие заявки Агентством (Менеджер по размещению )</li>
                            </ul>
                            <ul class="status_group ul_simple">
                                <li class="active"><a href="#">Импортёр</a></li>
                            </ul>
                        </div>
                    </div>
                    <a href="#" class="nav_link grey_link">Закрыть</a>
                </div>
            </div>
        </div><!-- /sys_content_header -->

        

        <div class="content_nav_wrap clearfix">
            <!-- TABS -->
            <div class="tabs_wrap light_tabs">
                <a href="#" class="tabs_item js_tabs"><span class="title">Заявка</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Сообщения</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Отчеты и статистика</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Статусы</span></a>
                <a href="#" class="tabs_item js_tabs active"><span class="title">История</span></a>
            </div>
        </div>

     

        <div class="tab_content_wrapper history_wrapper">
        
            <div class="accor_list_head">
                <span class="head_item">#2336111</span>
                <span class="head_item">07.11.2015 23:43:37</span>
                <span class="head_item">Ксения Колесникова (Макс Моторс)</span>
            </div>

            <ul class="accor_list first_lvl">
                <li class="list_item">
                    <div class="accor_title js_accor_toggler">
                        <svg class="icon icon_closed_list">
                            <use xlink:href="resources/img/sprite.svg#Closed_list">
                        </svg>
                        <svg class="icon icon_open_list">
                            <use xlink:href="resources/img/sprite.svg#Open_list">
                        </svg>
                        <span>Заявка №259656 (Размещение рекламы)</span>
                    </div>

                    <ul class="accor_list second_lvl js_accor_toggler_content">
                        <li class="list_item">
                            <div class="accor_title js_accor_toggler">
                                <svg class="icon icon_closed_list">
                                    <use xlink:href="resources/img/sprite.svg#Closed_list">
                                </svg>
                                <svg class="icon icon_open_list">
                                    <use xlink:href="resources/img/sprite.svg#Open_list">
                                </svg>
                                <span>Размещение: Интернет; www.odnoklassniki.ru; 27.10–31.10; Polo Sedan</span>
                            </div>

                            <ul class="accor_list third_lvl js_accor_toggler_content">
                                <li class="list_item">
                                    <div class="accor_title js_accor_toggler">
                                        <svg class="icon icon_closed_list">
                                            <use xlink:href="resources/img/sprite.svg#Closed_list">
                                        </svg>
                                        <svg class="icon icon_open_list">
                                            <use xlink:href="resources/img/sprite.svg#Open_list">
                                        </svg>
                                        <span>Фотоотчет «счет_434.png»</span>
                                    </div>

                                    <div class="accor_info_content js_accor_toggler_content">
                                        <table class="info_item">
                                            <tr>
                                                <td class="light_txt">Время загрузки</td>
                                                <td>06.11.2015 8:42:12</td>
                                                <td>06.11.2015 8:42:12</td>
                                            </tr>
                                            <tr>
                                                <td class="light_txt">Адрес</td>
                                                <td>г. Новосибирск, ул. Кирова 274</td>
                                                <td>г. Новосибирск, ул. Кирова 274</td>
                                            </tr>
                                        </table>
                                    </div>
                                </li>

                                <li class="list_item">
                                    <div class="accor_title js_accor_toggler">
                                        <svg class="icon icon_closed_list">
                                            <use xlink:href="resources/img/sprite.svg#Closed_list">
                                        </svg>
                                        <svg class="icon icon_open_list">
                                            <use xlink:href="resources/img/sprite.svg#Open_list">
                                        </svg>
                                        <span>Фотоотчет «Рисунок__64_.jpg»</span>
                                    </div>

                                    <div class="accor_info_content js_accor_toggler_content">
                                        <table class="info_item">
                                            <tr>
                                                <td class="light_txt">Время загрузки</td>
                                                <td>06.11.2015 8:42:12</td>
                                                <td>06.11.2015 8:42:12</td>
                                            </tr>
                                            <tr>
                                                <td class="light_txt">Адрес</td>
                                                <td>г. Новосибирск, ул. Кирова 274</td>
                                                <td>г. Новосибирск, ул. Кирова 274</td>
                                            </tr>
                                        </table>
                                    </div>
                                </li>

                                <li class="list_item">
                                    <div class="accor_title js_accor_toggler">
                                        <svg class="icon icon_closed_list">
                                            <use xlink:href="resources/img/sprite.svg#Closed_list">
                                        </svg>
                                        <svg class="icon icon_open_list">
                                            <use xlink:href="resources/img/sprite.svg#Open_list">
                                        </svg>
                                        <span>Файл «tmp46B9.tmp1.jpg»</span>
                                    </div>

                                    <div class="accor_info_content js_accor_toggler_content">
                                        <table class="info_item">
                                            <tr>
                                                <td class="light_txt">Время загрузки</td>
                                                <td>06.11.2015 8:42:12</td>
                                                <td>06.11.2015 8:42:12</td>
                                            </tr>
                                            <tr>
                                                <td class="light_txt">Адрес</td>
                                                <td>г. Новосибирск, ул. Кирова 274</td>
                                                <td>г. Новосибирск, ул. Кирова 274</td>
                                            </tr>
                                        </table>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li><!-- /list_item -->
            </ul><!-- /accor_list -->

            <div class="accor_list_head">
                <span class="head_item">#2315974</span>
                <span class="head_item">22.10.2015 13:06:26</span>
                <span class="head_item">Ксения Колесникова (Макс Моторс)</span>
            </div>

            <ul class="accor_list first_lvl">
                <li class="list_item">
                    <div class="accor_title js_accor_toggler">
                        <svg class="icon icon_closed_list">
                            <use xlink:href="resources/img/sprite.svg#Closed_list">
                        </svg>
                        <svg class="icon icon_open_list">
                            <use xlink:href="resources/img/sprite.svg#Open_list">
                        </svg>
                        <span>Файл «VWPolo_okt15_240-400_mail_001.swf»</span>
                    </div>

                    <div class="accor_info_content js_accor_toggler_content">
                        <table class="info_item">
                            <tr>
                                <td class="light_txt">Время загрузки</td>
                                <td>06.11.2015 8:42:12</td>
                                <td>06.11.2015 8:42:12</td>
                            </tr>
                            <tr>
                                <td class="light_txt">Адрес</td>
                                <td>г. Новосибирск, ул. Кирова 274</td>
                                <td>г. Новосибирск, ул. Кирова 274</td>
                            </tr>
                        </table>
                    </div>
                </li><!-- /list_item -->

                <li class="list_item">
                    <div class="accor_title js_accor_toggler">
                        <svg class="icon icon_closed_list">
                            <use xlink:href="resources/img/sprite.svg#Closed_list">
                        </svg>
                        <svg class="icon icon_open_list">
                            <use xlink:href="resources/img/sprite.svg#Open_list">
                        </svg>
                        <span>Файл «VWPolo_okt15_468-60_google_001.swf»</span>
                    </div>

                    <ul class="accor_list second_lvl js_accor_toggler_content">
                        <li class="list_item">
                            <div class="accor_title js_accor_toggler">
                                <svg class="icon icon_closed_list">
                                    <use xlink:href="resources/img/sprite.svg#Closed_list">
                                </svg>
                                <svg class="icon icon_open_list">
                                    <use xlink:href="resources/img/sprite.svg#Open_list">
                                </svg>
                                <span>Файл «VWPolo_okt15_468-60_google_001.swf»</span>
                            </div>

                            <div class="accor_info_content js_accor_toggler_content">
                                <table class="info_item">
                                    <tr>
                                        <td class="light_txt">Время загрузки</td>
                                        <td>06.11.2015 8:42:12</td>
                                        <td>06.11.2015 8:42:12</td>
                                    </tr>
                                    <tr>
                                        <td class="light_txt">Адрес</td>
                                        <td>г. Новосибирск, ул. Кирова 274</td>
                                        <td>г. Новосибирск, ул. Кирова 274</td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    </ul>
                </li><!-- /list_item -->

                <li class="list_item">
                    <div class="accor_title js_accor_toggler">
                        <svg class="icon icon_closed_list">
                            <use xlink:href="resources/img/sprite.svg#Closed_list">
                        </svg>
                        <svg class="icon icon_open_list">
                            <use xlink:href="resources/img/sprite.svg#Open_list">
                        </svg>
                        <span>Заявка №259656 (Размещение рекламы)</span>
                    </div>

                    <ul class="accor_list second_lvl js_accor_toggler_content">
                        <li class="list_item">
                            <div class="accor_title js_accor_toggler">
                                <svg class="icon icon_closed_list">
                                    <use xlink:href="resources/img/sprite.svg#Closed_list">
                                </svg>
                                <svg class="icon icon_open_list">
                                    <use xlink:href="resources/img/sprite.svg#Open_list">
                                </svg>
                                <span>Размещение: Интернет; www.odnoklassniki.ru; 27.10–31.10; Polo Sedan</span>
                            </div>

                            <ul class="accor_list third_lvl js_accor_toggler_content">
                                <li class="list_item">
                                    <div class="accor_title js_accor_toggler">
                                        <svg class="icon icon_closed_list">
                                            <use xlink:href="resources/img/sprite.svg#Closed_list">
                                        </svg>
                                        <svg class="icon icon_open_list">
                                            <use xlink:href="resources/img/sprite.svg#Open_list">
                                        </svg>
                                        <span>Фотоотчет «счет_434.png»</span>
                                    </div>

                                    <div class="accor_info_content js_accor_toggler_content">
                                        <table class="info_item">
                                            <tr>
                                                <td class="light_txt">Время загрузки</td>
                                                <td>06.11.2015 8:42:12</td>
                                                <td>06.11.2015 8:42:12</td>
                                            </tr>
                                            <tr>
                                                <td class="light_txt">Адрес</td>
                                                <td>г. Новосибирск, ул. Кирова 274</td>
                                                <td>г. Новосибирск, ул. Кирова 274</td>
                                            </tr>
                                        </table>
                                    </div>
                                </li>

                                <li class="list_item">
                                    <div class="accor_title js_accor_toggler">
                                        <svg class="icon icon_closed_list">
                                            <use xlink:href="resources/img/sprite.svg#Closed_list">
                                        </svg>
                                        <svg class="icon icon_open_list">
                                            <use xlink:href="resources/img/sprite.svg#Open_list">
                                        </svg>
                                        <span>Фотоотчет «Рисунок__64_.jpg»</span>
                                    </div>

                                    <div class="accor_info_content js_accor_toggler_content">
                                        <table class="info_item">
                                            <tr>
                                                <td class="light_txt">Время загрузки</td>
                                                <td>06.11.2015 8:42:12</td>
                                                <td>06.11.2015 8:42:12</td>
                                            </tr>
                                            <tr>
                                                <td class="light_txt">Адрес</td>
                                                <td>г. Новосибирск, ул. Кирова 274</td>
                                                <td>г. Новосибирск, ул. Кирова 274</td>
                                            </tr>
                                        </table>
                                    </div>
                                </li>

                                <li class="list_item">
                                    <div class="accor_title js_accor_toggler">
                                        <svg class="icon icon_closed_list">
                                            <use xlink:href="resources/img/sprite.svg#Closed_list">
                                        </svg>
                                        <svg class="icon icon_open_list">
                                            <use xlink:href="resources/img/sprite.svg#Open_list">
                                        </svg>
                                        <span>Файл «tmp46B9.tmp1.jpg»</span>
                                    </div>

                                    <div class="accor_info_content js_accor_toggler_content">
                                        <table class="info_item">
                                            <tr>
                                                <td class="light_txt">Время загрузки</td>
                                                <td>06.11.2015 8:42:12</td>
                                                <td>06.11.2015 8:42:12</td>
                                            </tr>
                                            <tr>
                                                <td class="light_txt">Адрес</td>
                                                <td>г. Новосибирск, ул. Кирова 274</td>
                                                <td>г. Новосибирск, ул. Кирова 274</td>
                                            </tr>
                                        </table>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li><!-- /list_item -->
            </ul><!-- /accor_list -->


        </div><!-- /tab_content_wrapper -->


        <div class="btns_wrap txt_right mt20">
            <a href="#" class="theme_btn">Сохранить</a>
            <a href="#" class="theme_btn_light">Отправить</a>
            <a href="#" class="nav_link grey_link">Отмена</a>
        </div>



    </div><!--/inside_wrapper -->

</article><!--/main_content -->



@@include('template/footer.html')

<!-- здесь подключать скрипт для этой страницы -->

@@include('template/footer_end.html')
       