@@include('template/head.html', { "title": "Заявкa" })
@@include('template/sidebar.html')
@@include('template/header.html')

<article class="main_content">


    <!-- CONTENT BLOCK -->
    <div class="content_block inside_wrapper clearfix">

        <h1 class="primary_title">Новая заявка на размещение<span class="separator"></span>ATL</h1>

        <div class="sys_content_header">

            <div class="status_edit_wrapper">
                <div class="status_edit_item txt_right">
                    <span class="title">Статус:</span>
                    <span class="current">Черновик</span>
                </div>
                
                <div class="status_edit_item">
                    <a href="#" class="theme_btn">Сохранить</a>
                    <div class="status_drop">
                        <a href="#" class="theme_btn_light status_btn">Утверждение Агентством 1 (Байер)</a>
                        <a href="#" class="theme_btn_light icon_btn js_select_drop status_btn_drop">
                            <svg class="icon icon_select">
                                <use xlink:href="resources/img/sprite.svg#Dropdown">
                            </svg>
                        </a>
                        <div class="dropdown_item js_select_drop_item status_dropdown">
                            <ul class="status_group ul_simple">
                                <li class="current">Черновик</li>
                                <li class="active"><a href="#">Утверждение Агентством 1 (Байер)</a></li>
                                <li>Утверждение Агентством 2 (Дизайнер)</li>
                                <li>Утверждение Агентством 3 (Аккаунт)</li>
                                <li>Отчеты и статистика</li>
                                <li>Закрытие заявки Агентством (Аккаунт)</li>
                                <li>Закрытие заявки Агентством (Менеджер по размещению )</li>
                            </ul>
                            <ul class="status_group ul_simple">
                                <li class="active"><a href="#">Импортёр</a></li>
                            </ul>
                        </div>
                    </div>
                    <a href="#" class="nav_link grey_link">Закрыть</a>
                </div>
            </div>
        </div><!-- /sys_content_header -->

        <div class="content_nav_wrap clearfix">
            <!-- TABS -->
            <div class="tabs_wrap light_tabs">
                <a href="#" class="tabs_item js_tabs active"><span class="title">Заявка</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Сообщения</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Отчеты и статистика</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Статусы</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">История</span></a>
            </div>
        </div>

        
        <div class="tab_content_wrapper form_wrapper">
            <form action="">
            
                <!-- /FORM BLOCK -->
                <div class="tab_content_block">

                    <h2 class="form_block_title">Тип заявки</h2>

                    <div class="form_field">
                        <div class="field_title">Дилер <span class="require">*</span></div>
                        <div class="field_elem">
                            <div class="select_wrap field_small">
                                <select class="js_chosen_select">
                                    <option></option>
                                    <option>!Тестовый дилер</option>
                                    <option>Genser ВЛК (144)</option>
                                    <option>Genser Липецк (257)</option>
                                    <option>Genser Реутов (126)</option>
                                    <option>Genser Ясенево (147)</option>
                                    <option>АА Мэйджор Авто (119)</option>
                                    <option>ААА Моторс  (226)</option>
                                    <option>Аванта (148)</option>
                                    <option>АВИЛОН (127)</option>
                                    <option>Авто АЛЕА (125)</option>
                                    <option>Авто Ганза (102)</option>
                                    <option>АВТО ЗИГЕР (206)</option>
                                    <option>Авто Престус (111)</option>
                                    <option>Автобан Зап. Пл. (232)</option>
                                    <option>Автобан-Юг (293)</option>
                                    <option>АвтоБерг (185)</option>
                                    <option>Автогранд (217)</option>
                                    <option>Авто-Дина (173)</option>
                                    <option>Автоимпорт (213)</option>
                                    <option>АвтоКлаус Центр (191)</option>
                                    <option>АвтоЛюкс (181)</option>
                                    <option>Автомир Воронеж (280)</option>
                                    <option>Автомир Новосиб (281)</option>
                                </select>
                                <svg class="icon">
                                    <use xlink:href="resources/img/sprite.svg#Dropdown">
                                </svg>
                            </div>
                        </div>
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Категория <span class="require">*</span></div>
                        <div class="field_elem">
                            <div class="select_wrap field_small">
                                <select class="js_chosen_select">
                                    <option></option>
                                    <option selected>Пресса</option>
                                    <option>Внутрення реклама</option>
                                    <option>Наружная реклама</option>
                                    <option>Внутрення реклама</option>
                                </select>
                                <svg class="icon">
                                    <use xlink:href="resources/img/sprite.svg#Dropdown">
                                </svg>
                            </div>
                        </div>
                    </div><!-- /form_field -->
                </div><!-- /tab_content_block -->

                <!-- /FORM BLOCK -->
                <div class="tab_content_block statistics_block">
                    <span class="item accent">Статистические показатели:</span>
                    <span class="item">CTR: <span class="accent">17%</span></span>
                    <span class="item">CPC: <span class="accent">200 руб.</span></span>
                    <span class="item">Цена размещения: <span class="accent">2 000 руб.</span></span>
                </div>


                <!-- /FORM BLOCK -->
                <div class="tab_content_block">

                    <h2 class="form_block_title">Общая информация</h2>

                    <div class="form_field">
                        <div class="field_title">Модель <span class="require">*</span></div>
                        <div class="field_elem">
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Общая компания</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox" checked>
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Polo Sedan</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Tiguan</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox" checked>
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Jetta</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Golf A7</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Passat Lim</span>
                            </label>
                            <label class="inp_checkbox no_margin_l">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Touareg</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Passat CC</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Touran</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Passat Variant</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">Phaeton</span>
                            </label>
                            <label class="inp_checkbox">
                                <input type="checkbox">
                                <span class="check_icon">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Check">
                                    </svg> 
                                </span>
                                <span class="title">DWA</span>
                            </label>
                        </div>
                    </div><!-- /form_field -->

                    <div class="form_field error">
                        <div class="field_title">Период размещения <span class="require">*</span></div>
                        <div class="field_elem">
                            <div class="clearfix">
                                <div class="field_title">с</div>
                                <div class="field_elem datepicker_wrap mr10">              
                                    <input type="text" class="inp_txt js_datepicker js_date_mask">
                                    <svg class="icon icon_calendar js_datepicker_show">
                                        <use xlink:href="resources/img/sprite.svg#Calendar_small">
                                    </svg> 
                                </div>
                                <div class="field_title">по</div>
                                <div class="field_elem datepicker_wrap">
                                    <input type="text" class="inp_txt js_datepicker js_date_mask">
                                    <svg class="icon icon_calendar js_datepicker_show">
                                        <use xlink:href="resources/img/sprite.svg#Calendar_small">
                                    </svg> 
                                </div>
                            </div>
                            <div class="error_txt">Ошибка</div>
                        </div>
                        
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Формат <span class="require">*</span></div>
                        <div class="field_elem">
                            <div class="select_wrap field_medium">
                                <select class="js_chosen_select">
                                    <option></option>
                                    <option>Светодиодный экран (3х6)</option>
                                    <option>Светодиодный экран (3х6)</option>
                                    <option>Светодиодный экран (3х6)</option>
                                    <option>Светодиодный экран (3х6)</option>
                                </select>
                                <svg class="icon">
                                    <use xlink:href="resources/img/sprite.svg#Dropdown">
                                </svg>
                            </div>
                        </div>
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Детали размещения</div>
                        <div class="field_elem">
                            <input type="text" class="inp_txt">
                        </div>
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Общее количество поверхностей</div>
                        <div class="field_elem">
                            <input type="text" class="inp_txt field_super_small">
                        </div>
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Единица закупок</div>
                        <div class="field_elem">
                            <div class="select_wrap field_super_small">
                                <select class="js_chosen_select">
                                    <option></option>
                                    <option>Поверхность</option>
                                    <option>Выходы</option>
                                    <option>Поверхность</option>
                                    <option>Поверхность</option>
                                </select>
                                <svg class="icon">
                                    <use xlink:href="resources/img/sprite.svg#Dropdown">
                                </svg>
                            </div>
                        </div>
                    </div><!-- /form_field -->

                </div><!-- /tab_content_block -->



                <!-- /FORM BLOCK -->
                <div class="tab_content_block">
                    <div class="btns_wrap fl_right">
                        <a href="#" class="ico_link has_tooltip">
                            <svg class="icon icon_excel">
                                <use xlink:href="resources/img/sprite.svg#Excel">
                            </svg>
                            <span class="tooltip">Импорт из Excel</span>
                        </a>
                        <a href="#" class="ico_link has_tooltip">
                            <svg class="icon icon_bufer">
                                <use xlink:href="resources/img/sprite.svg#Bufer">
                            </svg>
                            <span class="tooltip">Вставить из буфера обмена</span>
                        </a>
                        <a href="#" class="theme_btn_light">
                            <svg class="icon icon_group">
                                <use xlink:href="resources/img/sprite.svg#Add_group">
                            </svg>
                            Добавить еще адрес
                        </a>
                    </div>

                    <h2 class="form_block_title">Адрес</h2>

                    <div class="table_inside_form_wrapper mt30">

                        <div class="primary_table table_inside_form">
                            <table>
                                <!-- table header-->
                                <tr class="header_row">
                                    <th>
                                        <div class="table_dropdown_wrap">
                                            <div class="btn_wrap js_dropdown_trigger">
                                                <label class="inp_checkbox js_dropdown_prevent">
                                                    <input type="checkbox" class="js_table_check_all">
                                                    <span class="check_icon">
                                                        <svg class="icon">
                                                            <use xlink:href="resources/img/sprite.svg#Check">
                                                        </svg> 
                                                    </span>
                                                </label>
                                            </div>
                                            <ul class="dropdown_list js_dropdown_item">
                                                <li><a href="#">Копировать</a></li>
                                                <li><a href="#">Удалить</a></li>
                                            </ul>
                                        </div><!-- /table_dropdown_wrap -->
                                    </th>
                                    <th>Издание</th>
                                    <th>Дата выхода</th>
                                    <th>Стоимость, руб.</th>
                                    <th>Производство</th>
                                    <th>Скидка, %</th>
                                    <th>Стоимость без<br>НДС, руб.</th>
                                    <th>Подрядчик</th>
                                </tr>

                                <!-- table body-->
                                <tr class="top_valing">
                                    <td>
                                        <div class="table_dropdown_wrap">
                                            <div class="btn_wrap js_dropdown_trigger">
                                                <label class="inp_checkbox js_dropdown_prevent">
                                                    <input type="checkbox">
                                                    <span class="check_icon">
                                                        <svg class="icon">
                                                            <use xlink:href="resources/img/sprite.svg#Check">
                                                        </svg> 
                                                    </span>
                                                </label>
                                            </div>
                                            <ul class="dropdown_list js_dropdown_item">
                                                <li><a href="#">Копировать</a></li>
                                                <li><a href="#">Удалить</a></li>
                                            </ul>
                                        </div><!-- /table_dropdown_wrap -->
                                    </td>
                                    <td>
                                        <div class="select_wrap field_medium">
                                            <select class="js_chosen_select">
                                                <option></option>
                                                <option>Автомир</option>
                                                <option>Автопром</option>
                                                <option>Автомир</option>
                                                <option>Автопром</option>
                                            </select>
                                            <svg class="icon">
                                                <use xlink:href="resources/img/sprite.svg#Dropdown">
                                            </svg>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field_with_icon">
                                            <div class="field_elem datepicker_wrap">      
                                                <input type="text" class="inp_txt field_small js_datepicker">
                                                <svg class="icon icon_calendar js_datepicker_show">
                                                    <use xlink:href="resources/img/sprite.svg#Calendar_small">
                                                </svg> 
                                            </div>
                                            <a href="#" class="field_icon"><svg class="icon icon_remove_field"><use xlink:href="resources/img/sprite.svg#Remove_field"></svg></a>
                                        </div>
                                        <div class="field_with_icon">
                                            <div class="field_elem datepicker_wrap">      
                                                <input type="text" class="inp_txt field_small js_datepicker">
                                                <svg class="icon icon_calendar js_datepicker_show">
                                                    <use xlink:href="resources/img/sprite.svg#Calendar_small">
                                                </svg> 
                                            </div>
                                            <a href="#" class="field_icon"><svg class="icon icon_remove_field"><use xlink:href="resources/img/sprite.svg#Remove_field"></svg></a>
                                        </div>
                                        <div class="field_with_icon">
                                            <div class="field_elem datepicker_wrap">      
                                                <input type="text" class="inp_txt field_small js_datepicker">
                                                <svg class="icon icon_calendar js_datepicker_show">
                                                    <use xlink:href="resources/img/sprite.svg#Calendar_small">
                                                </svg> 
                                            </div>
                                            <a href="#" class="field_icon"><svg class="icon icon_remove_field"><use xlink:href="resources/img/sprite.svg#Remove_field"></svg></a>
                                            <a href="#" class="field_icon"><svg class="icon icon_add_field"><use xlink:href="resources/img/sprite.svg#Add_field"></svg></a>
                                        </div>
                                    </td>
                                    <td><input type="text" class="inp_txt field_small js_numeric"></td>
                                    <td><input type="text" class="inp_txt field_small"></td>
                                    <td><input type="text" class="inp_txt field_super_small"></td>
                                    <td><input type="text" class="inp_txt field_small js_numeric"></td>
                                    <td><input type="text" class="inp_txt field_small"></td>
                                </tr>

                                <tr class="top_valing">
                                    <td>
                                        <div class="table_dropdown_wrap">
                                            <div class="btn_wrap js_dropdown_trigger">
                                                <label class="inp_checkbox js_dropdown_prevent">
                                                    <input type="checkbox">
                                                    <span class="check_icon">
                                                        <svg class="icon">
                                                            <use xlink:href="resources/img/sprite.svg#Check">
                                                        </svg> 
                                                    </span>
                                                </label>
                                            </div>
                                            <ul class="dropdown_list js_dropdown_item">
                                                <li><a href="#">Копировать</a></li>
                                                <li><a href="#">Удалить</a></li>
                                            </ul>
                                        </div><!-- /table_dropdown_wrap -->
                                    </td>
                                    <td>
                                        <div class="select_wrap field_medium">
                                            <select class="js_chosen_select">
                                                <option></option>
                                                <option>Автомир</option>
                                                <option>Автопром</option>
                                                <option>Автомир</option>
                                                <option>Автопром</option>
                                            </select>
                                            <svg class="icon">
                                                <use xlink:href="resources/img/sprite.svg#Dropdown">
                                            </svg>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field_with_icon">
                                            <div class="field_elem datepicker_wrap">      
                                                <input type="text" class="inp_txt field_small js_datepicker">
                                                <svg class="icon icon_calendar js_datepicker_show">
                                                    <use xlink:href="resources/img/sprite.svg#Calendar_small">
                                                </svg> 
                                            </div>
                                            <a href="#" class="field_icon"><svg class="icon icon_add_field"><use xlink:href="resources/img/sprite.svg#Add_field"></svg></a>
                                        </div>
                                    </td>
                                    <td><input type="text" class="inp_txt field_small js_numeric"></td>
                                    <td><input type="text" class="inp_txt field_small"></td>
                                    <td><input type="text" class="inp_txt field_super_small"></td>
                                    <td><input type="text" class="inp_txt field_small js_numeric"></td>
                                    <td><input type="text" class="inp_txt field_small"></td>
                                </tr>
                              
                            </table><!--/table_item -->
                        </div><!--/primary_table -->
                        
                    </div>


                </div><!-- /tab_content_block -->


                <!-- /FORM BLOCK -->
                <div class="tab_content_block">
                    <h2 class="form_block_title">Стоимость</h2>

                    <div class="form_field">
                        <div class="field_title">Распределение бюджета по моделям</div>
                        <div class="field_elem">
                            <div class="form_field">
                                <label class="inp_checkbox">
                                    <input type="checkbox" class="js_disabled_input_toggler">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                    <span class="title">Изменить распределение бюджета</span>
                                </label>
                            </div><!-- /form_field -->

                            <div class="form_field">
                                <input type="text" class="inp_txt field_super_small dark_txt mr20" value="Polo Sedan" disabled>
                                <input type="text" class="inp_txt field_super_small dark_txt js_disabled_input js_numeric" value="90000" disabled>
                                <span class="field_comment">руб. без НДС</span>
                            </div><!-- /form_field -->

                            <div class="form_field">
                                <input type="text" class="inp_txt field_super_small dark_txt mr20" value="Jetta" disabled>
                                <input type="text" class="inp_txt field_super_small dark_txt js_disabled_input js_numeric" value="90000" disabled>
                                <span class="field_comment">руб. без НДС</span>
                            </div><!-- /form_field -->

                            <div class="form_field">
                                <div class="field_total_comment clearfix">
                                    <div class="field_elem field_super_small">
                                        <div class="total_title">Итого, руб. без НДС:</div>
                                    </div>
                                    <div class="field_elem field_super_small ml30">100 000</div>
                                </div>
                                <div class="field_total_comment clearfix">
                                    <div class="field_elem field_super_small">
                                        <div class="total_title">Не распределено, руб. без НДС:</div>
                                    </div>
                                    <div class="field_elem field_super_small ml30">10 000</div>
                                </div>
                            </div>

                        </div><!-- /field_elem -->
                    </div><!-- /form_field -->

                    <div class="form_field">
                        <div class="field_title">Комментарий</div>
                        <div class="field_elem">
                            <textarea class="inp_textarea"></textarea>
                        </div><!-- /field_elem -->
                    </div><!-- /form_field -->

                </div><!-- /tab_content_block -->


                <!-- /FORM BLOCK -->
                <div class="tab_content_block">

                    <h2 class="form_block_title">Макет 
                        <div class="info_tooltip">
                            <svg class="icon icon_info">
                                <use xlink:href="resources/img/sprite.svg#Info">
                            </svg> 
                            <div class="info_tooltip_item">В этом пункте указывается фактическое  количество показов одного носителя в период размещения</div>
                        </div>
                    </h2>


                    <div class="fileupload_wrap clearfix">
                        <div class="file_list_wrapper js_eq_height">
                            <div class="file_item">
                                <a href="#" class="file_title js_popup js_img_pop_render" data-popup="#img_popup" data-img-link="temp/trash_img/big.jpg" data-img-name="Макет 1" data-img-src="temp/trash_img/big.jpg">Макет 1</a>
                                <div class="item_img">
                                    <img src="temp/trash_img/preview.jpg">
                                    <div class="img_btns_wrapper">
                                        <a href="#" class="icon_btn has_tooltip js_popup js_img_pop_render" data-popup="#img_popup" data-img-link="temp/trash_img/big.jpg" data-img-name="Макет 1" data-img-src="temp/trash_img/big.jpg">
                                            <svg class="icon icon_view">
                                                <use xlink:href="resources/img/sprite.svg#View">
                                            </svg>
                                            <span class="tooltip">Посмотреть</span>
                                        </a>
                                        <a href="#" class="icon_btn has_tooltip">
                                            <svg class="icon icon_download">
                                                <use xlink:href="resources/img/sprite.svg#Download">
                                            </svg>
                                            <span class="tooltip">Скачать</span>
                                        </a>
                                        <a href="#" class="icon_btn alarm has_tooltip">
                                            <svg class="icon icon_delete">
                                                <use xlink:href="resources/img/sprite.svg#Delete">
                                            </svg>
                                            <span class="tooltip">Удалить</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="item_title js_eq_height_item">DSC_9093</div>
                                <a href="#" class="item_delete">
                                    <svg class="icon icon_trash">
                                        <use xlink:href="resources/img/sprite.svg#Trash">
                                    </svg>
                                </a>
                                <div class="item_type">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Img">
                                    </svg>
                                    <span class="title">JPG</span>
                                </div>
                            </div><!-- нет пробела
                         --><div class="file_item">
                                <a href="#" class="file_title js_popup js_img_pop_render" data-popup="#img_popup" data-img-link="temp/trash_img/big2.jpg" data-img-name="Макет 2" data-img-src="temp/trash_img/big2.jpg">Макет 2</a>
                                <div class="item_img">
                                    <img src="temp/trash_img/preview.jpg">
                                    <div class="img_btns_wrapper">
                                        <a href="#" class="icon_btn has_tooltip js_popup js_img_pop_render" data-popup="#img_popup" data-img-link="temp/trash_img/big2.jpg" data-img-name="Макет 2" data-img-src="temp/trash_img/big2.jpg">
                                            <svg class="icon icon_view">
                                                <use xlink:href="resources/img/sprite.svg#View">
                                            </svg>
                                            <span class="tooltip">Посмотреть</span>
                                        </a>
                                        <a href="#" class="icon_btn has_tooltip">
                                            <svg class="icon icon_download">
                                                <use xlink:href="resources/img/sprite.svg#Download">
                                            </svg>
                                            <span class="tooltip">Скачать</span>
                                        </a>
                                        <a href="#" class="icon_btn alarm has_tooltip">
                                            <svg class="icon icon_delete">
                                                <use xlink:href="resources/img/sprite.svg#Delete">
                                            </svg>
                                            <span class="tooltip">Удалить</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="item_title js_eq_height_item">DSC_9093</div>
                                <a href="#" class="item_delete">
                                    <svg class="icon icon_trash">
                                        <use xlink:href="resources/img/sprite.svg#Trash">
                                    </svg>
                                </a>
                                <div class="item_type">
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Img">
                                    </svg>
                                    <span class="title">JPG</span>
                                </div>
                            </div><!-- нет пробела
                         --><div class="file_item loading">
                                <a href="#" class="file_title js_popup">Макет 3</a>
                                <div class="item_img">
                                    <div class="loading_msg">
                                        <div class="spinner"></div>
                                        Идет загрузка
                                    </div>
                                </div>
                                <div class="item_title js_eq_height_item">Amarok_VW_somenameofthefile that i want to  see hereasddas_89324 _ VW.tiff</div>
                                <a href="#" class="item_delete">
                                    <svg class="icon icon_trash">
                                        <use xlink:href="resources/img/sprite.svg#Trash">
                                    </svg>
                                </a>
                            </div><!-- нет пробела
                         --><label class="file_item upload_btn" for="file_inp">
                                <span class="theme_btn_light">Загрузить еще</span>
                                <input id="file_inp" type="file" multiple="">
                            </label>
                        </div><!-- /file_list_wrapper -->
                    </div>

                    <div class="mt10 mb20">
                        <a href="#">Открыть все макеты</a>
                    </div>

                </div><!-- /tab_content_block -->

            </form>

        </div><!-- /tab_content_wrapper form_wrapper -->


        <div class="btns_wrap txt_right mt20">
            <a href="#" class="theme_btn">Сохранить</a>
            <a href="#" class="theme_btn_light">Отправить вперёд</a>
            <a href="#" class="nav_link grey_link">Отмена</a>
        </div>

        
    </div><!--/inside_wrapper -->

</article><!--/main_content -->



<div class="popup js_img_popup" id="img_popup">
    <div class="pop_content">
        <div class="popup_header">
            <a href="#" class="close js_popup_close">
                <svg class="icon icon_delete_big">
                    <use xlink:href="resources/img/sprite.svg#Delete">
                </svg>
            </a>
            <a href="#" class="fl_right js_img_link" target="_blank">Открыть в полном размере</a>
            <div class="img_title js_img_name"></div>
        </div>
        
        <div class="popup_scroll_wrap js_custom_scroll"><!-- эту обертку можно не добавлять, если не нужен скролл -->
            <div class="popup_content_inside">
                <div class="img_popup_view">
                    <img src="#" alt="photo" class="js_img_src">
                </div>

            </div><!--  /popup_content_inside -->

        </div><!--  /popup_scroll_wrap -->

    </div><!-- /pop_content -->

</div><!-- /popup -->





@@include('template/footer.html')

<!-- здесь подключать скрипт для этой страницы -->

@@include('template/footer_end.html')
       