@@include('template/head.html', { "title": "Заявки список" })
@@include('template/sidebar.html')
@@include('template/header.html')



<article class="main_content">
    

    <!-- FILTER BLOCK -->
    <div class="filter_wrapper clearfix">
        <div class="inside_wrapper">

            <div class="switcher_block fl_right">
                <a href="#quick_filter" class="switch_item active js_switch js_switch_content">Обычный</a>
                <a href="#extended_filter" class="switch_item js_switch js_switch_content">Расширенный</a>
            </div>

            <h1 class="primary_title">Размещение</h1>

            <div class="switch_content active" id="quick_filter">
                <form>
                    <div class="form_field justify_content">

                        <div class="field_item_wrap">
                            <div class="field_title">Статус</div>
                            <div class="field_elem select_wrap big_select">
                                <select class="js_chosen_select">
                                    <option>Все статусы</option>
                                    <option>Закрытые</option>
                                    <option>Автоматически заблокировано</option>
                                    <option>Закрытие заявки</option>
                                    <option>Закрытие заявки Агентством 1 (баер)</option>
                                    <option>Закрытие заявки Агентством 2 (аккаунт)</option>
                                    <option>Заявка закрыта</option>
                                    <option>Заявка закрыта с ошибкой</option>
                                    <option>Отклонено Импортером</option>
                                    <option>Подгрузить фотоотчеты и статистику</option>
                                    <option>Подгрузка статистики Агентством</option>
                                    <option>Подгрузка фотоотчетов Агентством</option>
                                    <option>Подтверждение макета руководителем</option>
                                    <option>Размещение</option>
                                    <option>Согласовано</option>
                                    <option>Утверждение Агентством 1 (баер)</option>
                                    <option>Утверждение Агентством 2 (дизайнер)</option>
                                    <option>Утверждение Агентством 3 (аккаунт)</option>
                                    <option>Утверждение Импортером</option>
                                    <option>Черновик</option>
                                </select>
                                <svg class="icon">
                                    <use xlink:href="resources/img/sprite.svg#Dropdown">
                                </svg>
                            </div>
                        </div>

                        <div class="field_item_wrap">
                            <div class="field_title">Дилер</div>
                            <div class="field_elem select_wrap medium_select">
                                <select class="js_chosen_select">
                                    <option>Все дилеры</option>
                                    <option>!Тестовый дилер</option>
                                    <option>Genser ВЛК (144)</option>
                                    <option>Genser Липецк (257)</option>
                                    <option>Genser Реутов (126)</option>
                                    <option>Genser Ясенево (147)</option>
                                    <option>АА Мэйджор Авто (119)</option>
                                    <option>ААА Моторс  (226)</option>
                                    <option>Аванта (148)</option>
                                    <option>АВИЛОН (127)</option>
                                    <option>Авто АЛЕА (125)</option>
                                    <option>Авто Ганза (102)</option>
                                    <option>АВТО ЗИГЕР (206)</option>
                                    <option>Авто Престус (111)</option>
                                    <option>Автобан Зап. Пл. (232)</option>
                                    <option>Автобан-Юг (293)</option>
                                    <option>АвтоБерг (185)</option>
                                    <option>Автогранд (217)</option>
                                    <option>Авто-Дина (173)</option>
                                    <option>Автоимпорт (213)</option>
                                    <option>АвтоКлаус Центр (191)</option>
                                    <option>АвтоЛюкс (181)</option>
                                    <option>Автомир Воронеж (280)</option>
                                    <option>Автомир Новосиб (281)</option>
                                </select>
                                <svg class="icon">
                                    <use xlink:href="resources/img/sprite.svg#Dropdown">
                                </svg>
                            </div>
                        </div>

                        <div class="field_item_wrap">
                            <div class="field_title">Тип</div>
                            <div class="field_elem select_wrap small_select">
                                <select class="js_chosen_select">
                                    <option>Все</option>
                                    <option>Подрядчик</option>
                                    <option>Агентство</option>
                                    <option>Компенсация</option>
                                </select>
                                <svg class="icon">
                                    <use xlink:href="resources/img/sprite.svg#Dropdown">
                                </svg>
                            </div>
                        </div>

                    </div><!--/form_field-->

                    <div class="form_field">
                        <input type="submit" class="theme_btn fl_right" value="Найти">
                        <div class="filter_clear fl_right">
                            <a href="#" class="filter_clear_link">Сбросить фильтр</a>
                        </div>

                        <div class="field_item_wrap">
                            <div class="field_title">Период с</div>
                            <div class="field_elem datepicker_wrap mr10">              
                                <input type="text" class="inp_txt js_datepicker js_date_mask">
                                <svg class="icon icon_calendar js_datepicker_show">
                                    <use xlink:href="resources/img/sprite.svg#Calendar_small">
                                </svg> 
                            </div>
                            <div class="field_title">по</div>
                            <div class="field_elem datepicker_wrap">
                                <input type="text" class="inp_txt js_datepicker js_date_mask">
                                <svg class="icon icon_calendar js_datepicker_show">
                                    <use xlink:href="resources/img/sprite.svg#Calendar_small">
                                </svg> 
                            </div>
                        </div>

                        <div class="field_item_wrap ml40">
                            <div class="field_title">Носитель</div>
                            <div class="field_elem icon_checks_wrap">
                                <label class="inp_checkbox type_check has_tooltip">
                                    <input type="checkbox">
                                    <svg class="icon icon_type">
                                        <use xlink:href="resources/img/sprite.svg#Outdoor">
                                    </svg> 
                                    <span class="tooltip">Наружная реклама</span>
                                </label>
                                <label class="inp_checkbox type_check has_tooltip">
                                    <input type="checkbox">
                                    <svg class="icon icon_type">
                                        <use xlink:href="resources/img/sprite.svg#Indoor">
                                    </svg> 
                                    <span class="tooltip">Indoor</span>
                                </label>
                                <label class="inp_checkbox type_check has_tooltip">
                                    <input type="checkbox">
                                    <svg class="icon icon_type">
                                        <use xlink:href="resources/img/sprite.svg#Press">
                                    </svg> 
                                    <span class="tooltip">Пресса</span>
                                </label>
                                <label class="inp_checkbox type_check has_tooltip">
                                    <input type="checkbox">
                                    <svg class="icon icon_type">
                                        <use xlink:href="resources/img/sprite.svg#Internet">
                                    </svg> 
                                    <span class="tooltip">Интернет</span>
                                </label>
                                <label class="inp_checkbox type_check has_tooltip">
                                    <input type="checkbox">
                                    <svg class="icon icon_type">
                                        <use xlink:href="resources/img/sprite.svg#TV">
                                    </svg> 
                                    <span class="tooltip">ТВ</span>
                                </label>
                                <label class="inp_checkbox type_check has_tooltip">
                                    <input type="checkbox">
                                    <svg class="icon icon_type">
                                        <use xlink:href="resources/img/sprite.svg#Radio">
                                    </svg> 
                                    <span class="tooltip">Радио</span>
                                </label>
                                <label class="inp_checkbox type_check has_tooltip">
                                    <input type="checkbox">
                                    <svg class="icon icon_type">
                                        <use xlink:href="resources/img/sprite.svg#CRM">
                                    </svg> 
                                    <span class="tooltip">CRM</span>
                                </label>
                            </div>
                        </div>

                    </div><!--/form_field-->
                </form>
            </div><!-- /switch_content -->


            <div class="switch_content" id="extended_filter">
                <div class="form_wrapper extended_filter_wrapper">
                    
                    <form>
                        <div class="form_field">
                            <div class="select_wrap field_small">
                                <select class="js_chosen_select">
                                    <option value="">Добавить параметр</option>
                                    <option value="0">Адрес</option>
                                    <option value="1">Временной интервал (Радио)</option>
                                    <option value="2">Временной интервал (ТВ)</option>
                                    <option value="3">Город</option>
                                    <option value="4">Группа города</option>
                                    <option value="5">Групповая</option>
                                    <option value="6">Детали размещения</option>
                                    <option value="7">Дилер</option>
                                    <option value="8">Дополнительный бюджет ATL</option>
                                    <option value="9">Заявки менеджера Агентства</option>
                                    <option value="10">Заявки менеджера Импортера</option>
                                    <option value="11">Издание</option>
                                    <option value="12">Канал</option>
                                    <option value="13">Код дилера</option>
                                    <option value="14">Код кампании в Adriver</option>
                                    <option value="15">Количество выходов в день</option>
                                    <option value="16">Модель</option>
                                    <option value="17">Носитель</option>
                                    <option value="18">Объем</option>
                                    <option value="19">Период</option>
                                    <option value="20">Поверхность</option>
                                    <option value="21">Подрядчик</option>
                                    <option value="22">Программа компенсации</option>
                                    <option value="23">Радиостанция</option>
                                    <option value="24">Размер модуля</option>
                                    <option value="25">Регион города</option>
                                    <option value="26">Сайт</option>
                                    <option value="27">Скидка</option>
                                    <option value="28">Статус</option>
                                    <option value="29">Стоимость</option>
                                    <option value="30">Тип города</option>
                                    <option value="31">Упрощенное согласование макетов</option>
                                    <option value="32">Формат</option>
                                    <option value="33">Через Агентство</option>
                                </select>
                                <svg class="icon">
                                    <use xlink:href="resources/img/sprite.svg#Dropdown">
                                </svg>
                            </div><!-- /select_wrap -->
                        </div><!-- /form_field -->

                        <div class="form_field extended_filter_field">
                            <div class="field_title">Адрес</div>
                            <div class="field_elem">
                                <div class="select_wrap field_super_small">
                                    <select class="js_chosen_select">
                                        <option value="">содержит</option>
                                        <option value="">не содержит</option>
                                    </select>
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Dropdown">
                                    </svg>
                                </div>
                            </div>
                            <div class="field_elem">
                                <input type="text" class="inp_txt field_medium">
                            </div>
                            <div class="field_delete">
                                <svg class="icon icon_delete">
                                    <use xlink:href="resources/img/sprite.svg#Delete">
                                </svg>
                            </div>
                        </div><!-- /form_field -->

                        <div class="form_field extended_filter_field">
                            <div class="field_title">Групповая</div>
                            <div class="field_elem">
                                <div class="select_wrap field_super_small">
                                    <select class="js_chosen_select">
                                        <option value="">да</option>
                                        <option value="">нет</option>
                                    </select>
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Dropdown">
                                    </svg>
                                </div>
                            </div>
                            <div class="field_delete">
                                <svg class="icon icon_delete">
                                    <use xlink:href="resources/img/sprite.svg#Delete">
                                </svg>
                            </div>
                        </div><!-- /form_field -->

                        <div class="form_field extended_filter_field">
                            <div class="field_title">Временной интервал (ТВ)</div>
                            <div class="field_elem">
                                <div class="select_wrap field_super_small">
                                    <select class="js_chosen_select">
                                        <option value="">=</option>
                                        <option value="">≠</option>
                                    </select>
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Dropdown">
                                    </svg>
                                </div>
                            </div>
                            <div class="field_elem">
                                <div class="select_wrap field_medium">
                                    <select class="js_chosen_select">
                                        <option value="">любое время</option>
                                        <option value="">с 16 до 19</option>
                                        <option value="">с 8 до 11</option>
                                    </select>
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Dropdown">
                                    </svg>
                                </div>
                            </div>
                            <div class="field_delete">
                                <svg class="icon icon_delete">
                                    <use xlink:href="resources/img/sprite.svg#Delete">
                                </svg>
                            </div>
                        </div><!-- /form_field -->

                        <div class="form_field extended_filter_field">
                            <div class="field_title">Упрощенное согласование макетов</div>
                            <div class="field_elem">
                                <div class="select_wrap field_super_small">
                                    <select class="js_chosen_select">
                                        <option value="">да</option>
                                        <option value="">нет</option>
                                    </select>
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Dropdown">
                                    </svg>
                                </div>
                            </div>
                            <div class="field_delete">
                                <svg class="icon icon_delete">
                                    <use xlink:href="resources/img/sprite.svg#Delete">
                                </svg>
                            </div>
                        </div><!-- /form_field -->

                        <div class="form_field extended_filter_field">
                            <div class="field_title">Сайт</div>
                            <div class="field_elem">
                                <div class="select_wrap field_super_small">
                                    <select class="js_chosen_select">
                                        <option value="">=</option>
                                        <option value="">≠</option>
                                    </select>
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Dropdown">
                                    </svg>
                                </div>
                            </div>
                            <div class="field_elem">
                                <div class="select_wrap field_medium">
                                    <select class="js_chosen_select">
                                        <option value="">новое сми</option>
                                        <option value="">advertising.yandex.ru</option>
                                    </select>
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Dropdown">
                                    </svg>
                                </div>
                            </div>
                            <div class="field_delete">
                                <svg class="icon icon_delete">
                                    <use xlink:href="resources/img/sprite.svg#Delete">
                                </svg>
                            </div>
                        </div><!-- /form_field -->

                        <div class="form_field">
                            <div class="submit_btns clearfix">
                                <input type="submit" class="theme_btn fl_right" value="Найти">
                                <div class="filter_clear fl_right">
                                    <a href="#" class="filter_clear_link">Сбросить фильтр</a>
                                </div>
                            </div>
                        </div>


                    </form>
                </div><!-- /form_wrapper -->
            </div><!-- /switch_content -->


        </div><!--/inside_wrapper-->
    </div><!--/filter_wrapper-->





    <!-- CONTENT BLOCK -->
    <div class="content_block inside_wrapper clearfix">

        <div class="content_nav_wrap clearfix">
            <!-- actions button-->
            <div class="btns_wrap fl_right">
                <a href="#" class="theme_btn_light">
                    <svg class="icon icon_plus">
                        <use xlink:href="resources/img/sprite.svg#Add">
                    </svg>Добавить заявку
                </a>
                <a href="#" class="theme_btn_light">
                    <svg class="icon icon_group">
                        <use xlink:href="resources/img/sprite.svg#Add_group">
                    </svg>Групповая заявка
                </a>
            </div>
            <!-- TABS -->
            <div class="tabs_wrap">
                <a href="#" class="tabs_item js_tabs active"><span class="title">Все заявки</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Мои заявки</span></a>
            </div>
        </div>

        
        <!-- MAIN TABLE -->
        <div class="primary_table">
            <table>
                <!-- table header-->
                <tr class="header_row js_table_header">
                    <th>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox" class="js_table_check_all">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </th>
                    <th><a href="#" class="sort down">№</a></th>
                    <th><a href="#" class="sort down">Дата</a></th>
                    <th><a href="#" class="sort down active">Статус</a></th>
                    <th><a href="#" class="sort up">Дилер</a></th>
                    <th><a href="#" class="sort down">Носитель, СМИ/Адрес</a></th>
                    <th><a href="#" class="sort up active">Период</a></th>
                    <th><a href="#" class="sort down">Модели</a></th>
                    <th><a href="#" class="sort down">Стоимость</a></th>
                </tr>

                <!-- table body-->
                <tr>
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td>
                        <a href="#" class="detail_link notice has_tooltip">262082
                            <span class="tooltip">есть обновление</span>
                        </a>
                    </td>
                    <td class="nowrap">13.11 17:52</td>
                    <td>Подгрузить фотоотчеты и статистику</td>
                    <td>Аксель-Сити</td>
                    <td>
                        <div class="type_source">
                            <div class="icon_type has_tooltip">
                                <svg class="icon icon_type">
                                    <use xlink:href="resources/img/sprite.svg#Outdoor">
                                </svg> 
                                <span class="tooltip">Наружная реклама</span>
                            </div>
                            <span>ул.Космонавтов - ул. Пешестрелецкая</span>
                        </div>
                    </td>
                    <td class="nowrap">17.11–26.12</td>
                    <td>Tiguan, Polo Sedan, Jetta</td>
                    <td class="txt_right nowrap">
                        <span>83 740,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td>
                        <a href="#" class="detail_link notice has_tooltip">262082
                            <span class="tooltip">есть обновление</span>
                        </a>
                    </td>
                    <td class="nowrap">13.11 17:52</td>
                    <td>Утверждение Агентством 1 (баер)</td>
                    <td>Фердинанд Моторс</td>
                    <td>
                        <div class="type_source">
                            <div class="icon_type has_tooltip">
                                <svg class="icon icon_type">
                                    <use xlink:href="resources/img/sprite.svg#Press">
                                </svg> 
                                <span class="tooltip">Пресса</span>
                            </div>
                            <span>Вести Региона</span>
                        </div>
                    </td>
                    <td class="nowrap">11.11, 18.12</td>
                    <td>Модельный ряд</td>
                    <td class="txt_right nowrap">
                        <span>170 560,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td><a href="#" class="detail_link">262080</a></td>
                    <td class="nowrap">13.11 16:42</td>
                    <td>Подгрузить фотоотчеты и статистику</td>
                    <td>Genser Реутов</td>
                    <td>
                        <div class="type_source">
                            <div class="icon_type has_tooltip">
                                <svg class="icon icon_type">
                                    <use xlink:href="resources/img/sprite.svg#Internet">
                                </svg> 
                                <span class="tooltip">Интернет</span>
                            </div>
                            <span>www.vongomedia.ru</span>
                        </div>
                    </td>
                    <td class="nowrap">11.11–11.12</td>
                    <td>Polo Sedan, Jetta, Passat</td>
                    <td class="txt_right nowrap">
                        <span>12 900,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr class="draft_item">
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td><a href="#" class="detail_link">262078</a></td>
                    <td class="nowrap">13.11 16:12</td>
                    <td>Черновик</td>
                    <td>Гедон-Моторс</td>
                    <td>
                        <div class="type_source">
                            <div class="icon_type has_tooltip">
                                <svg class="icon icon_type">
                                    <use xlink:href="resources/img/sprite.svg#Outdoor">
                                </svg> 
                                <span class="tooltip">Наружная реклама</span>
                            </div>
                            <span>с. Наджеда, въезд в г. Ставрополь, пост ГАИ</span>
                        </div>
                    </td>
                    <td class="nowrap">08.11–08.12</td>
                    <td>Tiguan, Polo Sedan, Jetta</td>
                    <td class="txt_right nowrap">
                        <span>5 740,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td><a href="#" class="detail_link">262076</a></td>
                    <td class="nowrap">13.11 16:12</td>
                    <td>Утверждение Агентством 3 (аккаунт)</td>
                    <td>Крым-Автохолдинг</td>
                    <td>
                        <div class="type_source">
                            <div class="icon_type has_tooltip">
                                <svg class="icon icon_type">
                                    <use xlink:href="resources/img/sprite.svg#Internet">
                                </svg> 
                                <span class="tooltip">Интернет</span>
                            </div>
                            <span>www.odnoklassniki.ru</span>
                        </div>
                    </td>
                    <td class="nowrap">07.11–07.01</td>
                    <td>Tiguan</td>
                    <td class="txt_right nowrap">
                        <span>449 740,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td><a href="#" class="detail_link">262082</a></td>
                    <td class="nowrap">13.11 17:52</td>
                    <td>Подгрузить фотоотчеты и статистику</td>
                    <td>Аксель-Сити</td>
                    <td>
                        <div class="type_source">
                            <div class="icon_type has_tooltip">
                                <svg class="icon icon_type">
                                    <use xlink:href="resources/img/sprite.svg#Outdoor">
                                </svg> 
                                <span class="tooltip">Наружная реклама</span>
                            </div> 
                            <span>ул.Космонавтов - ул. Пешестрелецкая</span>
                        </div>
                    </td>
                    <td class="nowrap">17.11–26.12</td>
                    <td>Tiguan, Polo Sedan, Jetta</td>
                    <td class="txt_right nowrap">
                        <span>83 740,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td><a href="#" class="detail_link">262082</a></td>
                    <td class="nowrap">13.11 17:52</td>
                    <td>Утверждение Агентством 1 (баер)</td>
                    <td>Фердинанд Моторс</td>
                    <td>
                        <div class="type_source">
                            <div class="icon_type has_tooltip">
                                <svg class="icon icon_type">
                                    <use xlink:href="resources/img/sprite.svg#Press">
                                </svg> 
                                <span class="tooltip">Пресса</span>
                            </div> 
                            <span>Вести Региона</span>
                        </div>
                    </td>
                    <td class="nowrap">11.11, 18.12</td>
                    <td>Модельный ряд</td>
                    <td class="txt_right nowrap">
                        <span>170 560,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td>
                        <a href="#" class="detail_link alarm has_tooltip">262080
                            <span class="tooltip">отклонена</span>
                        </a>
                    </td>
                    <td class="nowrap">13.11 16:42</td>
                    <td>Подгрузить фотоотчеты и статистику</td>
                    <td>Genser Реутов</td>
                    <td>
                        <div class="type_source">
                            <div class="icon_type has_tooltip">
                                <svg class="icon icon_type">
                                    <use xlink:href="resources/img/sprite.svg#Internet">
                                </svg> 
                                <span class="tooltip">Интернет</span>
                            </div> 
                            <span>www.vongomedia.ru</span>
                        </div>
                    </td>
                    <td class="nowrap">11.11–11.12</td>
                    <td>Polo Sedan, Jetta, Passat</td>
                    <td class="txt_right nowrap">
                        <span>12 900,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr class="draft_item">
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td>
                        <a href="#" class="detail_link notice has_tooltip">262082
                            <span class="tooltip">есть обновление</span>
                        </a>
                    </td>
                    <td class="nowrap">13.11 16:12</td>
                    <td>Черновик</td>
                    <td>Гедон-Моторс</td>
                    <td>
                        <div class="type_source">
                            <div class="icon_type has_tooltip">
                                <svg class="icon icon_type">
                                    <use xlink:href="resources/img/sprite.svg#Outdoor">
                                </svg> 
                                <span class="tooltip">Наружная реклама</span>
                            </div>
                            <span>с. Наджеда, въезд в г. Ставрополь, пост ГАИ</span>
                        </div>
                    </td>
                    <td class="nowrap">08.11–08.12</td>
                    <td>Tiguan, Polo Sedan, Jetta</td>
                    <td class="txt_right nowrap">
                        <span>5 740,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td><a href="#" class="detail_link">262076</a></td>
                    <td class="nowrap">13.11 16:12</td>
                    <td>Утверждение Агентством 3 (аккаунт)</td>
                    <td>Крым-Автохолдинг</td>
                    <td>
                        <div class="type_source">
                            <div class="icon_type has_tooltip">
                                <svg class="icon icon_type">
                                    <use xlink:href="resources/img/sprite.svg#Internet">
                                </svg> 
                                <span class="tooltip">Интернет</span>
                            </div>
                            <span>www.odnoklassniki.ru</span>
                        </div>
                    </td>
                    <td class="nowrap">07.11–07.01</td>
                    <td>Tiguan</td>
                    <td class="txt_right nowrap">
                        <span>449 740,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td><a href="#" class="detail_link">262082</a></td>
                    <td class="nowrap">13.11 17:52</td>
                    <td>Подгрузить фотоотчеты и статистику</td>
                    <td>Аксель-Сити</td>
                    <td>
                        <div class="type_source">
                            <div class="icon_type has_tooltip">
                                <svg class="icon icon_type">
                                    <use xlink:href="resources/img/sprite.svg#Outdoor">
                                </svg> 
                                <span class="tooltip">Наружная реклама</span>
                            </div>
                            <span>ул.Космонавтов - ул. Пешестрелецкая</span>
                        </div>
                    </td>
                    <td class="nowrap">17.11–26.12</td>
                    <td>Tiguan, Polo Sedan, Jetta</td>
                    <td class="txt_right nowrap">
                        <span>83 740,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td>
                        <a href="#" class="detail_link approve has_tooltip">262081
                            <span class="tooltip">завершена</span>
                        </a>
                    </td>
                    <td class="nowrap">13.11 17:52</td>
                    <td>Утверждение Агентством 1 (баер)</td>
                    <td>Фердинанд Моторс</td>
                    <td>
                        <div class="type_source">
                            <div class="icon_type has_tooltip">
                                <svg class="icon icon_type">
                                    <use xlink:href="resources/img/sprite.svg#Press">
                                </svg> 
                                <span class="tooltip">Пресса</span>
                            </div>
                            <span>Вести Региона</span>
                        </div>
                    </td>
                    <td class="nowrap">11.11, 18.12</td>
                    <td>Модельный ряд</td>
                    <td class="txt_right nowrap">
                        <span>170 560,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td><a href="#" class="detail_link">262080</a></td>
                    <td class="nowrap">13.11 16:42</td>
                    <td>Подгрузить фотоотчеты и статистику</td>
                    <td>Genser Реутов</td>
                    <td>
                        <div class="type_source">
                            <div class="icon_type has_tooltip">
                                <svg class="icon icon_type">
                                    <use xlink:href="resources/img/sprite.svg#Internet">
                                </svg> 
                                <span class="tooltip">Интернет</span>
                            </div>
                            <span>www.vongomedia.ru</span>
                        </div>
                    </td>
                    <td class="nowrap">11.11–11.12</td>
                    <td>Polo Sedan, Jetta, Passat</td>
                    <td class="txt_right nowrap">
                        <span>12 900,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr class="draft_item">
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td><a href="#" class="detail_link alarm has_tooltip">262078<span class="tooltip">отклонена</span></a></td>
                    <td class="nowrap">13.11 16:12</td>
                    <td>Черновик</td>
                    <td>Гедон-Моторс</td>
                    <td>
                        <div class="type_source">
                            <div class="icon_type has_tooltip">
                                <svg class="icon icon_type">
                                    <use xlink:href="resources/img/sprite.svg#Outdoor">
                                </svg> 
                                <span class="tooltip">Наружная реклама</span>
                            </div>
                            <span>с. Наджеда, въезд в г. Ставрополь, пост ГАИ</span>
                        </div>
                    </td>
                    <td class="nowrap">08.11–08.12</td>
                    <td>Tiguan, Polo Sedan, Jetta</td>
                    <td class="txt_right nowrap">
                        <span>5 740,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td><a href="#" class="detail_link">262076</a></td>
                    <td class="nowrap">13.11 16:12</td>
                    <td>Утверждение Агентством 3 (аккаунт)</td>
                    <td>Крым-Автохолдинг</td>
                    <td>
                        <div class="type_source">
                            <div class="icon_type has_tooltip">
                                <svg class="icon icon_type">
                                    <use xlink:href="resources/img/sprite.svg#Internet">
                                </svg> 
                                <span class="tooltip">Интернет</span>
                            </div> 
                            <span>www.odnoklassniki.ru</span>
                        </div>
                    </td>
                    <td class="nowrap">07.11–07.01</td>
                    <td>Tiguan</td>
                    <td class="txt_right nowrap">
                        <span>449 740,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
              
            </table><!--/table_item -->
        </div><!--/primary_table -->

        
        <div class="table_fix_head body_minwidth js_gorizont_scroll js_popup_show_margin">
            <div class="inside_wrapper">
                <div class="primary_table">
                    <table>
                        <!-- table header-->
                        <tr class="header_row js_fixed_table_header"></tr>
                    </table>
                </div>
            </div>
        </div>


    </div><!--/inside_wrapper -->

    <div class="primary_table_total body_minwidth js_fix_total js_gorizont_scroll">
        <div class="inside_wrapper clearfix">
            <div class="total_apply fl_left ml20">Всего 2 351 заявка</div>
            <div class="total_summ fl_right mr20">Итого: 186 306 348,39</div>
        </div>
    </div>

    <div class="arrow_scroll_top js_scroll_top_btn">
        <svg class="icon icon_arrow_up">
            <use xlink:href="resources/img/sprite.svg#Arrow_up">
        </svg>
    </div>

</article><!--/main_content -->




@@include('template/sys_msg.html', { "msg": "Вы действительно хотите удалить заявку?" })





@@include('template/footer.html')

<!-- здесь подключать скрипт для этой страницы -->

@@include('template/footer_end.html')
       