@@include('template/head.html', { "title": "Заявки список" })
@@include('template/sidebar.html')
@@include('template/header.html')



<article class="main_content">
    

    <!-- FILTER BLOCK -->
    <div class="filter_wrapper clearfix">
        <div class="inside_wrapper">

            <div class="switcher_block fl_right">
                <a href="#quick_filter" class="switch_item active js_switch js_switch_content">Обычный</a>
                <a href="#extended_filter" class="switch_item js_switch js_switch_content">Расширенный</a>
            </div>

            <h1 class="primary_title">Размещение</h1>

            <div class="switch_content active" id="quick_filter">
                <form>
                    <div class="form_field justify_content">

                        <div class="field_item_wrap">
                            <div class="field_title">Статус</div>
                            <div class="field_elem select_wrap big_select">
                                <select class="js_chosen_select">
                                    <option>Все статусы</option>
                                    <option>Закрытые</option>
                                    <option>Автоматически заблокировано</option>
                                    <option>Закрытие заявки</option>
                                    <option>Закрытие заявки Агентством 1 (баер)</option>
                                    <option>Закрытие заявки Агентством 2 (аккаунт)</option>
                                    <option>Заявка закрыта</option>
                                    <option>Заявка закрыта с ошибкой</option>
                                    <option>Отклонено Импортером</option>
                                    <option>Подгрузить фотоотчеты и статистику</option>
                                    <option>Подгрузка статистики Агентством</option>
                                    <option>Подгрузка фотоотчетов Агентством</option>
                                    <option>Подтверждение макета руководителем</option>
                                    <option>Размещение</option>
                                    <option>Согласовано</option>
                                    <option>Утверждение Агентством 1 (баер)</option>
                                    <option>Утверждение Агентством 2 (дизайнер)</option>
                                    <option>Утверждение Агентством 3 (аккаунт)</option>
                                    <option>Утверждение Импортером</option>
                                    <option>Черновик</option>
                                </select>
                                <svg class="icon">
                                    <use xlink:href="resources/img/sprite.svg#Dropdown">
                                </svg>
                            </div>
                        </div>

                        <div class="field_item_wrap">
                            <div class="field_title">Дилер</div>
                            <div class="field_elem select_wrap medium_select">
                                <select class="js_chosen_select">
                                    <option>Все дилеры</option>
                                    <option>!Тестовый дилер</option>
                                    <option>Genser ВЛК (144)</option>
                                    <option>Genser Липецк (257)</option>
                                    <option>Genser Реутов (126)</option>
                                    <option>Genser Ясенево (147)</option>
                                    <option>АА Мэйджор Авто (119)</option>
                                    <option>ААА Моторс  (226)</option>
                                    <option>Аванта (148)</option>
                                    <option>АВИЛОН (127)</option>
                                    <option>Авто АЛЕА (125)</option>
                                    <option>Авто Ганза (102)</option>
                                    <option>АВТО ЗИГЕР (206)</option>
                                    <option>Авто Престус (111)</option>
                                    <option>Автобан Зап. Пл. (232)</option>
                                    <option>Автобан-Юг (293)</option>
                                    <option>АвтоБерг (185)</option>
                                    <option>Автогранд (217)</option>
                                    <option>Авто-Дина (173)</option>
                                    <option>Автоимпорт (213)</option>
                                    <option>АвтоКлаус Центр (191)</option>
                                    <option>АвтоЛюкс (181)</option>
                                    <option>Автомир Воронеж (280)</option>
                                    <option>Автомир Новосиб (281)</option>
                                </select>
                                <svg class="icon">
                                    <use xlink:href="resources/img/sprite.svg#Dropdown">
                                </svg>
                            </div>
                        </div>

                        <div class="field_item_wrap">
                            <div class="field_title">Тип</div>
                            <div class="field_elem select_wrap small_select">
                                <select class="js_chosen_select">
                                    <option>Все</option>
                                    <option>Подрядчик</option>
                                    <option>Агентство</option>
                                    <option>Компенсация</option>
                                </select>
                                <svg class="icon">
                                    <use xlink:href="resources/img/sprite.svg#Dropdown">
                                </svg>
                            </div>
                        </div>

                    </div><!--/form_field-->

                    <div class="form_field">
                        <input type="submit" class="theme_btn fl_right" value="Найти">
                        <div class="filter_clear fl_right">
                            <a href="#" class="filter_clear_link">Сбросить фильтр</a>
                        </div>

                        <div class="field_item_wrap">
                            <div class="field_title">Период с</div>
                            <div class="field_elem datepicker_wrap mr10">              
                                <input type="text" class="inp_txt js_datepicker js_date_mask">
                                <svg class="icon icon_calendar js_datepicker_show">
                                    <use xlink:href="resources/img/sprite.svg#Calendar_small">
                                </svg> 
                            </div>
                            <div class="field_title">по</div>
                            <div class="field_elem datepicker_wrap">
                                <input type="text" class="inp_txt js_datepicker js_date_mask">
                                <svg class="icon icon_calendar js_datepicker_show">
                                    <use xlink:href="resources/img/sprite.svg#Calendar_small">
                                </svg> 
                            </div>
                        </div>

                        <div class="field_item_wrap ml40">
                            <div class="field_title">Носитель</div>
                            <div class="field_elem icon_checks_wrap">
                                <label class="inp_checkbox type_check has_tooltip">
                                    <input type="checkbox">
                                    <svg class="icon icon_type">
                                        <use xlink:href="resources/img/sprite.svg#Outdoor">
                                    </svg> 
                                    <span class="tooltip">Наружная реклама</span>
                                </label>
                                <label class="inp_checkbox type_check has_tooltip">
                                    <input type="checkbox">
                                    <svg class="icon icon_type">
                                        <use xlink:href="resources/img/sprite.svg#Indoor">
                                    </svg> 
                                    <span class="tooltip">Indoor</span>
                                </label>
                                <label class="inp_checkbox type_check has_tooltip">
                                    <input type="checkbox">
                                    <svg class="icon icon_type">
                                        <use xlink:href="resources/img/sprite.svg#Press">
                                    </svg> 
                                    <span class="tooltip">Пресса</span>
                                </label>
                                <label class="inp_checkbox type_check has_tooltip">
                                    <input type="checkbox">
                                    <svg class="icon icon_type">
                                        <use xlink:href="resources/img/sprite.svg#Internet">
                                    </svg> 
                                    <span class="tooltip">Интернет</span>
                                </label>
                                <label class="inp_checkbox type_check has_tooltip">
                                    <input type="checkbox">
                                    <svg class="icon icon_type">
                                        <use xlink:href="resources/img/sprite.svg#TV">
                                    </svg> 
                                    <span class="tooltip">ТВ</span>
                                </label>
                                <label class="inp_checkbox type_check has_tooltip">
                                    <input type="checkbox">
                                    <svg class="icon icon_type">
                                        <use xlink:href="resources/img/sprite.svg#Radio">
                                    </svg> 
                                    <span class="tooltip">Радио</span>
                                </label>
                                <label class="inp_checkbox type_check has_tooltip">
                                    <input type="checkbox">
                                    <svg class="icon icon_type">
                                        <use xlink:href="resources/img/sprite.svg#CRM">
                                    </svg> 
                                    <span class="tooltip">CRM</span>
                                </label>
                            </div>
                        </div>

                    </div><!--/form_field-->
                </form>
            </div><!-- /switch_content -->


            <div class="switch_content" id="extended_filter">
                <div class="form_wrapper extended_filter_wrapper">
                    
                    <form>
                        <div class="form_field">
                            <div class="select_wrap field_small">
                                <select class="js_chosen_select">
                                    <option value="">Добавить параметр</option>
                                    <option value="0">Адрес</option>
                                    <option value="1">Временной интервал (Радио)</option>
                                    <option value="2">Временной интервал (ТВ)</option>
                                    <option value="3">Город</option>
                                    <option value="4">Группа города</option>
                                    <option value="5">Групповая</option>
                                    <option value="6">Детали размещения</option>
                                    <option value="7">Дилер</option>
                                    <option value="8">Дополнительный бюджет ATL</option>
                                    <option value="9">Заявки менеджера Агентства</option>
                                    <option value="10">Заявки менеджера Импортера</option>
                                    <option value="11">Издание</option>
                                    <option value="12">Канал</option>
                                    <option value="13">Код дилера</option>
                                    <option value="14">Код кампании в Adriver</option>
                                    <option value="15">Количество выходов в день</option>
                                    <option value="16">Модель</option>
                                    <option value="17">Носитель</option>
                                    <option value="18">Объем</option>
                                    <option value="19">Период</option>
                                    <option value="20">Поверхность</option>
                                    <option value="21">Подрядчик</option>
                                    <option value="22">Программа компенсации</option>
                                    <option value="23">Радиостанция</option>
                                    <option value="24">Размер модуля</option>
                                    <option value="25">Регион города</option>
                                    <option value="26">Сайт</option>
                                    <option value="27">Скидка</option>
                                    <option value="28">Статус</option>
                                    <option value="29">Стоимость</option>
                                    <option value="30">Тип города</option>
                                    <option value="31">Упрощенное согласование макетов</option>
                                    <option value="32">Формат</option>
                                    <option value="33">Через Агентство</option>
                                </select>
                                <svg class="icon">
                                    <use xlink:href="resources/img/sprite.svg#Dropdown">
                                </svg>
                            </div><!-- /select_wrap -->
                        </div><!-- /form_field -->

                        <div class="form_field extended_filter_field">
                            <div class="field_title">Адрес</div>
                            <div class="field_elem">
                                <div class="select_wrap field_super_small">
                                    <select class="js_chosen_select">
                                        <option value="">содержит</option>
                                        <option value="">не содержит</option>
                                    </select>
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Dropdown">
                                    </svg>
                                </div>
                            </div>
                            <div class="field_elem">
                                <input type="text" class="inp_txt field_medium">
                            </div>
                            <div class="field_delete">
                                <svg class="icon icon_delete">
                                    <use xlink:href="resources/img/sprite.svg#Delete">
                                </svg>
                            </div>
                        </div><!-- /form_field -->

                        <div class="form_field extended_filter_field">
                            <div class="field_title">Групповая</div>
                            <div class="field_elem">
                                <div class="select_wrap field_super_small">
                                    <select class="js_chosen_select">
                                        <option value="">да</option>
                                        <option value="">нет</option>
                                    </select>
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Dropdown">
                                    </svg>
                                </div>
                            </div>
                            <div class="field_delete">
                                <svg class="icon icon_delete">
                                    <use xlink:href="resources/img/sprite.svg#Delete">
                                </svg>
                            </div>
                        </div><!-- /form_field -->

                        <div class="form_field extended_filter_field">
                            <div class="field_title">Временной интервал (ТВ)</div>
                            <div class="field_elem">
                                <div class="select_wrap field_super_small">
                                    <select class="js_chosen_select">
                                        <option value="">=</option>
                                        <option value="">≠</option>
                                    </select>
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Dropdown">
                                    </svg>
                                </div>
                            </div>
                            <div class="field_elem">
                                <div class="select_wrap field_medium">
                                    <select class="js_chosen_select">
                                        <option value="">любое время</option>
                                        <option value="">с 16 до 19</option>
                                        <option value="">с 8 до 11</option>
                                    </select>
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Dropdown">
                                    </svg>
                                </div>
                            </div>
                            <div class="field_delete">
                                <svg class="icon icon_delete">
                                    <use xlink:href="resources/img/sprite.svg#Delete">
                                </svg>
                            </div>
                        </div><!-- /form_field -->

                        <div class="form_field extended_filter_field">
                            <div class="field_title">Упрощенное согласование макетов</div>
                            <div class="field_elem">
                                <div class="select_wrap field_super_small">
                                    <select class="js_chosen_select">
                                        <option value="">да</option>
                                        <option value="">нет</option>
                                    </select>
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Dropdown">
                                    </svg>
                                </div>
                            </div>
                            <div class="field_delete">
                                <svg class="icon icon_delete">
                                    <use xlink:href="resources/img/sprite.svg#Delete">
                                </svg>
                            </div>
                        </div><!-- /form_field -->

                        <div class="form_field extended_filter_field">
                            <div class="field_title">Сайт</div>
                            <div class="field_elem">
                                <div class="select_wrap field_super_small">
                                    <select class="js_chosen_select">
                                        <option value="">=</option>
                                        <option value="">≠</option>
                                    </select>
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Dropdown">
                                    </svg>
                                </div>
                            </div>
                            <div class="field_elem">
                                <div class="select_wrap field_medium">
                                    <select class="js_chosen_select">
                                        <option value="">новое сми</option>
                                        <option value="">advertising.yandex.ru</option>
                                    </select>
                                    <svg class="icon">
                                        <use xlink:href="resources/img/sprite.svg#Dropdown">
                                    </svg>
                                </div>
                            </div>
                            <div class="field_delete">
                                <svg class="icon icon_delete">
                                    <use xlink:href="resources/img/sprite.svg#Delete">
                                </svg>
                            </div>
                        </div><!-- /form_field -->

                        <div class="form_field">
                            <div class="submit_btns clearfix">
                                <input type="submit" class="theme_btn fl_right" value="Найти">
                                <div class="filter_clear fl_right">
                                    <a href="#" class="filter_clear_link">Сбросить фильтр</a>
                                </div>
                            </div>
                        </div>


                    </form>
                </div><!-- /form_wrapper -->
            </div><!-- /switch_content -->


        </div><!--/inside_wrapper-->
    </div><!--/filter_wrapper-->





    <!-- CONTENT BLOCK -->
    <div class="content_block inside_wrapper clearfix">

        <div class="content_nav_wrap clearfix">
            <!-- actions button-->
            <div class="btns_wrap fl_right">
                <a href="#" class="theme_btn_light">
                    <svg class="icon icon_plus">
                        <use xlink:href="resources/img/sprite.svg#Add">
                    </svg>Добавить заявку
                </a>
                <a href="#" class="theme_btn_light">
                    <svg class="icon icon_group">
                        <use xlink:href="resources/img/sprite.svg#Add_group">
                    </svg>Групповая заявка
                </a>
            </div>
            <!-- TABS -->
            <div class="tabs_wrap">
                <a href="#" class="tabs_item js_tabs active"><span class="title">Все заявки</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Мои заявки</span></a>
            </div>
        </div>

        
        <!-- MAIN TABLE -->
        <div class="primary_table">
            <div class="no-result-msg">
                <svg class="icon">
                    <use xlink:href="resources/img/sprite.svg#Nothing_found"></use>
                </svg>
                <h1 class="no-result-msg__text">
                    По вашему запросу ничего не найдено
                </h1>
            </div>
        </div><!--/primary_table -->



    </div><!--/inside_wrapper -->



    <div class="arrow_scroll_top js_scroll_top_btn">
        <svg class="icon icon_arrow_up">
            <use xlink:href="resources/img/sprite.svg#Arrow_up">
        </svg>
    </div>

</article><!--/main_content -->




@@include('template/sys_msg.html', { "msg": "Вы действительно хотите удалить заявку?" })





@@include('template/footer.html')

<!-- здесь подключать скрипт для этой страницы -->

@@include('template/footer_end.html')
       