@@include('template/head.html', { "title": "Вход" })

@@include('template/header_login.html')



<article class="main_content">
    

    <!-- CONTENT BLOCK -->
    <div class="content_block inside_wrapper clearfix">

        <h1 class="primary_title mt10">Добро пожаловать в систему маркетингового менеджмента Volkswagen Легковые автомобили!</h1>

        <div class="form_wrapper login_form">
            <form action="">
                <div class="form_field"><!-- add class 'error' to show errors -->
                    <div class="field_title">Логин</div>
                    <div class="field_elem">
                        <input type="text" class="inp_txt field_small">
                        <div class="error_txt">Поле заполнено с ошибкой</div>
                    </div>
                </div><!-- /form_field -->
                <div class="form_field">
                    <div class="field_title">Пароль</div>
                    <div class="field_elem">
                        <input type="password" class="inp_txt field_small">
                    </div>
                </div><!-- /form_field -->
                <div class="form_field pull_left">
                    <label class="inp_checkbox">
                        <input type="checkbox">
                        <span class="check_icon">
                            <svg class="icon">
                                <use xlink:href="resources/img/sprite.svg#Check">
                            </svg> 
                        </span>
                        <span class="title">Запомнить меня</span>
                    </label>
                </div><!-- /form_field -->
                <div class="form_field pull_left btns_wrap">
                    <input type="submit" class="theme_btn" value="Войти">
                    <a href="#" class="nav_link">Регистрация</a>
                    <a href="#" class="nav_link">Забыли пароль?</a>
                </div><!-- /form_field -->
            </form>
        </div>

    </div><!--/inside_wrapper -->



</article><!--/main_content -->










@@include('template/footer.html')

<!-- здесь подключать скрипт для этой страницы -->

@@include('template/footer_end.html')
       