@@include('template/head.html', { "title": "Восстановление пароля" })

@@include('template/header_login.html')



<article class="main_content">
    

    <!-- CONTENT BLOCK -->
    <div class="content_block inside_wrapper clearfix">

        <h1 class="primary_title mt10">Восстановление пароля</h1>

        <div class="form_wrapper login_form">
            <form action="">
                <div class="form_field error"><!-- add class 'error' to show errors -->
                    <div class="field_title">Логин</div>
                    <div class="field_elem">
                        <input type="text" class="inp_txt field_small" value="TestDealer">
                        <div class="error_txt">Для Вашей учётной записи email не установлен. <br>Пожалуйста, обратитесь к региональному менеджеру для восстановления пароля.</div>
                    </div>
                </div><!-- /form_field -->
                <div class="form_field pull_left btns_wrap">
                    <input type="submit" class="theme_btn" value="Отправить">
                    <a href="#" class="nav_link">Вернуться</a>
                </div><!-- /form_field -->
            </form>
        </div>

    </div><!--/inside_wrapper -->



</article><!--/main_content -->










@@include('template/footer.html')

<!-- здесь подключать скрипт для этой страницы -->

@@include('template/footer_end.html')
       