@@include('template/head.html', { "title": "Квартальная отчетность" })
@@include('template/sidebar.html')
@@include('template/header.html')

<article class="main_content">


    <!-- CONTENT BLOCK -->
    <div class="content_block inside_wrapper clearfix">

        <div class="plan_link mt10 fl_right"><span class="light_txt">Квартальный план:</span><a href="#" class="ml20">217568</a></div>

        <h1 class="primary_title">Отчет за 2 квартал 2015 года. Заявка №288567</h1>


        <div class="sys_content_header">
            <div class="primary_item_info">
                <div class="item">
                    <span class="title">Дилер</span>
                    <a href="#" class="info">Тестовый дилер</a>
                </div>
                <div class="item">
                    <span class="title">Срок подготовки</span>
                    <span class="info">
                        <div class="select_wrap field_elem field_super_small">
                            <select class="js_chosen_select">
                                <option>09.02.2016</option>
                                <option>09.02.2015</option>
                                <option>09.02.2016</option>
                                <option>09.02.2015</option>
                                <option>09.02.2016</option>
                                <option>09.02.2015</option>
                            </select>
                            <svg class="icon">
                                <use xlink:href="resources/img/sprite.svg#Dropdown">
                            </svg>
                        </div>
                    </span>
                </div>
            </div>

            <div class="status_edit_wrapper">
                <div class="status_edit_item txt_right">
                    <span class="title">Статус:</span>
                    <span class="current">Черновик</span>
                </div>
                
                <div class="status_edit_item">
                    <a href="#" class="theme_btn">Сохранить</a>
                    <div class="status_drop">
                        <a href="#" class="theme_btn_light status_btn">Утверждение Агентством 1 (Байер)</a>
                        <a href="#" class="theme_btn_light icon_btn js_select_drop status_btn_drop">
                            <svg class="icon icon_select">
                                <use xlink:href="resources/img/sprite.svg#Dropdown">
                            </svg>
                        </a>
                        <div class="dropdown_item js_select_drop_item status_dropdown">
                            <ul class="status_group ul_simple">
                                <li class="current">Черновик</li>
                                <li class="active"><a href="#">Утверждение Агентством 1 (Байер)</a></li>
                                <li>Утверждение Агентством 2 (Дизайнер)</li>
                                <li>Утверждение Агентством 3 (Аккаунт)</li>
                                <li>Отчеты и статистика</li>
                                <li>Закрытие заявки Агентством (Аккаунт)</li>
                                <li>Закрытие заявки Агентством (Менеджер по размещению )</li>
                            </ul>
                            <ul class="status_group ul_simple">
                                <li class="active"><a href="#">Импортёр</a></li>
                            </ul>
                        </div>
                    </div>
                    <a href="#" class="nav_link grey_link">Закрыть</a>
                </div>
            </div>
        </div><!-- /sys_content_header -->


        <div class="content_nav_wrap clearfix">
            <!-- TABS -->
            <div class="tabs_wrap light_tabs">
                <a href="#" class="tabs_item js_tabs"><span class="title">Дополнительные события</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Статистика</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Сообщения</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Статусы</span></a>
                <a href="#" class="tabs_item js_tabs active"><span class="title">Отчет</span></a>
            </div>
        </div>

     

        <div class="tab_content_wrapper">
            <div class="tab_padding_block">
                <h2>Квартальный бюджет</h2>
            </div>

            <div class="primary_table table_inside_form">
                <table>
                    <!-- table header-->
                    <tr class="header_row">
                        <th></th>
                        <th class="txt_center">Квартальный отчет, руб.</th>
                        <th class="txt_center">Квартальный план, руб.</th>
                        <th class="txt_center">Квартальный план (1,1 %)</th>
                    </tr>

                    <!-- table body-->
                    <tr>
                        <td class="category">Общий маркетинговый бюджет</td>
                        <td class="txt_center">128 400</td>
                        <td class="txt_center">
                            <div class="table_percent_wrap">
                                <div class="summ">3 050 670,46</div>
                                <div class="scale"><div class="scale_summ" style="width: 10%"></div></div>
                                <div class="scale_comment">Выполнен на 10%</div>
                            </div>
                        </td>
                        <td class="txt_center">-</td>
                    </tr>
                    <tr>
                        <td class="subcategory">Бюджет по программе компенсации (дилер + импортер)</td>
                        <td class="txt_center">11 267</td>
                        <td class="txt_center">0,0</td>
                        <td class="txt_center">-</td>
                    </tr>
                    <tr>
                        <td class="subcategory">Компенсация по мероприятиям (импортер)</td>
                        <td class="txt_center">3 567</td>
                        <td class="txt_center">-</td>
                        <td class="txt_center">-</td>
                    </tr>
                    <tr>
                        <td class="category">Расходы дилера в рамках обязательного бюджета</td>
                        <td class="txt_center">34 567</td>
                        <td class="txt_center">
                            <div class="table_percent_wrap">
                                <div class="summ">136 567,34</div>
                                <div class="scale"><div class="scale_summ" style="width: 43%"></div></div>
                                <div class="scale_comment">Выполнен на 43%</div>
                            </div>
                        </td>
                        <td class="txt_center">
                            <div class="table_percent_wrap">
                                <div class="summ">136 567,34</div>
                                <div class="scale summ_over"><div class="scale_summ" style="width: 143.5%"></div></div>
                                <div class="scale_comment">Выполнен на 143,5%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="subcategory">Расходы дилера по программе компенсации (дилер)</td>
                        <td class="txt_center">2 456</td>
                        <td class="txt_center">-</td>
                        <td class="txt_center">-</td>
                    </tr>
                    <tr>
                        <td class="category">Суммарные расходы дилера</td>
                        <td class="txt_center">68 976</td>
                        <td class="txt_center">-</td>
                        <td class="txt_center">-</td>
                    </tr>
                </table><!--/table_item -->
            </div><!--/primary_table -->



            <div class="tab_padding_block">
                <h2>Отчет</h2>
            </div>

            <!-- TABS -->
            <div class="tabs_wrap">
                <a href="#" class="tabs_item js_tabs active"><span class="title">Размещения</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Эффективность СМИ</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Подтверждение размещения</span></a>
            </div>

            <div class="primary_table table_inside_form js_custom_scroll_horizontal more_cell_padding">
                <table>
                    <!-- table header-->
                    <tr class="header_row no_border">
                        <th colspan="6" rowspan="2">Медиа-канал</th>
                        <th rowspan="2">Расходы дилера</th>
                        <th rowspan="2">Общий бюджет</th>
                        <th rowspan="2">%</th>
                        <th colspan="5" class="small_padding txt_center has_bb has_bl">Январь</th>
                        <th colspan="4" class="small_padding txt_center has_bb has_bl">Февраль</th>
                        <th colspan="4" class="small_padding txt_center has_bb has_bl">Март</th>
                       
                    </tr>
                    <tr class="header_row no_border">
                        <th class="txt_center nowrap has_bl small_padding">1-3</th>
                        <th class="txt_center nowrap has_bl small_padding">4-10</th>
                        <th class="txt_center nowrap has_bl small_padding">11-17</th>
                        <th class="txt_center nowrap has_bl small_padding">18-24</th>
                        <th class="txt_center nowrap has_bl small_padding">21-31</th>

                        <th class="txt_center nowrap has_bl small_padding">1-7</th>
                        <th class="txt_center nowrap has_bl small_padding">8-14</th>
                        <th class="txt_center nowrap has_bl small_padding">15-21</th>
                        <th class="txt_center nowrap has_bl small_padding">22-28</th>

                        <th class="txt_center nowrap has_bl small_padding">7-13</th>
                        <th class="txt_center nowrap has_bl small_padding">14-20</th>
                        <th class="txt_center nowrap has_bl small_padding">21-27</th>
                        <th class="txt_center nowrap has_bl small_padding">28-30</th>
                    </tr>

                    <!-- table body-->
                    <tr class="group_row">
                        <td class="media_name_width f_bold">Пресса</td>
                        <td>Размер</td>
                        <td>Детали</td>
                        <td>Подрядчик</td>
                        <td class="nowrap">Стоимость, руб.</td>
                        <td>Скидка</td>
                        <td class="nowrap f_bold">50 530,00</td>
                        <td class="nowrap f_bold">50 530,00</td>
                        <td class="nowrap">0,0%</td>
                        <td colspan="5"></td>
                        <td colspan="4"></td>
                        <td colspan="4"></td>
                    </tr>

                    <tr>
                        <td>За рулём</td>
                        <td>Фотомодуль</td>
                        <td>фотомодули</td>
                        <td>Агентство</td>
                        <td class="nowrap">3 730,00</td>
                        <td class="nowrap">50%</td>
                        <td class="nowrap">1 865,00</td>
                        <td class="nowrap">1 865,00</td>
                        <td></td>

                        <!-- statistics block - январь -->
                        <td class="statistic_col border_block">
                            <div class="report_model stat_color pr"></div>
                            <div class="report_model stat_color indoor"></div>
                            <div class="report_model stat_color outdoor"></div>
                            <div class="report_model stat_color crm"></div>
                            <div class="report_model stat_color press"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model stat_color pr"></div>
                            <div class="report_model stat_color indoor"></div>
                            <div class="report_model stat_color outdoor"></div>
                            <div class="report_model stat_color crm"></div>
                            <div class="report_model stat_color press"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model stat_color pr"></div>
                            <div class="report_model stat_color indoor"></div>
                            <div class="report_model stat_color outdoor"></div>
                            <div class="report_model stat_color crm"></div>
                            <div class="report_model stat_color press"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model stat_color pr"></div>
                            <div class="report_model stat_color indoor"></div>
                            <div class="report_model stat_color outdoor"></div>
                            <div class="report_model stat_color crm"></div>
                            <div class="report_model stat_color press"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model stat_color pr"></div>
                            <div class="report_model stat_color indoor"></div>
                            <div class="report_model stat_color outdoor"></div>
                            <div class="report_model stat_color crm"></div>
                            <div class="report_model stat_color press"></div>
                        </td>

                        <!-- statistics block - февраль -->
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>

                        <!-- statistics block - март -->
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                    </tr>

                    <tr>
                        <td>Автоцентр</td>
                        <td>Фотомодуль</td>
                        <td>фотомодули</td>
                        <td>Агентство</td>
                        <td class="nowrap">3 730,00</td>
                        <td class="nowrap">50%</td>
                        <td class="nowrap">1 865,00</td>
                        <td class="nowrap">1 865,00</td>
                        <td></td>

                        <!-- statistics block - январь -->
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>

                        <!-- statistics block - февраль -->
                        <td class="statistic_col border_block">
                            <div class="report_model stat_color pr"></div>
                            <div class="report_model stat_color indoor"></div>
                            <div class="report_model stat_color outdoor"></div>
                            <div class="report_model stat_color crm"></div>
                            <div class="report_model stat_color press"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model stat_color pr"></div>
                            <div class="report_model stat_color indoor"></div>
                            <div class="report_model stat_color outdoor"></div>
                            <div class="report_model stat_color crm"></div>
                            <div class="report_model stat_color press"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model stat_color pr"></div>
                            <div class="report_model stat_color indoor"></div>
                            <div class="report_model stat_color outdoor"></div>
                            <div class="report_model stat_color crm"></div>
                            <div class="report_model stat_color press"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model stat_color pr"></div>
                            <div class="report_model stat_color indoor"></div>
                            <div class="report_model stat_color outdoor"></div>
                            <div class="report_model stat_color crm"></div>
                            <div class="report_model stat_color press"></div>
                        </td>

                        <!-- statistics block - март -->
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                    </tr>

                    <tr>
                        <td>Автоцентр</td>
                        <td>Фотомодуль</td>
                        <td>фотомодули</td>
                        <td>Агентство</td>
                        <td class="nowrap">3 730,00</td>
                        <td class="nowrap">50%</td>
                        <td class="nowrap">1 865,00</td>
                        <td class="nowrap">1 865,00</td>
                        <td></td>

                        <!-- statistics block - январь -->
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>

                        <!-- statistics block - февраль -->
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>

                        <!-- statistics block - март -->
                        <td class="statistic_col border_block">
                            <div class="report_model stat_color pr"></div>
                            <div class="report_model stat_color indoor"></div>
                            <div class="report_model stat_color outdoor"></div>
                            <div class="report_model stat_color crm"></div>
                            <div class="report_model stat_color press"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model stat_color pr"></div>
                            <div class="report_model stat_color indoor"></div>
                            <div class="report_model stat_color outdoor"></div>
                            <div class="report_model stat_color crm"></div>
                            <div class="report_model stat_color press"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model stat_color pr"></div>
                            <div class="report_model stat_color indoor"></div>
                            <div class="report_model stat_color outdoor"></div>
                            <div class="report_model stat_color crm"></div>
                            <div class="report_model stat_color press"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model stat_color pr"></div>
                            <div class="report_model stat_color indoor"></div>
                            <div class="report_model stat_color outdoor"></div>
                            <div class="report_model stat_color crm"></div>
                            <div class="report_model stat_color press"></div>
                        </td>
                    </tr>

                    <tr class="group_row">
                        <td class="media_name_width f_bold">Интернет</td>
                        <td>Размер</td>
                        <td>Вид разм.</td>
                        <td>Подрядчик</td>
                        <td class="nowrap">Стоимость, руб.</td>
                        <td>Скидка</td>
                        <td class="nowrap f_bold">50 530,00</td>
                        <td class="nowrap f_bold">50 530,00</td>
                        <td class="nowrap">64,0%</td>
                        <td colspan="5"></td>
                        <td colspan="4"></td>
                        <td colspan="4"></td>
                    </tr>

                    <tr>
                        <td>adwords.google.ru</td>
                        <td>строка</td>
                        <td>Динамика</td>
                        <td>Реалвеб</td>
                        <td class="nowrap">186 189,00</td>
                        <td class="nowrap">0%</td>
                        <td class="nowrap">186 189,00</td>
                        <td class="nowrap">186 189,00</td>
                        <td></td>

                        <!-- statistics block - январь -->
                        <td class="statistic_col border_block">
                            <div class="report_model stat_color tv"></div>
                            <div class="report_model stat_color other"></div>
                            <div class="report_model stat_color crm"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model stat_color tv"></div>
                            <div class="report_model stat_color other"></div>
                            <div class="report_model stat_color crm"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model stat_color tv"></div>
                            <div class="report_model stat_color other"></div>
                            <div class="report_model stat_color crm"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model stat_color tv"></div>
                            <div class="report_model stat_color other"></div>
                            <div class="report_model stat_color crm"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model stat_color tv"></div>
                            <div class="report_model stat_color other"></div>
                            <div class="report_model stat_color crm"></div>
                        </td>

                        <!-- statistics block - февраль -->
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>

                        <!-- statistics block - март -->
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                    </tr>

                    <tr>
                        <td>direct.yandex.ru</td>
                        <td>строка</td>
                        <td>Динамика</td>
                        <td>Реалвеб</td>
                        <td class="nowrap">186 189,00</td>
                        <td class="nowrap">0%</td>
                        <td class="nowrap">186 189,00</td>
                        <td class="nowrap">186 189,00</td>
                        <td></td>

                        <!-- statistics block - январь -->
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>

                        <!-- statistics block - февраль -->
                        <td class="statistic_col border_block">
                            <div class="report_model stat_color tv"></div>
                            <div class="report_model stat_color other"></div>
                            <div class="report_model stat_color crm"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model stat_color tv"></div>
                            <div class="report_model stat_color other"></div>
                            <div class="report_model stat_color crm"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model stat_color tv"></div>
                            <div class="report_model stat_color other"></div>
                            <div class="report_model stat_color crm"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model stat_color tv"></div>
                            <div class="report_model stat_color other"></div>
                            <div class="report_model stat_color crm"></div>
                        </td>

                        <!-- statistics block - март -->
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                    </tr>

                    <tr>
                        <td>direct.yandex.ru</td>
                        <td>строка</td>
                        <td>Динамика</td>
                        <td>Реалвеб</td>
                        <td class="nowrap">186 189,00</td>
                        <td class="nowrap">0%</td>
                        <td class="nowrap">186 189,00</td>
                        <td class="nowrap">186 189,00</td>
                        <td></td>

                        <!-- statistics block - январь -->
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>

                        <!-- statistics block - февраль -->
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                            <div class="report_model"></div>
                        </td>

                        <!-- statistics block - март -->
                        <td class="statistic_col border_block">
                            <div class="report_model stat_color tv"></div>
                            <div class="report_model stat_color other"></div>
                            <div class="report_model stat_color crm"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model stat_color tv"></div>
                            <div class="report_model stat_color other"></div>
                            <div class="report_model stat_color crm"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model stat_color tv"></div>
                            <div class="report_model stat_color other"></div>
                            <div class="report_model stat_color crm"></div>
                        </td>
                        <td class="statistic_col border_block">
                            <div class="report_model stat_color tv"></div>
                            <div class="report_model stat_color other"></div>
                            <div class="report_model stat_color crm"></div>
                        </td>
                    </tr>

                    <tr class="group_row">
                        <td class="media_name_width f_bold">Литература</td>
                        <td>Описание</td>
                        <td></td>
                        <td>Подрядчик</td>
                        <td class="nowrap">Стоимость, руб.</td>
                        <td>Скидка</td>
                        <td class="nowrap f_bold">0,00</td>
                        <td class="nowrap f_bold">0,00</td>
                        <td class="nowrap">0,0%</td>
                        <td colspan="5"></td>
                        <td colspan="4"></td>
                        <td colspan="4"></td>
                    </tr>

                </table><!--/table_item -->
            </div><!--/primary_table -->


            <div class="tab_padding_block clearfix">
                <div class="btns_wrap fl_right mb20">
                    <a href="#" class="theme_btn_light">Загрузить отчет</a>
                    <a href="#" class="theme_btn_light">Загрузить отчет по размещению</a>
                </div>
            </div>
        
    
        </div><!-- /tab_content_wrapper -->


        <div class="btns_wrap txt_right mt20">
            <a href="#" class="theme_btn">Сохранить</a>
            <a href="#" class="theme_btn_light">Отправить вперёд</a>
            <a href="#" class="nav_link grey_link">Отмена</a>
        </div>



    </div><!--/inside_wrapper -->

</article><!--/main_content -->



@@include('template/footer.html')

<!-- здесь подключать скрипт для этой страницы -->

@@include('template/footer_end.html')
       