@@include('template/head.html', { "title": "Регистрация" })

@@include('template/header_login.html')



<article class="main_content">
    

    <!-- CONTENT BLOCK -->
    <div class="content_block inside_wrapper clearfix">

        <h1 class="primary_title mt10">Заявка на регистрацию отправлена</h1>

        <div class="success_msg">После ее рассмотрения вы получите сообщение на указанный адрес электронной почты.</div>

    </div><!--/inside_wrapper -->



</article><!--/main_content -->










@@include('template/footer.html')

<!-- здесь подключать скрипт для этой страницы -->

@@include('template/footer_end.html')
       