@@include('template/head.html', { "title": "Регистрация" })

@@include('template/header_login.html')



<article class="main_content">
    

    <!-- CONTENT BLOCK -->
    <div class="content_block inside_wrapper clearfix">

        <h1 class="primary_title mt10">Регистрация нового пользователя </h1>

        <div class="form_wrapper reg_form">
            <form action="">
                <div class="form_block">
                    <h2 class="form_block_title">Личная информация</h2>

                    <div class="form_field"><!-- add class 'error' to show errors -->
                        <div class="field_title">Имя <span class="require">*</span></div>
                        <div class="field_elem">
                            <input type="text" class="inp_txt field_small">
                            <div class="error_txt">Поле заполнено с ошибкой</div>
                        </div>
                    </div><!-- /form_field -->
                    <div class="form_field">
                        <div class="field_title">Фамилия <span class="require">*</span></div>
                        <div class="field_elem">
                            <input type="text" class="inp_txt field_small">
                        </div>
                    </div><!-- /form_field -->
                    <div class="form_field">
                        <div class="field_title">Телефон <span class="require">*</span></div>
                        <div class="field_elem phone_field">
                            <span class="phone_prefix">+7</span><input type="text" class="inp_txt field_small js_phone_mask">
                        </div>
                    </div><!-- /form_field -->
                    <div class="form_field">
                        <div class="field_title">Email <span class="require">*</span></div>
                        <div class="field_elem">
                            <input type="text" class="inp_txt field_small">
                        </div>
                    </div><!-- /form_field -->
                </div><!-- /form_block -->

                <div class="form_block">
                    <h2 class="form_block_title">Информация о должности и месте работы</h2>

                    <div class="form_field">
                        <div class="field_title">Город</div>
                        <div class="field_elem">
                            <input type="text" class="inp_txt field_small">
                        </div>
                    </div><!-- /form_field -->
                    <div class="form_field">
                        <div class="field_title">Дилер</div>
                        <div class="field_elem">
                            <input type="text" class="inp_txt field_small">
                        </div>
                    </div><!-- /form_field -->
                    <div class="form_field">
                        <div class="field_title">Должность</div>
                        <div class="field_elem">
                            <div class="select_wrap field_small">
                                <select class="js_chosen_select">
                                    <option></option>
                                    <option>Менеджер по маркетингу</option>
                                    <option>Менеджер по маркетингу</option>
                                    <option>Менеджер по маркетингу</option>
                                    <option>Менеджер по маркетингу</option>
                                </select>
                                <svg class="icon">
                                    <use xlink:href="resources/img/sprite.svg#Dropdown">
                                </svg>
                            </div>
                        </div>
                    </div><!-- /form_field -->
                </div><!-- /form_block -->
                
                <div class="form_field pull_left">
                    <label class="inp_checkbox">
                        <input type="checkbox" checked>
                        <span class="check_icon">
                            <svg class="icon">
                                <use xlink:href="resources/img/sprite.svg#Check">
                            </svg> 
                        </span>
                        <span class="title">Нажимая кнопку «Зарегистрироваться», я подтверждаю свою 
                        дееспособность и даю <a href="#" class="js_popup" data-popup="#popup">согласие на обработку персональных данных.</a></span>
                    </label>
                </div><!-- /form_field -->
              
                <div class="form_field pull_left btns_wrap">
                    <input type="submit" class="theme_btn" value="Зарегистрироваться">
                    <a href="#" class="nav_link">У меня уже имеется учетная запись</a>
                </div><!-- /form_field -->
            </form>
        </div>

    </div><!--/inside_wrapper -->



</article><!--/main_content -->



<div class="popup" id="#popup">
    <div class="pop_content">
        <div class="popup_header">
            <a href="#" class="close js_popup_close">
                <svg class="icon icon_delete">
                    <use xlink:href="resources/img/sprite.svg#Delete">
                </svg>
            </a>
        </div>
        
        <div class="popup_scroll_wrap js_custom_scroll">
            <div class="popup_content_inside">
                <h3>Согласие на сбор, обработку и хранение персональных данных с использования Системы DDM ООО «ФОЛЬКСВАГЕН Груп Рус» с участием представителей официальных дилерских предприятий марки Volkswagen в РФ и официальными дилерскими предприятиями марки Volkswagen в РФ.</h3>

                <p>Начиная использовать настоящее Систему DMM Вы (далее Субъект), действуя своей волей и в своем интересе, даете согласие на обработку Ваших персональных данных Обществу с ограниченной ответственностью «ФОЛЬКСВАГЕН Груп Рус» (248926 г. Калуга, ул. Автомобильная, д. 1, ИНН 5042059767), а также Филиалу ООО «ФОЛЬКСВАГЕН Груп Рус» в г. Москве (117485, г. Москва, ул. Обручева, д. 30/1) (далее по тексту Оператор) на следующих условиях:</p>

                <p>1. Оператор осуществляет обработку персональных данных Субъекта исключительно в целях предоставления доступа к Системе DMM.</p>

                <p>2. Перечень персональных данных, передаваемых Оператору на обработку:</p>

                <ul>
                    <li>фамилия, имя, отчество;</li>
                    <li>контактный телефон (дом., сотовый, рабочий);</li>
                    <li>адрес электронной почты.</li>
                </ul>
                
                
                <p>3. Субъект дает согласие на обработку Оператором своих персональных данных, то есть совершение, в том числе, следующих действий: сбор, систематизацию, накопление, хранение (в электронном виде и на бумажном носителе), уточнение (обновление, изменение), использование, распространение (включая трансграничную передачу персональных данных), обезличивание (действия, в результате которых невозможно определить принадлежность персональных данных), блокирование (временное прекращение сбора, систематизации, накопления, использования, распространения персональных данных, в том числе их передачи), уничтожение (действия, в результате которых невозможно восстановить содержание персональных данных в информационной системе персональных данных или в результате которых уничтожаются материальные носители персональных данных).</p>

                <p>4. Субъект дает согласие на передачу Оператором обязанности по обработке персональных данных третьему лицу.</p>

                <p>5. Настоящее согласие действует бессрочно, если оно не было отозвано в соответствии со статьей 9 Федерального закона от 27.07.2006 г. №152-ФЗ «О персональных данных» посредством предоставления подписанного со стороны субъекта персональных данных заявления об отзыве согласия на обработку персональных данных в адрес Филиала ООО «ФОЛЬКСВАГЕН Груп Рус» в г. Москве (117485, г. Москва, ул. Обручева, д. 30/1).</p>

                <p>6. Субъект по письменному запросу имеет право на получение информации, касающейся обработки его персональных данных (в соответствии с п.4 ст.14 Федерального закона от 27.06.2006 № 152-ФЗ).</p>

            </div><!--  /popup_content_inside -->

        </div><!--  /popup_scroll_wrap -->

    </div><!-- /pop_content -->
    
</div><!-- /popup -->






@@include('template/footer.html')

<!-- здесь подключать скрипт для этой страницы -->

@@include('template/footer_end.html')
       