@@include('template/head.html', { "title": "Годовое планирование" })
@@include('template/sidebar.html')
@@include('template/header.html')



<article class="main_content">
    

    <!-- FILTER BLOCK -->
    <div class="filter_wrapper clearfix">
        <div class="inside_wrapper">

            <h1 class="primary_title">Годовое планирование</h1>

            <form>
                <div class="form_field">

                    <div class="field_item_wrap">
                        <div class="field_title">Статус</div>
                        <div class="field_elem select_wrap big_select">
                            <select class="js_chosen_select">
                                <option>Все статусы</option>
                                <option>Закрытые</option>
                                <option>Автоматически заблокировано</option>
                                <option>Закрытие заявки</option>
                                <option>Закрытие заявки Агентством 1 (баер)</option>
                                <option>Закрытие заявки Агентством 2 (аккаунт)</option>
                                <option>Заявка закрыта</option>
                                <option>Заявка закрыта с ошибкой</option>
                                <option>Отклонено Импортером</option>
                                <option>Подгрузить фотоотчеты и статистику</option>
                                <option>Подгрузка статистики Агентством</option>
                                <option>Подгрузка фотоотчетов Агентством</option>
                                <option>Подтверждение макета руководителем</option>
                                <option>Размещение</option>
                                <option>Согласовано</option>
                                <option>Утверждение Агентством 1 (баер)</option>
                                <option>Утверждение Агентством 2 (дизайнер)</option>
                                <option>Утверждение Агентством 3 (аккаунт)</option>
                                <option>Утверждение Импортером</option>
                                <option>Черновик</option>
                            </select>
                            <svg class="icon">
                                <use xlink:href="resources/img/sprite.svg#Dropdown">
                            </svg>
                        </div>
                    </div>

                    <div class="field_item_wrap ml40">
                        <div class="field_title">Дилер</div>
                        <div class="field_elem select_wrap big_select">
                            <select class="js_chosen_select">
                                <option>Все дилеры</option>
                                <option>!Тестовый дилер</option>
                                <option>Genser ВЛК (144)</option>
                                <option>Genser Липецк (257)</option>
                                <option>Genser Реутов (126)</option>
                                <option>Genser Ясенево (147)</option>
                                <option>АА Мэйджор Авто (119)</option>
                                <option>ААА Моторс  (226)</option>
                                <option>Аванта (148)</option>
                                <option>АВИЛОН (127)</option>
                                <option>Авто АЛЕА (125)</option>
                                <option>Авто Ганза (102)</option>
                                <option>АВТО ЗИГЕР (206)</option>
                                <option>Авто Престус (111)</option>
                                <option>Автобан Зап. Пл. (232)</option>
                                <option>Автобан-Юг (293)</option>
                                <option>АвтоБерг (185)</option>
                                <option>Автогранд (217)</option>
                                <option>Авто-Дина (173)</option>
                                <option>Автоимпорт (213)</option>
                                <option>АвтоКлаус Центр (191)</option>
                                <option>АвтоЛюкс (181)</option>
                                <option>Автомир Воронеж (280)</option>
                                <option>Автомир Новосиб (281)</option>
                            </select>
                            <svg class="icon">
                                <use xlink:href="resources/img/sprite.svg#Dropdown">
                            </svg>
                        </div>
                    </div>

                </div><!--/form_field-->

                <div class="form_field">
                    <input type="submit" class="theme_btn fl_right" value="Найти">
                    <div class="filter_clear fl_right">
                        <a href="#" class="filter_clear_link">Сбросить фильтр</a>
                    </div>

                    <div class="field_item_wrap">
                        <div class="field_title">Год</div>
                        <div class="field_elem select_wrap small_select">
                            <select class="js_chosen_select">
                                <option>2015</option>
                                <option>2014</option>
                                <option>2013</option>
                                <option>2012</option>
                            </select>
                            <svg class="icon">
                                <use xlink:href="resources/img/sprite.svg#Dropdown">
                            </svg>
                        </div>
                    </div>

                    <div class="field_item_wrap ml40">
                        <div class="field_title">Полугодие</div>
                        <div class="field_elem select_wrap small_select">
                            <select class="js_chosen_select">
                                <option>1</option>
                                <option>2</option>
                            </select>
                            <svg class="icon">
                                <use xlink:href="resources/img/sprite.svg#Dropdown">
                            </svg>
                        </div>
                    </div>
 

                </div><!--/form_field-->
            </form>
 
        </div><!--/inside_wrapper-->
    </div><!--/filter_wrapper-->





    <!-- CONTENT BLOCK -->
    <div class="content_block inside_wrapper clearfix">

        <div class="content_nav_wrap clearfix">
            <!-- actions button-->
            <div class="btns_wrap fl_right">
                <a href="#" class="theme_btn_light">
                    <svg class="icon icon_plus">
                        <use xlink:href="resources/img/sprite.svg#Add">
                    </svg>Добавить заявку
                </a>
            </div>
            <!-- TABS -->
            <div class="tabs_wrap">
                <a href="#" class="tabs_item js_tabs active"><span class="title">Все заявки</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Мои заявки</span></a>
            </div>
        </div>

        
        <!-- MAIN TABLE -->
        <div class="primary_table">
            <table>
                <!-- table header-->
                <tr class="header_row js_table_header">
                    <th>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox" class="js_table_check_all">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </th>
                    <th><a href="#" class="sort down">№</a></th>
                    <th><a href="#" class="sort down">Дата</a></th>
                    <th><a href="#" class="sort down active">Статус</a></th>
                    <th class="js_td_width_source"><a href="#" class="sort up">Бюджет</a></th>
                    <th class="js_td_width_source"><a href="#" class="sort down">Т.О. %</a></th>
                    <th class="js_td_width_source"><a href="#" class="sort up active">Квартал&nbsp;1</a></th>
                    <th class="js_td_width_source"><a href="#" class="sort down">Квартал&nbsp;2</a></th>
                </tr>

                <!-- table body-->
                <tr>
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td>
                        <a href="#" class="detail_link notice has_tooltip">262082
                            <span class="tooltip">есть обновление</span>
                        </a>
                    </td>
                    <td class="nowrap">13.11 17:52</td>
                    <td>Подгрузить фотоотчеты и статистику</td>
                    <td class="nowrap">83 740,00</td>
                    <td>-</td>
                    <td class="nowrap">0,00</td>
                    <td class="txt_right nowrap">
                        <span>83 740,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td>
                        <a href="#" class="detail_link notice has_tooltip">262082
                            <span class="tooltip">есть обновление</span>
                        </a>
                    </td>
                    <td class="nowrap">13.11 17:52</td>
                    <td>Утверждение Агентством 1 (баер)</td>
                    <td class="nowrap">83 740,00</td>
                    <td>-</td>
                    <td class="nowrap">0,00</td>
                    <td class="txt_right nowrap">
                        <span>83 740,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td><a href="#" class="detail_link">262080</a></td>
                    <td class="nowrap">13.11 16:42</td>
                    <td>Подгрузить фотоотчеты и статистику</td>
                    <td class="nowrap">83 740,00</td>
                    <td>-</td>
                    <td class="nowrap">0,00</td>
                    <td class="txt_right nowrap">
                        <span>83 740,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr class="draft_item">
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td><a href="#" class="detail_link">262078</a></td>
                    <td class="nowrap">13.11 16:12</td>
                    <td>Черновик</td>
                    <td class="nowrap">83 740,00</td>
                    <td>-</td>
                    <td class="nowrap">0,00</td>
                    <td class="txt_right nowrap">
                        <span>83 740,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td><a href="#" class="detail_link">262076</a></td>
                    <td class="nowrap">13.11 16:12</td>
                    <td>Утверждение Агентством 3 (аккаунт)</td>
                    <td class="nowrap">83 740,00</td>
                    <td>-</td>
                    <td class="nowrap">0,00</td>
                    <td class="txt_right nowrap">
                        <span>83 740,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td><a href="#" class="detail_link">262082</a></td>
                    <td class="nowrap">13.11 17:52</td>
                    <td>Подгрузить фотоотчеты и статистику</td>
                    <td class="nowrap">83 740,00</td>
                    <td>-</td>
                    <td class="nowrap">0,00</td>
                    <td class="txt_right nowrap">
                        <span>83 740,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td><a href="#" class="detail_link">262082</a></td>
                    <td class="nowrap">13.11 17:52</td>
                    <td>Утверждение Агентством 1 (баер)</td>
                    <td class="nowrap">83 740,00</td>
                    <td>-</td>
                    <td class="nowrap">0,00</td>
                    <td class="txt_right nowrap">
                        <span>83 740,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td>
                        <a href="#" class="detail_link alarm has_tooltip">262080
                            <span class="tooltip">отклонена</span>
                        </a>
                    </td>
                    <td class="nowrap">13.11 16:42</td>
                    <td>Подгрузить фотоотчеты и статистику</td>
                    <td class="nowrap">83 740,00</td>
                    <td>-</td>
                    <td class="nowrap">0,00</td>
                    <td class="txt_right nowrap">
                        <span>83 740,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr class="draft_item">
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td>
                        <a href="#" class="detail_link notice has_tooltip">262082
                            <span class="tooltip">есть обновление</span>
                        </a>
                    </td>
                    <td class="nowrap">13.11 16:12</td>
                    <td>Черновик</td>
                    <td class="nowrap">83 740,00</td>
                    <td>-</td>
                    <td class="nowrap">0,00</td>
                    <td class="txt_right nowrap">
                        <span>83 740,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td><a href="#" class="detail_link">262076</a></td>
                    <td class="nowrap">13.11 16:12</td>
                    <td>Утверждение Агентством 3 (аккаунт)</td>
                    <td class="nowrap">83 740,00</td>
                    <td>-</td>
                    <td class="nowrap">0,00</td>
                    <td class="txt_right nowrap">
                        <span>83 740,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td><a href="#" class="detail_link">262082</a></td>
                    <td class="nowrap">13.11 17:52</td>
                    <td>Подгрузить фотоотчеты и статистику</td>
                    <td class="nowrap">83 740,00</td>
                    <td>-</td>
                    <td class="nowrap">0,00</td>
                    <td class="txt_right nowrap">
                        <span>83 740,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td>
                        <a href="#" class="detail_link approve has_tooltip">262081
                            <span class="tooltip">завершена</span>
                        </a>
                    </td>
                    <td class="nowrap">13.11 17:52</td>
                    <td>Утверждение Агентством 1 (баер)</td>
                    <td class="nowrap">83 740,00</td>
                    <td>-</td>
                    <td class="nowrap">0,00</td>
                    <td class="txt_right nowrap">
                        <span>83 740,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td><a href="#" class="detail_link">262080</a></td>
                    <td class="nowrap">13.11 16:42</td>
                    <td>Подгрузить фотоотчеты и статистику</td>
                    <td class="nowrap">83 740,00</td>
                    <td>-</td>
                    <td class="nowrap">0,00</td>
                    <td class="txt_right nowrap">
                        <span>83 740,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr class="draft_item">
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td><a href="#" class="detail_link">262078</a></td>
                    <td class="nowrap">13.11 16:12</td>
                    <td>Черновик</td>
                    <td class="nowrap">83 740,00</td>
                    <td>-</td>
                    <td class="nowrap">0,00</td>
                    <td class="txt_right nowrap">
                        <span>83 740,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="table_dropdown_wrap">
                            <div class="btn_wrap js_dropdown_trigger">
                                <label class="inp_checkbox js_dropdown_prevent">
                                    <input type="checkbox">
                                    <span class="check_icon">
                                        <svg class="icon">
                                            <use xlink:href="resources/img/sprite.svg#Check">
                                        </svg> 
                                    </span>
                                </label>
                            </div>
                            <ul class="dropdown_list js_dropdown_item">
                                <li><a href="#">Редактировать</a></li>
                                <li><a href="#">Переместить вперед</a></li>
                                <li><a href="#">Вернуть в черновик</a></li>
                                <li><a href="#">Добавить макет</a></li>
                                <li><a href="#">Добавить сообщение</a></li>
                                <li><a href="#">Выгрузить в Excel</a></li>
                            </ul>
                        </div><!-- /table_dropdown_wrap -->
                    </td>
                    <td><a href="#" class="detail_link">262076</a></td>
                    <td class="nowrap">13.11 16:12</td>
                    <td>Утверждение Агентством 3 (аккаунт)</td>
                    <td class="nowrap">83 740,00</td>
                    <td>-</td>
                    <td class="nowrap">0,00</td>
                    <td class="txt_right nowrap">
                        <span>83 740,00</span>
                        <div class="hover_icons_wrapper">
                            <div class="table_hover_icons">
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_copy">
                                        <use xlink:href="resources/img/sprite.svg#Copy">
                                    </svg>
                                    <span class="tooltip">Копировать</span>
                                </a> 
                                <a href="#" class="icon_item has_tooltip">
                                    <svg class="icon icon_edit">
                                        <use xlink:href="resources/img/sprite.svg#Edit">
                                    </svg>
                                    <span class="tooltip">Изменить</span>
                                </a>
                                <a href="#" class="icon_item alarm js_system_pop has_tooltip">
                                    <svg class="icon icon_delete">
                                        <use xlink:href="resources/img/sprite.svg#Delete">
                                    </svg>
                                    <span class="tooltip">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
              
            </table><!--/table_item -->
        </div><!--/primary_table -->

        
        <div class="table_fix_head body_minwidth js_gorizont_scroll js_popup_show_margin">
            <div class="inside_wrapper">
                <div class="primary_table">
                    <table>
                        <!-- table header-->
                        <tr class="header_row js_fixed_table_header"></tr>
                    </table>
                </div>
            </div>
        </div>


    </div><!--/inside_wrapper -->

    <div class="primary_table_total body_minwidth js_fix_total js_gorizont_scroll">
        <div class="inside_wrapper clearfix">
            <table class="table_total_item js_total_table">
                <tr>
                    <td colspan="3">Всего 2 351 заявка</td>
                    <td class="txt_right">Итого:</td>
                    <td class="js_td_width">86 306 348,39</td>
                    <td class="js_td_width"></td>
                    <td class="js_td_width">186 306 348,39</td>
                    <td class="js_td_width txt_right">186 306 348,39</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="arrow_scroll_top js_scroll_top_btn">
        <svg class="icon icon_delete">
            <use xlink:href="resources/img/sprite.svg#Arrow_up">
        </svg>
    </div>

</article><!--/main_content -->




@@include('template/sys_msg.html', { "msg": "Вы действительно хотите удалить заявку?" })





@@include('template/footer.html')

<!-- здесь подключать скрипт для этой страницы -->

@@include('template/footer_end.html')
       