@@include('template/head.html', { "title": "Годовое планирование: заявка" })
@@include('template/sidebar.html')
@@include('template/header.html')

<article class="main_content">


    <!-- CONTENT BLOCK -->
    <div class="content_block inside_wrapper clearfix">

        <h1 class="primary_title">Планирование на первое полугодие 2015 года. Заявка №273221</h1>


        <div class="sys_content_header">
            <div class="primary_item_info">
                <div class="item">
                    <span class="title">Дилер</span>
                    <a href="#" class="info">Тестовый дилер</a>
                </div>
                <div class="item">
                    <span class="title">Срок подготовки</span>
                    <span class="info">
                        <div class="select_wrap field_elem field_super_small">
                            <select class="js_chosen_select">
                                <option>09.02.2016</option>
                                <option>09.02.2015</option>
                                <option>09.02.2016</option>
                                <option>09.02.2015</option>
                                <option>09.02.2016</option>
                                <option>09.02.2015</option>
                            </select>
                            <svg class="icon">
                                <use xlink:href="resources/img/sprite.svg#Dropdown">
                            </svg>
                        </div>
                    </span>
                </div>
            </div>

            <div class="status_edit_wrapper">
                <div class="status_edit_item txt_right">
                    <span class="title">Статус:</span>
                    <span class="current">Черновик</span>
                </div>
                
                <div class="status_edit_item">
                    <a href="#" class="theme_btn">Сохранить</a>
                    <div class="status_drop">
                        <a href="#" class="theme_btn_light status_btn">Утверждение Агентством 1 (Байер)</a>
                        <a href="#" class="theme_btn_light icon_btn js_select_drop status_btn_drop">
                            <svg class="icon icon_select">
                                <use xlink:href="resources/img/sprite.svg#Dropdown">
                            </svg>
                        </a>
                        <div class="dropdown_item js_select_drop_item status_dropdown">
                            <ul class="status_group ul_simple">
                                <li class="current">Черновик</li>
                                <li class="active"><a href="#">Утверждение Агентством 1 (Байер)</a></li>
                                <li>Утверждение Агентством 2 (Дизайнер)</li>
                                <li>Утверждение Агентством 3 (Аккаунт)</li>
                                <li>Отчеты и статистика</li>
                                <li>Закрытие заявки Агентством (Аккаунт)</li>
                                <li>Закрытие заявки Агентством (Менеджер по размещению )</li>
                            </ul>
                            <ul class="status_group ul_simple">
                                <li class="active"><a href="#">Импортёр</a></li>
                            </ul>
                        </div>
                    </div>
                    <a href="#" class="nav_link grey_link">Закрыть</a>
                </div>
            </div>
        </div><!-- /sys_content_header -->


        <div class="content_nav_wrap clearfix">
            <!-- TABS -->
            <div class="tabs_wrap light_tabs">
                <a href="#" class="tabs_item js_tabs active"><span class="title">Заявка</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Сообщения</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Отчеты и статистика</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">Статусы</span></a>
                <a href="#" class="tabs_item js_tabs"><span class="title">История</span></a>
            </div>
        </div>

     

        <div class="tab_content_wrapper no_padding">

            <div class="tab_padding_block">
                <p>В полях бюджет должен быть указан общий маркетинговый бюджет, а не собственные расходы. <br>В общий маркетинговый бюджет не входят размещения, которые планируется выполнить в рамках программы компенсации.</p>

                <h2>План по моделям</h2>
            </div>


            <div class="primary_table table_inside_form">
                <table>
                    <!-- table header-->
                    <tr class="header_row">
                        <th>Модель</th>
                        <th>План продаж</th>
                        <th>Бюджет</th>
                        <th>Доля</th>
                        <th>Бюджет</th>
                    </tr>

                    <!-- table body-->
                    <tr>
                        <td>Polo Sedan</td>
                        <td><input type="text" class="inp_txt field_small" value="52"></td>
                        <td>245 670,00</td>
                        <td>28 607 456,40</td>
                        <td><input type="text" class="inp_txt field_medium" value="211 090,04"></td>
                    </tr>
                    <tr>
                        <td>Tiguan</td>
                        <td><input type="text" class="inp_txt field_small" value="19"></td>
                        <td>243 680,00</td>
                        <td>30 890 300,00</td>
                        <td><input type="text" class="inp_txt field_medium" value="347 890,00"></td>
                    </tr>
                    <tr>
                        <td>Jetta</td>
                        <td><input type="text" class="inp_txt field_small" value="15"></td>
                        <td>2 567 790,00</td>
                        <td>11 859 400,00</td>
                        <td><input type="text" class="inp_txt field_medium" value="4 989 560,80"></td>
                    </tr>
                    <tr>
                        <td>Polo Sedan</td>
                        <td><input type="text" class="inp_txt field_small" value="0"></td>
                        <td>245 670,00</td>
                        <td>0</td>
                        <td><input type="text" class="inp_txt field_medium" value="0,00"></td>
                    </tr>
                    <tr>
                        <td>Tiguan</td>
                        <td><input type="text" class="inp_txt field_small" value="0"></td>
                        <td>243 680,00</td>
                        <td>0</td>
                        <td><input type="text" class="inp_txt field_medium" value="0,00"></td>
                    </tr>
                    <tr>
                        <td>Jetta</td>
                        <td><input type="text" class="inp_txt field_small" value="0"></td>
                        <td>2 567 790,00</td>
                        <td>0</td>
                        <td><input type="text" class="inp_txt field_medium" value="0,00"></td>
                    </tr>
                    <tr>
                        <td colspan="4">Общая кампания</td>
                        <td><input type="text" class="inp_txt field_medium" value="243 968,00"></td>
                    </tr>
                    <tr>
                        <td colspan="4">DWA</td>
                        <td><input type="text" class="inp_txt field_medium" value="0,00"></td>
                    </tr>
                    <tr>
                        <td class="f_bold">Итого:</td>
                        <td class="f_bold" colspan="2">87</td>
                        <td class="f_bold">84 506 490,40</td>
                        <td class="f_bold">34 680 450,00</td>
                    </tr>
                    <tr>
                        <td class="f_bold" colspan="4">Объем средств, на который уменьшен минимальный маркетинговый бюджет, за счет исключения доли корпоративных продаж:</td>
                        <td class="f_bold">0,00</td>
                    </tr>
                    <tr>
                        <td class="f_bold" colspan="4">Минимальный маркетинговый бюджет (1.1%) без НДС:</td>
                        <td class="f_bold">0,00</td>
                    </tr>

                </table><!--/table_item -->
            </div><!--/primary_table -->


            <div class="tab_padding_block">
                <h2>План по носителям и месяцам</h2>
            </div>



            <div class="primary_table table_inside_form js_custom_scroll_horizontal">
                <table>
                    <!-- table header-->
                    <tr class="header_row">
                        <th>Медиа</th>
                        <th>Январь</th>
                        <th>Февраль</th>
                        <th>Март</th>
                        <th>Апрель</th>
                        <th>Май</th>
                        <th>Июнь</th>
                        <th>Июль</th>
                        <th>Август</th>
                        <th>Сентабрь</th>
                        <th>Ноябрь</th>
                        <th>Декабрь</th>
                        <th>Бюджет</th>
                        <th>Доля</th>
                    </tr>

                    <!-- table body-->
                    <tr>
                        <td>Радио</td>
                        <td><input type="text" class="inp_txt field_small" value="0,00"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td>28 461</td>
                        <td>20,8%</td>
                    </tr>
                    <tr>
                        <td>ТВ</td>
                        <td><input type="text" class="inp_txt field_small" value="0,00"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td>28 461</td>
                        <td>20,8%</td>
                    </tr>
                    <tr>
                        <td>Интернет</td>
                        <td><input type="text" class="inp_txt field_small" value="0,00"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td>28 461</td>
                        <td>20,8%</td>
                    </tr>
                    <tr>
                        <td>Наружная реклама</td>
                        <td><input type="text" class="inp_txt field_small" value="0,00"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td>28 461</td>
                        <td>20,8%</td>
                    </tr>
                    <tr>
                        <td>Pressa</td>
                        <td><input type="text" class="inp_txt field_small" value="0,00"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td>28 461</td>
                        <td>20,8%</td>
                    </tr>
                    <tr>
                        <td>CRM</td>
                        <td><input type="text" class="inp_txt field_small" value="0,00"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td>28 461</td>
                        <td>20,8%</td>
                    </tr>
                    <tr>
                        <td>Indoor</td>
                        <td><input type="text" class="inp_txt field_small" value="0,00"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td><input type="text" class="inp_txt field_small" value="211 090,04"></td>
                        <td>28 461</td>
                        <td>20,8%</td>
                    </tr>
                    <tr>
                        <td class="f_bold">Итого:</td>
                        <td class="f_bold">3 460 090,08</td>
                        <td class="f_bold">211 090,04</td>
                        <td class="f_bold">211 090,04</td>
                        <td class="f_bold">211 090,04</td>
                        <td class="f_bold">211 090,04</td>
                        <td class="f_bold">211 090,04</td>
                        <td class="f_bold">211 090,04</td>
                        <td class="f_bold">211 090,04</td>
                        <td class="f_bold">211 090,04</td>
                        <td class="f_bold">211 090,04</td>
                        <td class="f_bold">211 090,04</td>
                        <td class="f_bold">130 780</td>
                        <td class="f_bold">100%</td>
                    </tr>
                </table><!--/table_item -->
            </div><!--/primary_table -->



            <div class="tab_padding_block">
                <div class="btns_wrap fl_right">
                    <a href="#" class="theme_btn_light">
                        <svg class="icon icon_plus">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="resources/img/sprite.svg#Add">
                        </use></svg>Добавить мероприятие
                    </a>
                </div>
                <h2>Мероприятия</h2>
            </div>

            
            <div class="primary_table table_inside_form">
                <table>
                    <!-- table header-->
                    <tr class="header_row">
                        <th>Название мероприятия</th>
                        <th>Период проведения</th>
                        <th>Модели</th>
                        <th></th>
                    </tr>

                    <!-- table body-->
                    <tr>
                        <td>Мероприятие</td>
                        <td>31.02.2016 - 14.02.2016</td>
                        <td>Jetta</td>
                        <td class="txt_right">
                            <div class="hover_icons_wrapper">
                                <div class="table_hover_icons">
                                    <a href="#" class="icon_item has_tooltip">
                                        <svg class="icon icon_copy">
                                            <use xlink:href="resources/img/sprite.svg#Copy">
                                        </svg>
                                        <span class="tooltip">Копировать</span>
                                    </a> 
                                    <a href="#" class="icon_item has_tooltip">
                                        <svg class="icon icon_edit">
                                            <use xlink:href="resources/img/sprite.svg#Edit">
                                        </svg>
                                        <span class="tooltip">Изменить</span>
                                    </a>
                                    <a href="#" class="icon_item alarm has_tooltip">
                                        <svg class="icon icon_delete">
                                            <use xlink:href="resources/img/sprite.svg#Delete">
                                        </svg>
                                        <span class="tooltip">Удалить</span>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table><!--/table_item -->
            </div><!--/primary_table -->




            <div class="tab_padding_block">
                <div class="btns_wrap fl_right">
                    <a href="#" class="theme_btn_light">
                        <svg class="icon icon_group">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="resources/img/sprite.svg#Add_group">
                        </use></svg>Добавить еще размещение
                    </a>
                </div>
                <h2>Размещения</h2>
            </div>

            
            <div class="primary_table table_inside_form">
                <table>
                    <!-- table header-->
                    <tr class="header_row">
                        <th>Носитель</th>
                        <th>Период</th>
                        <th>Модель</th>
                        <th></th>
                    </tr>

                    <!-- table body-->
                    <tr>
                        <td>
                            <div class="type_source">
                                <div class="icon_type">
                                    <svg class="icon icon_type">
                                        <use xlink:href="resources/img/sprite.svg#Press">
                                    </svg> 
                                </div>
                                <span>Пресса</span>
                            </div>
                        </td>
                        <td>31.02.2016 - 14.02.2016</td>
                        <td>Jetta</td>
                        <td class="txt_right">
                            <div class="hover_icons_wrapper">
                                <div class="table_hover_icons">
                                    <a href="#" class="icon_item has_tooltip">
                                        <svg class="icon icon_copy">
                                            <use xlink:href="resources/img/sprite.svg#Copy">
                                        </svg>
                                        <span class="tooltip">Копировать</span>
                                    </a> 
                                    <a href="#" class="icon_item has_tooltip">
                                        <svg class="icon icon_edit">
                                            <use xlink:href="resources/img/sprite.svg#Edit">
                                        </svg>
                                        <span class="tooltip">Изменить</span>
                                    </a>
                                    <a href="#" class="icon_item alarm has_tooltip">
                                        <svg class="icon icon_delete">
                                            <use xlink:href="resources/img/sprite.svg#Delete">
                                        </svg>
                                        <span class="tooltip">Удалить</span>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="type_source">
                                <div class="icon_type">
                                    <svg class="icon icon_type">
                                        <use xlink:href="resources/img/sprite.svg#Radio">
                                    </svg> 
                                </div>
                                <span>Радио</span>
                            </div>
                        </td>
                        <td>01.03.2016 - 26.03.2016</td>
                        <td>DWA</td>
                        <td class="txt_right">
                            <div class="hover_icons_wrapper">
                                <div class="table_hover_icons">
                                    <a href="#" class="icon_item has_tooltip">
                                        <svg class="icon icon_copy">
                                            <use xlink:href="resources/img/sprite.svg#Copy">
                                        </svg>
                                        <span class="tooltip">Копировать</span>
                                    </a> 
                                    <a href="#" class="icon_item has_tooltip">
                                        <svg class="icon icon_edit">
                                            <use xlink:href="resources/img/sprite.svg#Edit">
                                        </svg>
                                        <span class="tooltip">Изменить</span>
                                    </a>
                                    <a href="#" class="icon_item alarm has_tooltip">
                                        <svg class="icon icon_delete">
                                            <use xlink:href="resources/img/sprite.svg#Delete">
                                        </svg>
                                        <span class="tooltip">Удалить</span>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table><!--/table_item -->
            </div><!--/primary_table -->


            <div class="tab_padding_block">
                <div class="form_field tab_block_comment">
                    <div class="field_title">Комментарий</div>
                    <div class="field_elem">
                        <textarea class="inp_textarea"></textarea>
                    </div><!-- /field_elem -->
                </div>
            </div>
        
    
        </div><!-- /tab_content_wrapper -->


        <div class="btns_wrap txt_right mt20">
            <a href="#" class="theme_btn">Сохранить</a>
            <a href="#" class="theme_btn_light">Отправить вперёд</a>
            <a href="#" class="nav_link grey_link">Отмена</a>
        </div>



    </div><!--/inside_wrapper -->

</article><!--/main_content -->



@@include('template/footer.html')

<!-- здесь подключать скрипт для этой страницы -->

@@include('template/footer_end.html')
       